{{ define "base" }}

<head>
  <title>{{.Title}}</title>
  <meta name="description"
    content="Karriere bei CIB: unsere Angebote für Schüler, Studenten, Absolventen, Berufserfahrene, Quereinsteiger und Initiativbewerber in der IT-Branche.">
  <meta name="keywords" content="Jobs, Ausbildung, Karriere">
</head>

<!-- slideshow -->
{{ partial "slideshow.html" . }}

<!-- Job content -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <h1 class="mb-5">{{.Params.Job.Title | safeHTML }}</h1>
            <p class="card-text">{{.Params.Job.TextLine1 | safeHTML }}</p>
            <p class="card-text">{{.Params.Job.TextLine2 | safeHTML }}</p>
            <p class="card-text">{{.Params.Job.TextLine3 | safeHTML }}</p>
            <p class="card-text">{{.Params.Job.TextLine4 | safeHTML }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CTA -->
{{ partial "jobcontact.html" . }}



{{ end }}