@charset "UTF-8";

.megamenu-title {
    font-size: 1.5rem;
}

.megamenu-field:hover {
    background-color: aliceblue;
}

.megamenu-Sub-title {
    font-size: 18px;
    font-weight: 600;
    color: #212934;
    line-height: 1.5rem;
}

.megamenu-description {
    font-size: 14px !important;
    line-height: 19px !important;
    font-weight: 300 !important;
    color: #96a0a5 !important;
}

.megamenu-description:hover {
    font-size: 14px !important;
    line-height: 19px !important;
    font-weight: 300 !important;
    color: #96a0a5 !important;
}

.megamenu-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: unset !important;
    padding: .5rem 0;
    margin: 0rem 0 0 !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: unset !important;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: unset !important;
}

@media (min-width: 992px) {
    .navbar .megamenu {
        padding: 40px !important;
    }
}

.navbar-nav li .dropdown-menu {
    margin-top: 0px;
    visibility: visible;
    border-radius: 0;
    font-weight: bold;
    transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
}

.material-icons-red {
    color: #E11E19;
}

.carousel-control-next {
    right: -40px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    color: #fff;
    text-align: center;
}

.carousel-control-prev {
    left: -40px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}