{{ define "base" }}

<!-- full IMG section -->
<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
  .content_6 {
    background-image: url(/images/our_story_banner.png);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    .content_6 {
      background-image: url(/images/our_story_banner.png);
    }
  }
</style>

<section class="content_6 pt-300 pb-200">
  <div class="container px-xl-0 text-center color-white">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">

      </div>
    </div>
  </div>
</section>

<!-- Our Story -->

<section class="pt-100 pb-100 bg-light content_3">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="small text-center" data-aos-duration="300" data-aos="fade-down"
        data-aos-delay="0">{{.Params.OurStory.Title | safeHTML }}
        </h2>
        <div class="mt-30 row f-18 medium color-heading text-center text-md-left blocks" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="0">
          <div class="mt-30 col-md-12 text-adaptive">{{.Params.OurStory.Text | safeHTML }}
          </div>
          <div class="mt-30 col-md-12 text-adaptive">{{.Params.OurStory.Text2 | safeHTML }}
          </div>

        </div>
      </div>
      <!--<div class="row justify-content-left">
        <div class="col-xl-5 col-lg-5 col-md-8 mt-5 mt-lg-0 pt-10 right_block">
          <div class="w-full h-265 radius10 video0" data-ratio="16/9">
            <div class="radius10 poster" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
              <img srcset="/i/header_3_video_poster@2x.jpg 2x" src="/i/header_3_video_poster.jpg" alt="" />
              <div class="play red"><i class="fas fa-play"></i></div>
            </div>
            <video class="video0" controls>
              <source src="/video/our_story.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>-->
    </div>
  </div>

</section>

<!-- Feature 34 -->
<section class="pt-100 pb-120 bg-light feature_34">
  <div class="container px-xl-0">
    <div class="row align-items-center text-center text-sm-left">

      <div class="col-lg-6 col-sm-6">
        <h2 class="mb-20 small" data-aos-duration="300" data-aos="fade-down"
        data-aos-delay="0">{{.Params.OurMission.Title | safeHTML }}</h2>
        <div class="mb-40 mb-sm-0 f-24 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="0">{{.Params.OurMission.SubTitle | safeHTML }}<br><br>
        </div>
        <div class="mb-40 mb-sm-0 f-18 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="0">{{.Params.OurMission.Text | safeHTML }}
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5" data-aos-duration="900" data-aos="fade-down"
      data-aos-delay="0">
        <img src="/img/pamdashboard.png" srcset="i/feature_34_img@2x.png 2x" alt="" class="img" />
      </div>
    </div>
  </div>
</section>

<!-- section our team -->

<div class="container pt-100 bootstrap snippets bootdey">
  <section id="team" class="white-bg padding-top-bottom">
    <div class="container bootstrap snippets bootdey">
      <h2 class="section-title text-center page-title small" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">{{.Params.sectionTeam.Title | safeHTML }}</h2>
      <p class="f-24 color-heading text-adaptive text-center" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">{{.Params.sectionTeam.SubTitle | safeHTML }}</p>

      <div class="row member-content right" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">

        <div class="col-sm-9 col-sm-pull-2 order-2 order-lg-1">
          <div class="details">
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionTeam.AncaText | safeHTML }}
            </p>
            <ul class="social-content">
              <li><a target="_blank" href="https://www.linkedin.com/in/anca-barsan-8b90b582/"><i style="color: #3d82ab" class="fab fa-linkedin f-30"></i></a></li>
              <li><a href="mailto:anca[at]desk-now.com"><i style="color: #3d82ab" class="fas fa-envelope f-30"></i></a></li>
              <li><a href="tel: +49 2864 959985 2"><i style="color: #3d82ab" class="fas fa-phone-square f-30"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-push-8 member-thumb order-1 order-lg-2">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/anca_copy.png" alt="">
          <h4>Anca</h4>

        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/Marius_copy.png" alt="">
          <h4>Marius</h4>

        </div>
        <div class="col-sm-9">
          <div class="details">
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionTeam.MariusText | safeHTML }}</p>
            <ul class="social-content">
              <li><a target="_blank" href="https://www.linkedin.com/in/mariusjarzyna/"><i style="color: #3d82ab" class="fab fa-linkedin f-30"></i></a></li>
              <li><a href="mailto:marius[at]desk-now.com"><i style="color: #3d82ab" class="fas fa-envelope f-30"></i></a></li>
              <li><a href="tel: +49 2864 959985 1"><i style="color: #3d82ab" class="fas fa-phone-square f-30"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row member-content right" data-aos-duration="900" data-aos="fade-down"
      data-aos-delay="0">

        <div class="col-sm-9 col-sm-pull-2 order-2 order-lg-1">
          <div class="details">
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionTeam.PavelText | safeHTML }}</p>
            <ul class="social-content">
              <li><a target="_blank" href="https://www.linkedin.com/in/pavel-schwindt-b02589168/"><i style="color: #3d82ab" class="fab fa-linkedin f-30"></i></a></li>
              <li><a href="mailto:pavel[at]desk-now.com"><i style="color: #3d82ab" class="fas fa-envelope f-30"></i></a></li>
              <li><a href="tel: +49 2864 959985 3"><i style="color: #3d82ab" class="fas fa-phone-square f-30"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-push-8 member-thumb order-1 order-lg-2">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/pavel_copy.png" alt="">
          <h4>Pavel</h4>

        </div>
      </div>

      <div class="row member-content" data-aos-duration="1200" data-aos="fade-down"
        data-aos-delay="0"> 
        <div class="col-sm-3 col-sm-offset-1 member-thumb">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/Mike_copy.png" alt="">
          <h4>Mike</h4>

        </div>
        <div class="col-sm-9">
          <div class="details">
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionTeam.MikeText | safeHTML }}</p>
            <ul class="social-content">
              <li><a target="_blank" href="https://www.linkedin.com/in/mike-lepcsik-89a65a160/"><i style="color: #3d82ab" class="fab fa-linkedin f-30"></i></a></li>
              <li><a href="mailto:mike[at]desk-now.com"><i style="color: #3d82ab" class="fas fa-envelope f-30"></i></a></li>
              <li><a href="tel: +49 2864 959985 4"><i style="color: #3d82ab" class="fas fa-phone-square f-30"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Our Values -->

<div class="container pt-100 pb-200 bootstrap snippets bootdey">
  <section id="team" class="white-bg padding-top-bottom">
    <div class="container bootstrap snippets bootdey">
      <h2 class="section-title text-center page-title small" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">{{.Params.sectionValues.Title | safeHTML }}</h2>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <p class="f-26 color-heading text-adaptive text-left">{{.Params.sectionValues.ValueTitle1 | safeHTML }}</p>
            <p class="bold">{{.Params.sectionValues.ValueSubTitle1 | safeHTML }}</p>
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionValues.ValueText1 | safeHTML }}</p>
          </div>
        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <p class="f-26 color-heading text-adaptive text-left">{{.Params.sectionValues.ValueTitle2 | safeHTML }}</p>
            <p class="bold">{{.Params.sectionValues.ValueSubTitle2 | safeHTML }}</p>
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionValues.ValueText2 | safeHTML }}</p>
          </div>
        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <p class="f-26 color-heading text-adaptive text-left">{{.Params.sectionValues.ValueTitle3 | safeHTML }}</p>
            <p class="bold">{{.Params.sectionValues.ValueSubTitle3 | safeHTML }}</p>
            <p class="f-18 color-heading text-adaptive">{{.Params.sectionValues.ValueText3 | safeHTML }}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
  <a class="close">
    <img srcset="i/close_white@2x.png 2x" src="/i/close_white.png" alt="" />
  </a>
  <div class="d-flex align-items-center justify-content-center w-full h-full iframe_container"></div>
</div>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}