{{ define "base" }}
<!-- full IMG section -->

<style>
  .content_6 {
    background-image: url(/images/our_team_banner.png);
    background-color: #ecf0f9;
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    .content_6 {
      background-image: url(/images/our_team_banner.png);
      background-color: #ecf0f9;
    }
  }
</style>

<section class="content_6 pt-400 pb-400">
  <div class="container px-xl-0 text-center color-white">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">

      </div>
    </div>
  </div>
</section>

<div class="container pt-100 bootstrap snippets bootdey">
  <section id="team" class="white-bg padding-top-bottom">
    <div class="container bootstrap snippets bootdey">
      <h1 class="section-title text-center page-title" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">Meet our team</h1>
      <p class="section-description text-center" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">We are a small team with great skills.</p>

      <div class="row member-content right" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">

        <div class="col-sm-9 col-sm-pull-2">
          <div class="details">
            <p>Our big city girl, full of positive energy and always focused on maximizing the user experience. Of
              course, the rest of #THETEAM is energetic and cheerful, too; Anca has just a sparkle more... every day.
              User experience and a smooth design are not just tasks for our Anca, it’s a mission, sometimes even close
              to her own crusade 😉  Of course, there is a downside to it: no talks before the first-morning espresso!!!
            </p>
            <ul class="social-content">
              <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-push-8 member-thumb">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/anca_copy.png" alt="">
          <h4>Anca</h4>

        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/Marius_copy.png" alt="">
          <h4>Marius</h4>

        </div>
        <div class="col-sm-9">
          <div class="details">
            <p>One of the most charismatic persons you´ll ever get to know, and that is a promise(!), wait till you meet
              him. His dreams and visions have become a passion for many... His positivity and energy will inspire
              anybody who has a will to succeed (in life or a professional level). Despite of being the initiator, *he
              had the brilliant idea for DeskNow* working with Marius is challenging and fun. He acts like a mentor,
              sometimes as a father and even though he has the answers almost all the time, he is empowering us to
              search till we find it.</p>
            <ul class="social-content">
              <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row member-content right" data-aos-duration="900" data-aos="fade-down"
      data-aos-delay="0">

        <div class="col-sm-9 col-sm-pull-2">
          <div class="details">
            <p>If you think you know the tech world, you never met with him. Our meat loving technical brain is always
              online, and this is not just a phrase, he is literally always in exchange with our programmers. Constantly
              seeking for improvements, some new ideas, the latest APPs to improve the backend functionality and supply
              our lovely customers with even more. Our always calm tech brain has also his Kryptonite and guess what it
              is? #VEGGIES!!! Strange: he really would prefer to starve before eating vegetables.</p>
            <ul class="social-content">
              <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-push-8 member-thumb">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/pavel_copy.png" alt="">
          <h4>Pavel</h4>

        </div>
      </div>

      <div class="row member-content" data-aos-duration="1200" data-aos="fade-down"
        data-aos-delay="0"> 
        <div class="col-sm-3 col-sm-offset-1 member-thumb">
          <img class="img-responsive img-center img-thumbnail img-circle" src="/img/Mike_copy.png" alt="">
          <h4>Mike</h4>

        </div>
        <div class="col-sm-9">
          <div class="details">
            <p>No Code is safe from being edited, modified, and optimized by our programming guru Mike! Loaded with
              vitamin D from the Canary sun, Mike takes care of a clean and well programed code for our website. What
              for others looks like hieroglyphics for him is a Rubik cube to be solved under 2 minutes. Not only he has
              a great experience in programming and landscape design (we know, great combo, right?) but his sense of
              humanity and family spirit makes him a perfect match for DeskNow.</p>
            <ul class="social-content">
              <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Our Values -->

<div class="container pt-100 pb-200 bootstrap snippets bootdey">
  <section id="team" class="white-bg padding-top-bottom">
    <div class="container bootstrap snippets bootdey">
      <h1 class="section-title text-center page-title" data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">Our Values</h1>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <h3 class="section-title text-center page-title">#Family #Humanity</h3>
            <p class="bold">We are family and care about each other.</p>
            <p>We are the family we all choose to be part of, and this is a tremendous gift. For us, it’s important that
              everybody feels valued, trusted, and supported the same way. We treat everybody with the highest of
              respect and are grateful for the joint journey. Seriously, we are fortunate that we met in this endless
              and chaotic universe. Therefore we value everybody we have the pleasure to meet, work or have a coffee
              with.</p>
          </div>
        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <h3 class="section-title text-center page-title">#Passion #Ownership</h3>
            <p class="bold">We don‘t believe in titles but in ownership.</p>
            <p>We don’t define our tasks or experiences by any fancy titles. We think that every person has areas they
              love and are great at. We love to share our passion and ideas in the same way every constructive
              criticism, aiming to support our joint journey, is appreciated. Mutual respect is what defines our
              day-to-day life and work.</p>
          </div>
        </div>
      </div>

      <div class="row member-content" data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
        <div class="col-sm-12 col-sm-pull-2">
          <div class="details">
            <h3 class="section-title text-center page-title">#Diversity #Integrity</h3>
            <p class="bold">We love individuality and equality</p>
            <p>The same as titles don’t fit into our minds; we don’t allow any form of inequality within our day-to-day
              actions. We support all forms of individuality and encourage every person to follow their ideas and
              visions.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{end}}