{{ define "base" }}
  <!-- full IMG section -->

  <style>
    .content_6 {
      background-image: url(/i/content_6_bg.jpg);
    }
  
    @media(-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
      .content_6 {
        background-image: url(/i/content_6_bg@2x.jpg);
      }
    }
  </style>
  
  <section class="content_6 pt-200 pb-200">
    <div class="container px-xl-0 text-center color-white">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <h2>Our Team</h2>
        </div>
      </div>
    </div>
  </section>

{{end}}