{{ define "base" }}

<head>
    <title>CIB fluXkomprimator: PDF komprimieren, Speicherplatz sparen!</title>
    <meta name="description" content="Bilder und PDF komprimieren ohne Qualitätsverlust und Speicherplatz gewinnen.">
    <meta name="keywords"
        content="Datenkompression, Datenkomprimierung, Verlustfreie Datenkompression, PDF komprimieren, Bilder komprimieren, PDF komprimieren ohne Qualitätsverlust">
</head>
<!-- Header -->
<header class="header-text-top">
    <div class="container">
        <div class="shape-top"></div>
        <div class="shape-left"></div>
        <div class="row">
            <div class="col-lg-6 header-padding-button mt-2 order-3 order-lg-1">
                <img src="/images/product/CIB_fluXkomprimator.svg" height="40">
                <h1 class="pb-4">{{.Params.header.Titel}}</h1>

                <h3 class="pb-4" v-html="$t('header.Text')">
                </h3>

                <div class="row pb-5 d-flex justify-content-left ">
                    <div class="col-12 col-xl-4">
                        <a class="btn btn-block btn-CTA2" href="#Bestellen"
                            onClick="gtag('event', 'action', {'event_category': 'Anfragen-Header', 'event_label': 'Anfragen','value': 'value'});"
                            data-toggle="modal" data-target="#modalNewsletter">Anfragen</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 header-img-padding order-1 order-lg-3 pb-0 text-center">
                <img src="/images/product/fluxi/HG_CIB_fluXkomprimator.svg" class="img-fluid" height="354">
            </div>

        </div>
    </div>
</header>

<!-- Features -->

<div class="section" id="Vorteile">

    <div class="container">

        <div class="section-title pb-5">
            <h1>{{.Params.Features.Vorteile}}</h1>
        </div>
        <!--row 1-->
        <div class="row mx-3 mb-lg-5">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/datenkompresion.svg" height="125" width="125" class="img-fluid" alt="logo">
                    </div>

                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Datenkompression}}</p>
                        <p class="card-text">{{.Params.Features.DatenkompressionText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/schneller_versand.svg" height="125" width="125" class="img-fluid" alt="logo">
                    </div>
                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Datenversand}}</p>
                        <p class="card-text">{{.Params.Features.DatenversandText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/plazsparende_archivierung.svg" height="125" width="125" class="img-fluid"
                            alt="logo">
                    </div>

                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Archivierung}}</p>
                        <p class="card-text">{{.Params.Features.ArchivierungText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--row 2-->
        <div class="row mx-3">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/qualitaetsverlust.svg" height="125" width="125" class="img-fluid" alt="logo">
                    </div>

                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Qualitaet}}</p>
                        <p class="card-text">{{.Params.Features.QualitaetText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/breitbandausnutzung.svg" height="125" width="125" class="img-fluid" alt="logo">
                    </div>
                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Breitband}}</p>
                        <p class="card-text">{{.Params.Features.BreitbandText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/integration_systeme.svg" height="125" width="125" class="img-fluid" alt="logo">
                    </div>

                    <div class="col-8 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.Integration}}</p>
                        <p class="card-text">{{.Params.Features.IntegrationText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jetzt in CIB doXisafe testen - New Animation -->

<div class="section white-bg" id="Fluxi">
    <div class="container">
        <div class="section-title">
            <h1>Jetzt fluXi testen!</h1>
            <h3>In CIB doXisafe unter "PDF komprimieren und hochladen"</h3>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 pt-card px-5">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pt-card">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3 px-5">
                        <div class="py-3 px-5" style="height:400px;" id="lottie">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 pt-card px-5">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="text-align: center; margin-top: 40px;">
            <a class="btn btn-CTA4-white" target="_blank"
                onClick="gtag('event', 'action', {'event_category': 'Button-doXisafeTesten-fluxiTesten', 'event_label': 'Button-doXisafeTesten','value': 'value'});"
                href="https://www.doxisafe.me/">In CIB doXisafe anmelden und testen
            </a>
        </div>
    </div>
</div>

<!-- Features details-->

<div class="section dark-bg" id="Demo-Version">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="row">
                    <div class="col feature-icon justify-content-center text-center pb-3">
                        <img src="/images/product/fluxi/nutzern.svg" height="80" width="80" style="height: auto;" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-left">
                    <div class="animation-text pl-3 pr-3">
                        <h1 class="card-title-counter text-white center text_center">Unser fluXkomprimator ist
                            schon bei
                            über
                            200.000 Nutzern im Einsatz!</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row d-flex justify-content-center">
            <div class="col-2 d-flex justify-content-md-end justify-content-center align-items-center">
                <img src="/images/product/fluxi/nutzern.svg" height="80" width="80" class="img-fluid">
            </div>
            <div class="col-6 text-left" style="margin-top: auto; margin-bottom: auto">
                <h1 class="card-title-counter text-white center">Unser fluXkomprimator ist schon bei über
                    200.000 Nutzern im Einsatz!</h1>
            </div>
        </div> -->
    </div>
</div>

<!-- Use Case Slider-->

<div class="section light-bg" id="Am-Beispiel">
    <div class="container">
        <div class="section-title">
            <h1>{{.Params.Slider.Title}}</h1>
        </div>

        <div class="row">
            <div class="col-12 col-lg-2 pt-card">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 pt-card">
                <div class="row">
                    <div class="col feature-icon justify-content-left pb-3">
                        <img src="/images/product/fluxi/usecase.svg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pt-card">
                <div class="row justify-content-center">
                    <div class="animation-text pl-3 pr-3">
                        <p class="card-text font-weight-bold">{{.Params.Slider.Subtitle}}
                        </p>
                        <h4 class="card-title">{{.Params.Slider.Header}}
                        </h4>
                        <p class="card-text">{{.Params.Slider.Text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="carouselExampleIndicators" class="carousel slide padding-slider" data-ride="carousel"
            data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-4 d-flex justify-content-end">
                            <img src="/images/product/fluxi/usecase.svg" height="168" width="300" class="img-fluid pb-5">
                        </div>

                        <div class="col-6 text-left">
                            <p class="card-text font-weight-bold">{{.Params.Slider.Subtitle}}
                            </p>
                            <h4 class="card-title">{{.Params.Slider.Header}}
                            </h4>
                            <p class="card-text">{{.Params.Slider.Text}}</p>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-4 d-flex justify-content-end">
                            <img src="/images/product/fluxi/usecase.svg" height="168" width="300" class="img-fluid pb-5">
                        </div>

                        <div class="col-6 text-left">
                            <p class="card-text font-weight-bold">{{.Params.Slider.FormFieldsTitleBold}}
                            </p>
                            <h4 class="card-title">{{.Params.Slider.FormFieldsTitle}}
                            </h4>
                            <p class="card-text">{{.Params.Slider.FormFieldsText}}
                            </p>
                        </div>
                    </div>
                </div> -->
</div>
<!-- <a class="carousel-control-prev none" href="#carouselExampleIndicators" role="button"
                data-slide="prev">
                <img class="" src="/images/product/fluxi/left-arrow.svg" height="20" width="20" aria-hidden="true"></img>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next none" href="#carouselExampleIndicators" role="button"
                data-slide="next">
                <img class="" src="/images/product/fluxi/right-arrow.svg" height="20" width="20" aria-hidden="true"></img>
                <span class="sr-only">Next</span> 
</a>
</div>-->


<!-- Testimonial -->

<!-- <div class="section light-bg" id="Referenzen">

    <div class="container">

        <div class="section-title" style="margin-bottom: 62px;">
            <h1>{{.Params.Testimonial.Titel}}</h1>
        </div>

        <div class="col d-flex justify-content-center">
            <div>
                <div class="d-flex justify-content-center"><img style="width: 250px;" src="/images/product/fluxi/sterne.svg" />
                </div>
                <div class="text-center mt-4">
                Name</div>
                <div class="text-center">Unternehmen, Info</div>
                <div class="row justify-content-center mt-5">
                    <div class="col-1 d-flex justify-content-end align-items-start"><img style="width: 30px;"
                            src="/images/product/fluxi/klammerAuf.svg" alt="icon" /></div>
                    <div class="col-7 card-text text-md-center font-italic px-4">
                        Hier Referenztext,
                        wenn vorhanden</div>
                    <div class="col-1 d-flex justify-content-start align-items-end"> <img style="width: 30px;"
                            src="/images/product/fluxi/klammer-zu.svg" alt="icon" /></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- NEWS IN DEM BLOG -->

<div class="section" id="News" :style="$t('Display')">
    <div class="container">
        <div class="section-title">
            <h1>Was ist neu?</h1>
            <p class="header-text pt-2">Alle News rund um den CIB fluXkomprimator in unserem Blog</p>
        </div>
        <div class="row container-fluid ml-0" id="newsContainer"></div>
        <div class="row text-center justify-content-center mx-1"><a id="blogButton"
                class="btn btn-block btn-CTA2-gray mb-4" target="_blank"
                onClick="gtag('event', 'action', {'event_category': 'Button-ZumBlog-News', 'event_label': 'Button-ZumBlog','value': 'value'});"
                href="https://blog.cib.de/tag/cib-fluxkomprimator/">Zum Blog</a></div>
    </div>
</div>

<!-- CTA -->

<div class="section text-center dark-bg">
    <h2 class="jumbotron-heading text-white pb-4">{{.Params.CallToAction}}</h2>

    <div class="d-flex flex-row justify-content-center flex-wrap flex-grow-1">

        <div class="row d-flex justify-content-center">
            <a href="https://doxiview.cib.de/showcase/index.html#signatur" target="_blank"
                onclick="gtag('event', 'action', {'event_category': 'Mehr-erfahren-Button', 'event_label': 'CTA','value': 'value'});"
                class="btn btn-CTA3" role="button" aria-pressed="true">{{.Params.Button.Anfragen}}</a>
        </div>

    </div>
</div>

<!-- Modal Newsletter -->

<div class="modal fade" id="modalNewsletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div style="display:none;" id="loader"></div>
<div class="modal-dialog modal-dialog-sm" role="document">
    <div class="modal-content">

        <div class="modal-header text-center">
            <h2 class="modal-title w-100">Newsletter</h2>
            <button style="outline: none;" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body modal-boby-bestellung mx-3">

            <div class="row justify-content-center">
                <p class="header-text">Jetzt anmelden und auf dem Laufenden bleiben</p>
            </div>

            <form id="newsletter" action="/product/fluxi/subscribe.php" method="POST" novalidate>
                <div style="display:none;" id="loader"></div>
                <div class="form-group mb-0">
                    <label for="vorname"></label>
                    <input type="text" placeholder="Vorname*" class="form-control" name="vorname"
                        id="vorname" required>
                    <div class="invalid-feedback">Bitte geben Sie Ihren Vornamen ein</div>
                </div>

                <div class="form-group mb-0">
                    <label for="nachname"></label>
                    <input type="text" placeholder="Nachname*" class="form-control" name="nachname"
                        id="nachname" required>
                    <div class="invalid-feedback">Bitte geben Sie Ihren Nachnamen ein</div>
                </div>

                <div class="form-group mb-0">
                    <label for="email"></label>
                    <input type="email" placeholder="Ihre E-Mail-Adresse*" class="form-control"
                        name="email" id="email" required>
                    <div class="invalid-feedback">Bitte geben Sie Ihre E-Mail-Adresse ein</div>
                </div>

                <div class="form-group mb-0 hidden">
                    <label for="honeypot"></label>
                    <input type="text" placeholder="Nachname" class="form-control" name="honeypot"
                        id="honeypot">
                </div>

                <div class="custom-control custom-checkbox mb-4 mt-3">
                    <input type="checkbox" class="custom-control-input" id="agreement" name="agreement"
                        required>
                    <label class="custom-control-label" for="agreement">Ich bin mit den <a
                            class="text-danger link-text-AGB"
                            href="https://www.cib.de/de/datenschutz.html"
                            target="_blank">Datenschutzrichtlinien</a> einverstanden.</label>
                    <div class="invalid-feedback">Bitte stimmen Sie den Datenschutzrichtlinien zu.</div>
                </div>

                <div class="form-group text-center mb-5">
                    <input class="btn btn-CTA2 ml-auto" type="submit" value="Anmelden"
                        onclick="sendNewsletterForm(event)">
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Modal Google Play -->

<div class="modal fade" id="ModalGoogle" tabindex="-1" role="dialog" aria-labelledby="ModalGoogleLabel"
    aria-hidden="true">
    <div style="display:none;" id="loaderandroidForm"></div>
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <form name="androidForm" action="" id="androidForm" onsubmit="sendEmailAndroid(); return false">
                <div class="modal-header text-center">
                    <h1 class="modal-title w-100">{{.Params.ModalContact.modalTitle}}</h1>
                    <button style="outline: none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class=" text-center pt-4 pb-4">
                    <p class="modal-text">{{.Params.ModalContact.modalSubTitle}}</p>
                </div>

                <div class="modal-body mx-3">

                    <div class="form-group mb-0">
                        <input required="required" name="name" type="text" id="form29" class="form-control validate"
                            :placeholder="$t('ModalOrder.modalPlaceholderName')">
                        <label data-error="wrong" data-success="right" for="form29"></label>
                    </div>

                    <div class="form-group mb-0">
                        <input required="required" name="email" type="email" id="form32" class="form-control validate"
                            :placeholder="$t('ModalOrder.modalPlaceholderEmail')">
                        <label data-error="wrong" data-success="right" for="form32"></label>
                    </div>

                    <div class="form-group mb-0">
                        <input required="required" name="telefon" type="number" id="form32"
                            class="form-control validate" :placeholder="$t('ModalOrder.modalPlaceholderTelefon')">
                        <label data-error="wrong" data-success="right" for="form32"></label>
                    </div>

                    <div class="form-group mb-0">
                        <textarea name="message" type="text" id="form8" class="form-control" rows="4"
                            :placeholder="$t('ModalContact.modaltext')"></textarea>
                        <label data-error="wrong" data-success="right" for="form8"></label>
                    </div>
                </div>
                <div class="modal-footer-bestellung d-flex justify-content-center ">
                    <button class="btn btn-danger lp-button" id="kontaktFormButton"
                        onClick="gtag('event', 'action', {'event_category': 'Anfrage-Senden-LO', 'event_label': 'Senden','value': 'value'});"
                        type="submit">{{.Params.Button.Senden}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Kontaktformular erfolgreich-->

<div class="modal fade" id="KontaktFormularErfolgreich" tabindex="-1" role="dialog"
    aria-labelledby="ModalKontaktFormularErfolgreich" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100">
                    <span>{{.Params.Forms.Thanks}}</span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3 text-center py-5">

                <div class="form-group mb-0 text-center">
                    <span>{{.Params.Forms.ThanksText}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kontaktformular nicht erfolgreich-->

<div class="modal fade" id="KontaktFormularNichtErfolgreich" tabindex="-1" role="dialog"
    aria-labelledby="ModalKontaktFormularNichtErfolgreich" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100">
                    <span>{{.Params.Forms.Thanks}}</span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3 text-center">

                <div class="form-group mb-0">
                    <span v-html="$t('Forms.Failure')"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->
<script>
    function sendNewsletterForm(event) {

        var form = document.getElementById('newsletter');
        var formData = new FormData(form);

        form.classList.add('was-validated');

        if (form.checkValidity() === false) {
            //TODO: show error
            event.preventDefault();
            event.stopPropagation();
            return false;
        }

        $('#modalNewsletter').modal('hide');

        document.getElementById("loader").style.display = "block";

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/product/fluxi/subscribe.php', false);
        xhr.send(formData);

        if (xhr.status == 200) $('#NewsletterformularErfolgreich').modal('show');
        else $('#KontaktFormularNichtErfolgreich').modal('show');

        document.getElementById("loader").style.display = "none";

        event.preventDefault();
    }
</script>

<!-- Validacion Form -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{{ end }}