{{ define "base" }}
<!-- Header -->
<header class="header-text-top">
    <div class="container">
        <div class="shape-top"></div>
        <div class="shape-left"></div>
        <div class="row">
            <div class="col-lg-6 header-padding-button mt-2 order-3 order-lg-1">

                <h1 class="pb-4">{{.Params.header.Titel}}</h1>

                <h3 class="pb-4">{{.Params.header.Text}}
                </h3>

                <div class="row pb-5 d-flex justify-content-left ">
                    <div class="col-12 col-xl-4">
                        <a class="btn btn-block btn-CTA2" role="button" aria-pressed="true"
                            onClick="gtag('event', 'action', {'event_category': 'Mehr-Info-header', 'event_label': 'Mehr-Info','value': 'value'});"
                            href="#Ausblicke" target="_blank">{{.Params.header.Button}}</a>
                        <!-- <a href="#Kalkulator" class="btn btn-block mt-2 mx-3 button-white btn-line-height-Basis btn-lg active" role="button" aria-pressed="true">zum Kalkulator</a>-->
                    </div>
                </div>

            </div>

            <div class="col-lg-6 header-img-padding order-1 order-lg-3 pb-0 text-center">
                <img src="/images/HG_CIBfairBrieft.svg" class="img-fluid" height="400">
            </div>

        </div>
    </div>
</header>

<!-- Views -->

<div class="container section text-center" id="Ausblicke">
    <h2 class="jumbotron-heading section-title">{{.Params.Advantages.Titel}}</h2>
    <div class="row">

        <div class="col-lg-4">
            <img class="" src="/images/Hybrid-mail.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.UpdatesTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.UpdatesText}}
            </p>
        </div>
        <div class="col-lg-4">
            <img class="" src="/images/serienbriefe.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.AdsTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.AdsText}}
            </p>
        </div>
        <div class="col-lg-4">
            <img class="" src="/images/green-umwelt.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.SupportTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.SupportText}}
            </p>
        </div>

    </div>
</div>

<!-- Features -->

<div class="section light-bg" id="Vorteile">
    <div class="container">
        <div class="section-title">
            <h2>{{.Params.Features.Titel}}</h2>
        </div>

        <!-- row 1 -->

        <div class="row mb-md-4 mx-3">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/kurzere-prozesse.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.CostSavingsTitle}}</p>
                        <p class="card-text">{{.Params.Features.CostSavings}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/doppelter-kostenersparniss.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold" v-html="$t('Features.MaterialCostsTitle')">
                            {{.Params.Features.MaterialCostsTitle}}
                        </p>
                        <p class="card-text">{{.Params.Features.MaterialCostsText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/garantierte-ergebnisse.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold" v-html="$t('Features.HighQualityTitle')">
                            {{.Params.Features.HighQualityTitle}}</p>

                        <p class="card-text">{{.Params.Features.HighQualityText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- row 2 -->

        <div class="row mb-md-4 mx-3">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/schnelle-kommunikation.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold" v-html="$t('Features.TimeSavingTitle')">
                            {{.Params.Features.TimeSavingTitle}}</p>
                        <p class="card-text" v-html="$t('Features.TimeSavingText')">{{.Params.Features.TimeSavingText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/gesicherte-daten.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.DataTransmissionTitle}}</p>
                        <p class="card-text">{{.Params.Features.DataTransmissionText}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/kostenkontrolle .svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold" v-html="$t('Features.CostControlTitle')">
                            {{.Params.Features.CostControlTitle}}</p>
                        <p class="card-text">{{.Params.Features.CostControlText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Steps -->

<div class="section white-bg" id="So-geht-es">
    <div class="container">
        <div class="section-title">
            <h2>{{.Params.Steps.Titel}}</h2>
            <p class="header-text">{{.Params.Lorem}}</p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/1-individuelle-korrespondenz.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'Korrespondenzerstellen-So-geht-es', 'event_label': 'Korrespondenzerstellen','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1" id="heading1">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse1"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.CreateCorrespondence')">
                                                {{.Params.Steps.CreateCorrespondence}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse1" class="collapse border rounded" aria-labelledby="heading1"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">
                                {{.Params.Steps.CreateCorrespondenceText}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/2-versand-anwendung.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'VersandAusIhrerAnwendung-So-geht-es', 'event_label': 'VersandAusIhrerAnwendung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                            aria-controls="collapse2" id="heading2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse2"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.ShippingApplication')">
                                                {{.Params.Steps.ShippingApplication}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="collapse2" class="collapse border rounded" aria-labelledby="heading2"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">
                                {{.Params.Steps.ShippingApplicationText}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/3-versand-druck.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'VersandüberDruckertreiber-So-geht-es', 'event_label': 'VersandüberDruckertreiber','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                            aria-controls="collapse3" id="heading3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse3"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.ShippingPrinterdriver')">
                                                {{.Params.Steps.ShippingPrinterdriver}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="collapse3" class="collapse border rounded" aria-labelledby="heading3"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3" v-html="$t('Steps.ShippingPrinterdriverText')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/4-dsgvo.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading4"
                            onClick="gtag('event', 'action', {'event_category': 'DSGVO-Konform-So-geht-es', 'event_label': 'DSGVO-Konform','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true"
                            aria-controls="collapse4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse4"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.GDPRcompliant')">{{.Params.Steps.GDPRcompliant}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse4" class="collapse border rounded" aria-labelledby="heading4"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.GDPRcompliantText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- row 2 -->

        <div class="row">
            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/5-kontrolle-empfaenger.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading5"
                            onClick="gtag('event', 'action', {'event_category': 'KontrollederEmpfängerdaten-So-geht-es', 'event_label': 'KontrollederEmpfängerdaten','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
                            aria-controls="collapse5">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse5"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.RecipientData')">{{.Params.Steps.RecipientData}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse5" class="collapse border rounded" aria-labelledby="heading5"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.RecipientDataText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/6-optimale-verarbeitung.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading6"
                            onClick="gtag('event', 'action', {'event_category': 'OptimaleVerarbeitung-So-geht-es', 'event_label': 'OptimaleVerarbeitung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true"
                            aria-controls="collapse6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse6"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left"
                                                v-html="$t('Steps.Correspondence')">{{.Params.Steps.Correspondence}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse6" class="collapse border rounded" aria-labelledby="heading6"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.CorrespondenceText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/7-detalierte-abrechnung.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading7"
                            onClick="gtag('event', 'action', {'event_category': 'DetaillierteAbrechnung-So-geht-es', 'event_label': 'DetaillierteAbrechnung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
                            aria-controls="collapse7">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse7"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left" v-html="$t('Steps.Billing')">
                                                {{.Params.Steps.Billing}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse7" class="collapse border rounded" aria-labelledby="heading7"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.BillingText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/8-einfache-abrechnung.svg" height="220" width="220" class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading8"
                            onClick="gtag('event', 'action', {'event_category': 'AbrechnungLeichtGemacht-So-geht-es', 'event_label': 'AbrechnungLeichtGemacht','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
                            aria-controls="collapse8">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse8"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left" v-html="$t('Steps.EasyBilling')">
                                                {{.Params.Steps.EasyBilling}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse8" class="collapse border rounded" aria-labelledby="heading8"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.EasyBillingText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calculator 

            <div class="section-pricing light-bg" id="Kalkulator">
                <div class="container">
                    <div class="section-title">
                        <h2>{{.Params.Kalkulator.Kalkulator}}</h2>
                        <p class="header-text">{{.Params.Kalkulator.KalkulatorSub}}</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg mb-5">
                            <section id="calculator" class="section_grey">
                                <div class="wrapper justify-content-center">
                                    <div class="calc_left">Anzahl Druckst&uuml;cke:</div>
                                    <div class="calc_right"><input type="number" min="1" value="1" max="500000"
                                            id="calc_count" class="calc" /></div>
                                    <div class="calc_left">Anzahl Seiten je Druckst&uuml;ck:</div>
                                    <div class="calc_right"><input type="number" min="1" value="1" max="18"
                                            id="calc_pages" class="calc" /></div>
                                    <div class="calc_left">Papiersorte:</div>
                                    <div class="calc_right">
                                        <input type="radio" checked="checked" name="calc_paper" value="1"
                                            class="" />&nbsp; 80g/m&sup2;<br />
                                        <input type="radio" disabled name="calc_paper" value="2" class="" />&nbsp;
                                        100g/m&sup2; (Option in K&uuml;rze verf&uuml;gbar)<br />
                                        <input type="radio" disabled name="calc_paper" value="3" class="" />&nbsp;
                                        160g/m&sup2; (Option in K&uuml;rze verf&uuml;gbar)
                                    </div>
                                    <div class="calc_left">Druckart:</div>
                                    <div class="calc_right">
                                        <input type="radio" name="calc_print" value="1" class="calc" />&nbsp;
                                        Simplex<br />
                                        <input type="radio" name="calc_print" value="2" class="calc" />&nbsp; Duplex
                                    </div>
                                    <div class="calc_left">Farbe:</div>
                                    <div class="calc_right">
                                        <input type="radio" name="calc_color" value="1" class="calc" />&nbsp;
                                        Schwarz/wei&szlig;<br />
                                        <input type="radio" name="calc_color" value="2" class="calc" />&nbsp; Vollfarbe
                                    </div><br />
                                    <br />
                                    <div class="calc_left">Ihre Nettokosten inkl. Porto:</div>
                                    <div id="calc_total">0,00 &euro;</div>
                                    <small>
                                        <div class="calc_left">Ihre Bruttokosten inkl. Porto:</div>
                                        <div id="calc_total_vat">0,00 &euro;</div>
                                    </small>

                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>-->

<!-- TÜV -->

<div class="section section-mobile CTA-bg" id="Tuev">
    <div class="container text-center">
        <h1 class="text-white pb-4" v-html="$t('CTA-Title')">{{.Params.CTA_Title}}</h1>
        <div class="call-to-action">
            <img src="/images/test_tuv.svg" height="150" width="150" class="img-fluid center margin-top-header mb-3"
                style="height: 150px;" alt="logo">
        </div>

        <div class="row mt-4">
            <div class="col-lg d-flex align-items-end justify-content-end mb-3">
                <div class="card-text text-white text-md-center font-italic px-4" v-html="$t('CTA-TUEV')">
                    {{.Params.CTA_TUEV}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- System -->

<div class="section light-bg" id="Systemvoraussetzungen">
    <div class="container">
        <h2 class="text-center pb-5">{{.Params.System.Title}}
        </h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/windows.svg" height="90" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/solaris.svg" height="90" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/linux.svg" height="80" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}