{{ define "base" }}

<head>
    <title>CIB fairBrieft: Serienbriefe mit einem Klick kuvertieren und versenden</title>
    <meta name="description"
        content="Serienbriefe online versenden - Schnell, sicher & einfach! Einzelne Briefe, Serienbriefe & Hybridpost kinderleicht zu attraktiven Preisen DSGVO-konform versenden.">
    <meta name="keywords" content="Serienbriefe, Sereinpost, Hybridpost, Post online, Briefversand service">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/product/favicon/apple-touch-icon.png?v=YAXJeX89jg">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/product/favicon/favicon-32x32.png?v=YAXJeX89jg">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/product/favicon/favicon-16x16.png?v=YAXJeX89jg">
    <link rel="manifest" href="/images/product/favicon/site.webmanifest?v=YAXJeX89jg">
    <link rel="mask-icon" href="/images/product/favicon/safari-pinned-tab.svg?v=YAXJeX89jg" color="#e11e19">
    <link rel="shortcut icon" href="/images/product/favicon/favicon.ico?v=YAXJeX89jg">
    <meta name="msapplication-TileColor" content="#e11e19">
    <meta name="msapplication-config" content="/images/product/favicon/browserconfig.xml?v=YAXJeX89jg">
    <meta name="theme-color" content="#ffffff">

</head>
<!-- Header -->
<header class="header-text-top">
    <div class="container">
        <div class="shape-top"></div>
        <div class="shape-left"></div>
        <div class="row">
            <div class="col-lg-6 header-padding-button mt-2 order-3 order-lg-1">
                <img src="/images/product/CIB_fairBrieft.svg" height="40">
                <h1 class="pb-4 font-weight-bold">{{.Params.header.Titel}}</h1>

                <h3 class="pb-4">{{.Params.header.Text}}
                </h3>

                <div class="row pb-5 d-flex justify-content-left ">
                    <div class="col-12 col-xl-4">
                        <a class="btn btn-block btn-CTA2" role="button" aria-pressed="true"
                            onClick="gtag('event', 'action', {'event_category': 'Mehr-Info-header', 'event_label': 'Mehr-Info','value': 'value'});"
                            href="#modalKontaktForm" data-toggle="modal"
                            data-target="#modalKontaktForm">{{.Params.header.Button}}</a>
                        <!-- <a href="#Kalkulator" class="btn btn-block mt-2 mx-3 button-white btn-line-height-Basis btn-lg active" role="button" aria-pressed="true">zum Kalkulator</a>-->
                    </div>
                </div>

            </div>

            <div class="col-lg-6 header-img-padding order-1 order-lg-3 pb-0 text-center">
                <img src="/images/product/fairbrieft/HG_CIBfairBrieft.svg" class="img-fluid" height="400">
            </div>

        </div>
    </div>
</header>

<!-- Views -->

<div class="container section text-center" id="Ausblicke">
    <h2 class="jumbotron-heading section-title">{{.Params.Advantages.Titel}}</h2>
    <div class="row">

        <div class="col-lg-4">
            <img class="" src="/images/product/fairbrieft/Hybrid-mail.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.UpdatesTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.UpdatesText}}
            </p>
        </div>
        <div class="col-lg-4">
            <img class="" src="/images/product/fairbrieft/serienbriefe.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.AdsTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.AdsText}}
            </p>
        </div>
        <div class="col-lg-4">
            <img class="" src="/images/product/fairbrieft/green-umwelt.svg" width="220" height="220">
            <h3 class="pb-4">{{.Params.Advantages.SupportTitle}}</h3>
            <p class="card-text px-3">{{.Params.Advantages.SupportText}}
            </p>
        </div>

    </div>
</div>

<!-- Features -->

<div class="section light-bg" id="Vorteile">
    <div class="container">
        <div class="section-title">
            <h2>{{.Params.Features.Titel}}</h2>
        </div>

        <!-- row 1 -->

        <div class="row mb-md-4 mx-3">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/kurzere-prozesse.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.CostSavingsTitle}}</p>
                        <p class="card-text">{{.Params.Features.CostSavings}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/doppelter-kostenersparniss.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">
                            {{.Params.Features.MaterialCostsTitle}}
                        </p>
                        <p class="card-text">{{.Params.Features.MaterialCostsText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/garantierte-ergebnisse.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">
                            {{.Params.Features.HighQualityTitle}}</p>

                        <p class="card-text">{{.Params.Features.HighQualityText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- row 2 -->

        <div class="row mb-md-4 mx-3">
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/schnelle-kommunikation.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">
                            {{.Params.Features.TimeSavingTitle}}</p>
                        <p class="card-text">{{.Params.Features.TimeSavingText}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/gesicherte-daten.svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">{{.Params.Features.DataTransmissionTitle}}</p>
                        <p class="card-text">{{.Params.Features.DataTransmissionText}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mb-4">
                    <div class="col-3 feature-icon justify-content-left pb-3">
                        <img src="/images/product/fairbrieft/kostenkontrolle .svg" class="img-fluid">
                    </div>

                    <div class="col-9 text-left">
                        <p class="card-title font-weight-bold">
                            {{.Params.Features.CostControlTitle}}</p>
                        <p class="card-text">{{.Params.Features.CostControlText}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Steps -->

<div class="section white-bg" id="So-geht-es">
    <div class="container">
        <div class="section-title">
            <h2>{{.Params.Steps.Titel}}</h2>
            <p class="header-text">{{.Params.Lorem}}</p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/1-individuelle-korrespondenz.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'Korrespondenzerstellen-So-geht-es', 'event_label': 'Korrespondenzerstellen','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1" id="heading1">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse1"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">
                                                {{.Params.Steps.CreateCorrespondence}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse1" class="collapse border rounded" aria-labelledby="heading1"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">
                                {{.Params.Steps.CreateCorrespondenceText}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/2-versand-anwendung.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'VersandAusIhrerAnwendung-So-geht-es', 'event_label': 'VersandAusIhrerAnwendung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                            aria-controls="collapse2" id="heading2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse2"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">
                                                {{.Params.Steps.ShippingApplication}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="collapse2" class="collapse border rounded" aria-labelledby="heading2"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">
                                {{.Params.Steps.ShippingApplicationText}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/3-versand-druck.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header"
                            onClick="gtag('event', 'action', {'event_category': 'VersandüberDruckertreiber-So-geht-es', 'event_label': 'VersandüberDruckertreiber','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
                            aria-controls="collapse3" id="heading3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse3"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">
                                                {{.Params.Steps.ShippingPrinterdriver}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="collapse3" class="collapse border rounded" aria-labelledby="heading3"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/4-dsgvo.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading4"
                            onClick="gtag('event', 'action', {'event_category': 'DSGVO-Konform-So-geht-es', 'event_label': 'DSGVO-Konform','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true"
                            aria-controls="collapse4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse4"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">{{.Params.Steps.GDPRcompliant}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse4" class="collapse border rounded" aria-labelledby="heading4"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.GDPRcompliantText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- row 2 -->

        <div class="row">
            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/5-kontrolle-empfaenger.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading5"
                            onClick="gtag('event', 'action', {'event_category': 'KontrollederEmpfängerdaten-So-geht-es', 'event_label': 'KontrollederEmpfängerdaten','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
                            aria-controls="collapse5">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse5"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">{{.Params.Steps.RecipientData}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse5" class="collapse border rounded" aria-labelledby="heading5"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.RecipientDataText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/6-optimale-verarbeitung.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading6"
                            onClick="gtag('event', 'action', {'event_category': 'OptimaleVerarbeitung-So-geht-es', 'event_label': 'OptimaleVerarbeitung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true"
                            aria-controls="collapse6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse6"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">{{.Params.Steps.Correspondence}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse6" class="collapse border rounded" aria-labelledby="heading6"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.CorrespondenceText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/7-detalierte-abrechnung.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading7"
                            onClick="gtag('event', 'action', {'event_category': 'DetaillierteAbrechnung-So-geht-es', 'event_label': 'DetaillierteAbrechnung','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true"
                            aria-controls="collapse7">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse7"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">
                                                {{.Params.Steps.Billing}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse7" class="collapse border rounded" aria-labelledby="heading7"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.BillingText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 pb-5">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/8-einfache-abrechnung.svg" height="220" width="220"
                            class="img-fluid pb-5">
                    </span>
                    <div class="accordion" id="accordion">
                        <div class="card-header" id="heading8"
                            onClick="gtag('event', 'action', {'event_category': 'AbrechnungLeichtGemacht-So-geht-es', 'event_label': 'AbrechnungLeichtGemacht','value': 'value'});"
                            type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true"
                            aria-controls="collapse8">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="btnb glyphicon glyphicon-minus collapsed" data-toggle="collapse"
                                                data-target="#collapse8"></div>
                                        </td>
                                        <td>
                                            <div class="link-text-accordion text-left">
                                                {{.Params.Steps.EasyBilling}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="collapse8" class="collapse border rounded" aria-labelledby="heading8"
                            data-parent="#accordionExample">
                            <div class="card-body order-text p-0 m-3">{{.Params.Steps.EasyBillingText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calculator 

            <div class="section-pricing light-bg" id="Kalkulator">
                <div class="container">
                    <div class="section-title">
                        <h2>{{.Params.Kalkulator.Kalkulator}}</h2>
                        <p class="header-text">{{.Params.Kalkulator.KalkulatorSub}}</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg mb-5">
                            <section id="calculator" class="section_grey">
                                <div class="wrapper justify-content-center">
                                    <div class="calc_left">Anzahl Druckst&uuml;cke:</div>
                                    <div class="calc_right"><input type="number" min="1" value="1" max="500000"
                                            id="calc_count" class="calc" /></div>
                                    <div class="calc_left">Anzahl Seiten je Druckst&uuml;ck:</div>
                                    <div class="calc_right"><input type="number" min="1" value="1" max="18"
                                            id="calc_pages" class="calc" /></div>
                                    <div class="calc_left">Papiersorte:</div>
                                    <div class="calc_right">
                                        <input type="radio" checked="checked" name="calc_paper" value="1"
                                            class="" />&nbsp; 80g/m&sup2;<br />
                                        <input type="radio" disabled name="calc_paper" value="2" class="" />&nbsp;
                                        100g/m&sup2; (Option in K&uuml;rze verf&uuml;gbar)<br />
                                        <input type="radio" disabled name="calc_paper" value="3" class="" />&nbsp;
                                        160g/m&sup2; (Option in K&uuml;rze verf&uuml;gbar)
                                    </div>
                                    <div class="calc_left">Druckart:</div>
                                    <div class="calc_right">
                                        <input type="radio" name="calc_print" value="1" class="calc" />&nbsp;
                                        Simplex<br />
                                        <input type="radio" name="calc_print" value="2" class="calc" />&nbsp; Duplex
                                    </div>
                                    <div class="calc_left">Farbe:</div>
                                    <div class="calc_right">
                                        <input type="radio" name="calc_color" value="1" class="calc" />&nbsp;
                                        Schwarz/wei&szlig;<br />
                                        <input type="radio" name="calc_color" value="2" class="calc" />&nbsp; Vollfarbe
                                    </div><br />
                                    <br />
                                    <div class="calc_left">Ihre Nettokosten inkl. Porto:</div>
                                    <div id="calc_total">0,00 &euro;</div>
                                    <small>
                                        <div class="calc_left">Ihre Bruttokosten inkl. Porto:</div>
                                        <div id="calc_total_vat">0,00 &euro;</div>
                                    </small>

                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>-->

<!-- TÜV -->

<div class="section section-mobile CTA-bg" id="Tuev">
    <div class="container text-center">
        <h1 class="text-white pb-4">{{.Params.CTA_Title}}</h1>
        <div class="call-to-action">
            <img src="/images/product/fairbrieft/test_tuv.svg" height="150" width="150"
                class="img-fluid center margin-top-header mb-3" style="height: 150px;" alt="logo">
        </div>

        <div class="row mt-4">
            <div class="col-lg d-flex align-items-end justify-content-end mb-3">
                <div class="card-text text-white text-md-center font-italic px-4">
                    {{.Params.CTA_TUEV}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- System -->

<div class="section light-bg" id="Systemvoraussetzungen">
    <div class="container">
        <h2 class="text-center pb-5">{{.Params.System.Title}}
        </h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/windows.svg" height="90" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/solaris.svg" height="90" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-2 pl-0 pr-0">
                <div class="card-body text-center">
                    <span class="feature-icon justify-content-center">
                        <img src="/images/product/fairbrieft/linux.svg" height="80" width="auto" class="pb-3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->

<div class="section text-center dark-bg">
    <h2 class="jumbotron-heading text-white pb-4">{{.Params.CallToAction}}</h2>

    <div class="d-flex flex-row justify-content-center flex-wrap flex-grow-1">

        <div class="row d-flex justify-content-center">
            <div class="">
                <a class="btn btn-CTA3"
                onClick="gtag('event', 'action', {'event_category': 'Produkt-Anfrage', 'event_label': 'Anfrage','value': 'value'});"
                data-toggle="modal" data-target="#modalKontaktForm">
                {{.Params.Button.Anfragen}}</a>
            </div>
        </div>

    </div>
</div>

<!-- Modal Kontaktieren -->

<div class="modal fade" id="modalKontaktForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div style="display:none;" id="newloader"></div>
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h2 class="modal-title w-100">{{.Params.Consultation.Title}}</h2>
                <button style="outline: none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-boby-bestellung mx-3">
                <div class="row justify-content-center">
                    <p class="font-small card-text mx-3">
                    </p>
                </div>

                <div class="row justify-content-center">
                    <p class="font-small card-text mx-3">{{.Params.DetailsNeeded}}</p>
                </div>
                <form name="kontaktForm" action="/form.php?code=fairbrieft" method="post"
                    enctype="multipart/form-data" id="kontaktForm" class="needs-validation" novalidate>
                    <div class="form-group mb-0" style="margin-top: 30px;">
                        <textarea name="content" type="text" id="form8" class="form-control" rows="4"
                            placeholder="{{.Params.Forms.FurtherHelp}}"></textarea>
                        <label data-error="wrong" data-success="right" for="form8"></label>
                    </div>

                    <div class="form-group mb-0 mt-3">
                        <h5>{{.Params.YourInformation}}</h5>
                    </div>

                    <div class="form-group mb-0">
                        <input required="required" name="name" required type="text" id="form29"
                            class="form-control validate" placeholder="{{.Params.Forms.FirstName}}">
                        <label data-error="wrong" data-success="right" for="form29"></label>
                    </div>

                    <p class="kontakt-note">{{.Params.Forms.ContactNote | safeHTML }}</p>
                    <div class="modal-footer-bestellung d-flex justify-content-center ">
                        <button class="btn btn-block btn-CTA2" title="Senden" id="anfrageFormButton"
                            onClick="gtag('event', 'action', {'event_category': 'Anfrage-Senden', 'event_label': 'Senden','value': 'value'});"
                            type="submit">{{.Params.Button.Senden}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kontaktformular erfolgreich-->

<div class="modal fade" id="KontaktFormularErfolgreich" tabindex="-1" role="dialog"
    aria-labelledby="ModalKontaktFormularErfolgreich" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100">
                    <span>{{.Params.Forms.Thanks}}</span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3 text-center py-5">

                <div class="form-group mb-0 text-center">
                    <span>{{.Params.Forms.ThanksText}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kontaktformular nicht erfolgreich-->

<div class="modal fade" id="KontaktFormularNichtErfolgreich" tabindex="-1" role="dialog"
    aria-labelledby="ModalKontaktFormularNichtErfolgreich" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100">
                    <span>{{.Params.Forms.Thanks}}</span>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3 text-center">

                <div class="form-group mb-0">
                    <span v-html="$t('Forms.Failure')"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mail upload -->
<script>
    var inputs = document.querySelectorAll('.file-input')

    for (var i = 0, len = inputs.length; i < len; i++) {
        customInput(inputs[i])
    }

    function humanizeSize(size) {
        var unit = 0
        const units = ['B', 'kB', 'MB', 'GB', 'TB', 'PB']
        while (size >= 1024) {
            size /= 1024.0;
            unit++;
        }
        return size.toFixed(1) + " " + units[unit];
    }

    function customInput(el) {
        const fileInput = el.querySelector('[type="file"]')
        const label = el.querySelector('[data-js-label]')
        const removeFilesButton = document.getElementById('remove-files')

        fileInput.onchange =
            fileInput.onmouseout = function () {
                if (!fileInput.value) return

                var value = ''
                for (let i = 0; i < fileInput.files.length; i++) {
                    value += fileInput.files.item(i).name + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + humanizeSize(fileInput.files.item(i).size)
                        + '<br/>';
                }

                if (fileInput.files.length > 0) {
                    removeFilesButton.classList.remove('hidden')
                }

                //var value = fileInput.value.replace(/^.*[\\\/]/, '')
                el.className += ' -chosen'
                label.innerHTML = value
            }


    }

    function removeFiles(e) {
        const fileInput = document.getElementById('file')
        const label = document.getElementById('selected-files')
        const removeFilesButton = document.getElementById('remove-files')

        fileInput.value = ''
        label.innerHTML = 'Keine Datei ausgewählt'
        removeFilesButton.classList.add('hidden')
        e.preventDefault();
        e.stopPropagation();
    }

</script>
<script>
    const MAX_FILE_SIZE = 10 * 1024 * 1024;
    const MAX_FILES = 5;

    function sendForm(event) {

        var form = document.getElementById('kontaktForm');
        var formData = new FormData(form);
        const fileInput = document.getElementById('file')

        form.classList.add('was-validated');

        if (form.checkValidity() === false) {
            //TODO: show error
            event.preventDefault();
            event.stopPropagation();
            return false;
        }

        // check number of files
        if (fileInput.files.length > MAX_FILES) {
            //TODO: validated 
            event.preventDefault();
            event.stopPropagation();
            $('#KontaktFormularMAX5FILS').modal('show');
            return false;
        }

        for (let i = 0; i < fileInput.files.length; i++) {
            if (fileInput.files.item(i).size > MAX_FILE_SIZE) {
                // TODO: validated
                event.preventDefault();
                event.stopPropagation();
                $('#KontaktFormularMAX10MB').modal('show');
                return false;
            }
        }

        $('#modalKontaktForm').modal('hide');

        document.getElementById("newloader").style.display = "block";

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/product/fairbrieft/send_email.php', false);
        xhr.send(formData);

        if (xhr.status == 200) $('#KontaktFormularErfolgreich').modal('show');
        else $('#KontaktFormularNichtErfolgreich').modal('show');

        document.getElementById("newloader").style.display = "none";

        event.preventDefault();
    }
</script>

<!-- Validacion Form -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<!-- Get WP posts -->
<script src="/js/wp-fairBrieft.js"></script>

{{ end }}