{{ define "base" }}

<!-- full IMG section -->
<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
  .content_6 {
    background-image: url(/images/our_story_banner.png);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    .content_6 {
      background-image: url(/images/our_story_banner.png);
    }
  }
</style>

<section class="content_6 pt-300 pb-200">
  <div class="container px-xl-0 text-center color-white">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">

      </div>
    </div>
  </div>
</section>

<!-- Content 18 FAQ -->

<section class="content_18 bg-light pt-75 pb-80">
  <div class="container px-xl-0">
    <div class="row">

      <div class="col-lg-7" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="opening_tabs">
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq1 | safeHTML }}<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq1 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq2 | safeHTML }}<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq2 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq3 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq3 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq4 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq4 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq5 | safeHTML }}<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq5 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq6 | safeHTML }}<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq6 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq7 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq7 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq8 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq8 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq9 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq9 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq10 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq10 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq11 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq11 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq12 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq12 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq13 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq13 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq14 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq14 | safeHTML }}</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">{{.Params.FAQ.Titlefaq15 | safeHTML }}
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              {{.Params.FAQ.Textfaq15 | safeHTML }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <div class="w-200 mt-30 ml-100 block_right">

          <div class="mt-10 f-32 medium text-adaptive">
            <div>{{.Params.FAQ.Title | safeHTML }}</div>
            <a href='{{"aboutus/contact"|relLangURL}}' class="mt-15 btn sm action-2 f-16">{{T "button_CTA2"}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}