{{ define "base" }}

<section class="pt-100 pb-100 bg-light content_3">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="small text-center" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Impressum
        </h2>
        <div class="mt-30 row f-18 medium color-heading text-center text-md-left blocks" data-aos-duration="600"
          data-aos="fade-down" data-aos-delay="0">
          <div class="mt-30 col-md-12 text-adaptive">

            <div _ngcontent-pxt-c125="" class="container">
              <div _ngcontent-pxt-c125="" class="address_section">
                <h6 _ngcontent-pxt-c125="" class="title">Angaben gemäß § 5 TMG </h6>
                <p _ngcontent-pxt-c125=""> DeskNow GmbH <br _ngcontent-pxt-c125=""> Carl-Benz-Straße 27 <br
                    _ngcontent-pxt-c125=""> 48734 Reken </p>
                <p _ngcontent-pxt-c125=""> Handelsregister: HRB18625 <br _ngcontent-pxt-c125=""> Registergericht:
                  Amtsgericht Coesfeld </p>
                <p _ngcontent-pxt-c125=""> DeskNow® ist eine beim Deutschen Patent- und Markenamt mit der Registernummer
                  30 2019 225 240 eingetragene Wort- und Bildmarke. Inhaber der Wort- und Bildmarke ist die oben im
                  Impressum genannte DeskNow GmbH. </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Vertreten durch den Geschäftsführer: </h6>
                <p _ngcontent-pxt-c125="" class="desc"> Marius Jarzyna </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Kontakt </h6>
                <p _ngcontent-pxt-c125="" class="desc"> Telefon: +49 (0) 2864 - 33032311 <br _ngcontent-pxt-c125="">
                  E-Mail: info@desk-now.com </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Umsatzsteuer-ID </h6>
                <p _ngcontent-pxt-c125="" class="desc"> Umsatzsteuer-Identifikationsnummer gemäß § 27 a
                  Umsatzsteuergesetz: DE328273243 </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV </h6>
                <p _ngcontent-pxt-c125="" class="desc"> Marius Jarzyna <br _ngcontent-pxt-c125=""> Carl-Benz-Straße 27
                  <br _ngcontent-pxt-c125=""> 48734 Reken </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> EU-Streitschlichtung </h6>
                <p _ngcontent-pxt-c125="" class="desc"> Die Europäische Kommission stellt eine Plattform zur
                  Online-Streitbeilegung (OS) bereit: <a _ngcontent-pxt-c125=""
                    href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a>. Wir sind nicht
                  bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle /
                  Universalschlichtungsstelle teilzunehmen. </p>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Dieses Impressum gilt auch für folgende Social Media Profile:
                </h6>
                <ul _ngcontent-pxt-c125="">
                  <li _ngcontent-pxt-c125=""> Facebook: <a _ngcontent-pxt-c125=""
                      href="https://www.facebook.com/hereispam" target="_blank"> https://www.facebook.com/hereispam </a>
                  </li>
                  <li _ngcontent-pxt-c125=""> Instagram: <a _ngcontent-pxt-c125=""
                      href="https://www.instagram.com/pam_by_desknow/" target="_blank">
                      https://www.instagram.com/pam_by_desknow/ </a></li>
                  <li _ngcontent-pxt-c125=""> LinkedIn: <a _ngcontent-pxt-c125=""
                      href="https://www.linkedin.com/showcase/pam-by-desknow" target="_blank">
                      https://www.linkedin.com/showcase/pam-by-desknow </a></li>
                  <li _ngcontent-pxt-c125=""> Twitter: <a _ngcontent-pxt-c125=""
                      href="https://twitter.com/pam_by_DeskNow" target="_blank"> https://twitter.com/pam_by_DeskNow </a>
                  </li>
                  <li _ngcontent-pxt-c125=""> Pinterest: <a _ngcontent-pxt-c125=""
                      href="https://www.pinterest.de/pam_by_DeskNow" target="_blank">
                      https://www.pinterest.de/pam_by_DeskNow </a></li>
                </ul>
              </div>
              <div _ngcontent-pxt-c125="" class="other_section">
                <h6 _ngcontent-pxt-c125="" class="title"> Bildquellen: </h6>
                <ul _ngcontent-pxt-c125="">
                  <li _ngcontent-pxt-c125=""> © Canva </li>
                  <li _ngcontent-pxt-c125=""> © Pexels </li>
                  <li _ngcontent-pxt-c125=""> © Flaticon </li>
                </ul>
              </div>
            </div>

            <p class="ql-align-justify"><br></p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}