{{ define "base" }}

<section class="pt-100 pb-100 bg-light content_3">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="small text-center" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Payment Policy
        </h2>
        <div class="mt-30 row f-18 medium color-heading text-center text-md-left blocks" data-aos-duration="600"
          data-aos="fade-down" data-aos-delay="0">
          <div class="mt-30 col-md-12 text-adaptive">

            <div _ngcontent-pxt-c124="" class="ql-editor">
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">General conditions</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">This Agreement is concluded between DESKNOW GMBH with
                  company number HRB18625 and having its registered address at Carl-Benz-Straße 27, 48734 Reken
                  (hereinafter “Company”) on the one part and the person (individual or legal entity), who has opened an
                  Host account (hereinafter “Host”) on the other part.&nbsp;</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Parties agree that the place of conclusion of this
                  Agreement is the place of registration of the Company, namely 48734 Reken, Germany.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The object of this Host Agreement</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Host undertakes to distribute his/her services
                  (including marketing materials) using the Companys Asset management tool (pam by DeskNow), and the
                  Company undertakes to pay commission to the Host in compliance with the terms, established in this
                  Host Agreement.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">A substantial provision of this Host Agreement is the
                  distribution of information by the Host in compliance with the provision of this Host Agreement and
                  instructions, received from representatives of the Company.</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Account registration</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In order to register an account, the Host fills out the
                  registration form on the Host platform website pam.desk-now.com</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host accepts the terms of this Agreement.</span>
              </p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In case the Host is a legal entity, they should also
                  provide the following documents to the Company for its registration by sending an email to </span><a
                  href="mailto:kyc.pam@desk-now.com" rel="noopener noreferrer" target="_blank"
                  style="color: #4d6688;">kyc.pam@desk-now.com</a><span style="color: #4d6688;"> or use the Verification
                  Form on Registration:</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">certificate of incorporation;</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">certificate of shareholders;</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">certificate of directors;</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">a recent certificate of incumbency listing (1, 2 and 3)
                  can be accepted instead of the above;</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">certificate of good standing (only applicable to
                  corporations established more than 12 months ago);</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">memorandum and articles of association;</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">POA of a legal entity issued within the last 3 months -
                  this period can be extended to 6 months maximum at the discretion of the Company;</span></p>
              <p>8.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">POI and POA (issued within the last 3 months) for all
                  directors, beneficial owners, shareholders with a 10% share or more and authorized signatories of a
                  legal entity.</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Payment procedure</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For the revenue share payment models, the commission is
                  calculated based on one of the five remuneration offers chosen during the account registration:
                  “Office”, “CoW Basic”, “CoW Advanced”, “CoW Business”, “CoW Corp”.</span></p>
              <p><span style="color: #4d6688;">The commission is calculated and credited to the Host’s balance as
                  follows:</span></p>
              <p><br></p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- After a booking is successfully performed on DeskNow: a
                  percentage (depending on Hosts Membership level) of the Booking amount will be reserved as a service
                  fee by DeskNow;</span></p>
              <p><span style="color: #4d6688;"> </span></p>
              <p><span style="color: #4d6688;"> The commission is payable only for the bookings executed by the clients
                  who are booking through desk-now.com.</span></p>
              <p><br></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For Hosts registered with “Office Membership” (one
                  Location/ Office), the commission is calculated and credited to the Host’s balance as follows:</span>
              </p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- For each successful booking through DeskNow on daily rates
                  20% of the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">&nbsp;- For each successful booking through DeskNow on weekly rates 19% of
                  the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">- For each successful booking through DeskNow on monthly rates 17% of the
                  total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><br></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For Hosts registered with “CoW Basic” (more than one
                  and up to four Locations/ Offices), the commission is calculated and credited to the Host’s balance as
                  follows:</span></p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- For each successful booking through DeskNow on daily rates
                  17% of the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">&nbsp;- For each successful booking through DeskNow on weekly rates 16% of
                  the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">- For each successful booking through DeskNow on monthly rates 14% of the
                  total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><br></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For Hosts registered with “CoW Advanced” (more than
                  four and up to 40 Locations/ Offices), the commission is calculated and credited to the Host’s balance
                  as follows:</span></p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- For each successful booking through DeskNow on daily rates
                  15% of the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">&nbsp;- For each successful booking through DeskNow on weekly rates 14% of
                  the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">- For each successful booking through DeskNow on monthly rates 12% of the
                  total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><br></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For Hosts registered with “CoW Business” (more than 40
                  and up to 80 Locations/ Offices), the commission is calculated and credited to the Host’s balance as
                  follows:</span></p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- For each successful booking through DeskNow on daily rates
                  14% of the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">&nbsp;- For each successful booking through DeskNow on weekly rates 13% of
                  the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">- For each successful booking through DeskNow on monthly rates 11% of the
                  total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><br></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For Hosts registered with “CoW Corp” (more than 80
                  Locations/ Offices), the commission is calculated and credited to the Host’s balance as
                  follows:</span></p>
              <p><span style="color: #4d6688;">&nbsp;&nbsp;- For each successful booking through DeskNow on daily rates
                  12% of the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">&nbsp;- For each successful booking through DeskNow on weekly rates 11% of
                  the total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><span style="color: #4d6688;">- For each successful booking through DeskNow on monthly rates 9% of the
                  total booking amount is being reserved for DeskNow as a Service fee</span></p>
              <p><br></p>
              <p><span style="color: #4d6688;"> The commission is payable only for the bookings executed by the clients
                  who are booking through desk-now.com.</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The currency of the Host account to be maintained with
                  the Company shall be designated in EUR and any Host commission payouts shall be calculated and
                  presented in EUR. Payouts of Host commissions shall be made by the Company to the Host through any
                  payment method indicated in the Host’s account and/or by way of any type of instrument/currency of
                  equivalent EUR value upon conversion (Payment Method). For Payment Methods conducted in EUR, the
                  exchange rate for the conversion is equal to the most recent EUR/USD reference rate made available by
                  the European Central Bank at the time of processing the payment. The Company shall be able, upon its
                  sole discretion and as it deems fit from time to time, to opt for any Payment Method for the
                  settlement of any Host commission/payout. The Host shall provide the Company with all relevant
                  details, banking or otherwise, for the purpose of effecting the Host commission payouts (Payment
                  Details). The Host irrevocably accepts the use of any Payment Method by the Company and such
                  acceptance is signified by the provision of relevant Payment Details.&nbsp;</span></p>
              <p>8.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host acknowledges and accepts that the Company
                  shall treat as accurate and true and shall fully rely on the Payment Details. Payments made by the
                  Company to the Host by way of any Payment Method and based on the Payment Details shall constitute
                  full and unequivocal satisfaction of the obligations of the Company in terms of payment of any Host
                  commission/payouts.&nbsp;</span></p>
              <p>9.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Host acknowledges, represents and warrants to the
                  Company that all Payment Details made available from time to time, to the Company shall be accurate,
                  correct and up-to-date and that it shall exclusively bear the responsibility to inform the Company in
                  case of any changes that would affect any payments due hereunder.</span></p>
              <p>10.&nbsp;<span style="color: #4d6688;">In order to receive a payment, the Host has to have a verified
                  account and no less than 5 clients over the period of collaboration. The number of active clients can
                  be seen in the General Stats section. For the revenue share payment models, an active client is
                  defined as a user who has conducted at least one booking through the DeskNow Platform; All accumulated
                  funds on Host’s balance will be remunerated on the next payment date after meeting the requirement of
                  having at least 5 active Clients on the account. The minimum payable commission amount is €100.</span>
              </p>
              <p>11.&nbsp;<span style="color: #4d6688;">The commission is paid twice a month.</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For the first half of the month – within 3 workdays
                  after the 15th of each month;</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For the second half of the month – within the first 3
                  workdays of the next month.</span></p>
              <p>12.&nbsp;<span style="color: #4d6688;">When the commission, as calculated in the manner as described in
                  this Agreement, becomes payable, it shall be paid in the frequency specified above, either directly
                  from the Company or by any third party on behalf of the Company, upon the Company’s discretion. A
                  payment that is executed in any of the aforementioned ways shall discharge the Company of its
                  obligations in relation to the payment of the commission.</span></p>
              <p>13.&nbsp;<span style="color: #4d6688;">Notwithstanding any other provision of the Agreement, in the event
                  that any activity in the Host Account, or in any account which appears to be controlled or managed by
                  the Host is reasonably deemed suspicious in any way by the Company in its sole discretion, the Company
                  may in its absolute discretion, delay payment of the commission to the Host for up to one hundred and
                  eighty (180) days in order to look into and verify the suspicious activity.</span></p>
              <p><br></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Authority and liabilities of the Parties</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company bears no responsibility for the activity or
                  inactivity of the Host.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company bears no responsibility for a failure to
                  fulfill its obligations due to disruptions of communication lines, technical problems of the Internet
                  service provider and/or other technical problems.</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host is responsible for the safety of their
                  passwords and payment information.</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host guarantees that all their personal information
                  provided to the Company is true, accurate and up to date.</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host guarantees that their actions in accordance
                  with this Agreement do not violate laws, legal acts and other rules and regulations, applicable to the
                  Host or within the jurisdiction of the Host.</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host is responsible for the payment of taxes he is
                  subject to in the state of his tax residency.</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company reserves the right to withhold an account
                  verification without explanation.</span></p>
              <p><br></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host undertakes to:</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Provide scanned copies of Company Registration document
                  and a residence verification document via e-mail&nbsp;</span><a
                  href="mailto:kyc.affiliate+en@iqoption.com" rel="noopener noreferrer" target="_blank"
                  style="color: #4d6688;">kyc.pam@desk-now.com</a><span style="color: #4d6688;">&nbsp;or using the
                  Registration form. Residence verification documents are the following: a utility bill, a bank
                  statement or a government correspondence. In case of non-provision of these documents, the Company
                  reserves the right to suspend payments to the Host until provision of necessary documents.</span></p>
              <p><br></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In case the Host is a legal entity, it should provide
                  scan-copies of the documents mentioned in the Claim 4.3. of this Agreement via e-mail&nbsp;</span><a
                  href="mailto:kyc.affiliate+en@iqoption.com." rel="noopener noreferrer" target="_blank"
                  style="color: #4d6688;">kyc.pam@desk-now.com</a><span style="color: #4d6688;">. In case of non-provision
                  of these documents, the Company also reserves the right to suspend payments to the Host until
                  provision of necessary documents.</span></p>
              <p><br></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Notify the Company of any changes to their personal
                  and/or financial information by sending an email to&nbsp;</span><a
                  href="mailto:kyc.affiliate+en@iqoption.com" rel="noopener noreferrer" target="_blank"
                  style="color: #4d6688;">kyc.pam@desk-now.com</a><u style="color: #4d6688;"> </u><span
                  style="color: #4d6688;">or going to the “Settings” -&gt; “saved cards”.</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Provide true and accurate data.</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Provide exclusively true, accurate, clear and up to
                  date information on his websites and in marketing advertisements/publications and other
                  sources.&nbsp;</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Not give guarantees or make promises on behalf of the
                  Company.</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Free the Company of responsibility and/or sanctions
                  applicable to the Company in relation to the failure of the Host to fulfill his tax
                  obligations.</span></p>
              <p><strong style="color: #4d6688;"> </strong></p>
              <p><strong style="color: #4d6688;"> </strong></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Additionally, an Host is prohibited from:</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Using spam of any kind for attracting clients to book
                  their offers through desk-now.com.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Сomparing DeskNow with other brands in the ad text or
                  unjustifiably showing other brands in a bad light, as well as any other unauthorized use of any
                  third-party copyrights or trademarks.</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Publishing false information in order to attract more
                  clients or misleading clients.</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Agreement Termination and Block of Host Account</span>
              </p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In the event that the Company has reasonable suspicion
                  to believe and/or in case of detection of violation of rules and/or guidelines specified by this
                  Agreement, as well as in case of any indications of fraud when conducting financial transactions after
                  the attracted client has made a booking, the Company reserves the right to cancel this transaction and
                  suspend the flow of funds on the Host’s account. In this case, the accrued Host commission shall be
                  annulled and not payable to Host. The Company reserves the right to block Host’s account in case of
                  misuse and for the reasons described in this clause 9, the effect of which would be the termination of
                  the business relationship with the Host under this agreement.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host understands and accepts that upon termination
                  of this Agreement and/or block of an Host account:&nbsp;</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host shall immediately and without undue delay stop
                  sending traffic and/or providing the services in relation to this agreement, as the case may
                  be;&nbsp;</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Any Host links used for the purposes of this agreement
                  shall be disabled and shall not be operative;&nbsp;</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Such termination or block shall subject to any other
                  provisions of the Agreement, be without prejudice to any outstanding or accrued obligations the Host
                  has vis-à-vis the Company;&nbsp;</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Any authorization or powers of attorney or any rights
                  granted by the Company to the Host shall be automatically terminated and withdrawn;&nbsp;</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Any authorization or powers of attorney or any rights
                  granted by the Host to any client/user shall be automatically terminated;&nbsp;</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">All and any active user of the Company which was
                  referred by the Host, in the sole discretion of the Company, remain as registered clients of the
                  Company, irrespective of the termination of this agreement and/or block of the Host
                  account;&nbsp;</span></p>
              <p>8.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Confidential &amp; Personal Data</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">For the purposes of this section, the following
                  definitions shall apply:</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<strong style="color: #4d6688;">Data Protection Legislation</strong><span
                  style="color: #4d6688;">: the applicable legislation with regards to the protection of personal data and
                  the General Data Protection Regulation ((EU) 2016/679) (“GDPR”), any other directly applicable
                  European Union regulation relating to privacy and/or the Data Protection Act (DPA) and any other local
                  legislation of Reken, Germany, as applicable.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<strong style="color: #4d6688;">Personal data</strong><span
                  style="color: #4d6688;">,</span><strong style="color: #4d6688;">&nbsp;</strong><span
                  style="color: #4d6688;">or&nbsp;</span><strong style="color: #4d6688;">personal information</strong><span
                  style="color: #4d6688;">, means any information about an individual from which that person can be
                  identified. It does not include data where the identity has been removed (known as “anonymous
                  data”).</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Host hereby undertakes and confirms to the Company that
                  it shall at all times:</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Comply with its obligations under applicable Data
                  Protection Legislation with respect to any processing of Personal Data that will be undertaken within
                  the context of this Agreement;</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">At its own expense, ensure that it complies with and
                  provides any assistance that may be required to the Company to comply with the requirements of Data
                  Protection Legislation and regulatory requirements in force from time to time relating to the use of
                  personal data, including, without limitation, (a) the GDPR, and (b) any national implementing laws,
                  regulations and secondary legislations.&nbsp;</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company has the right, without prior notice to the
                  Host, to disclose and/or consent to the disclosure of personal data, including without limitation to
                  the data provided hereunder, any data connected to confidential information and/or details of the
                  transactions of the Host (i) in order to comply with the requirements of the regulatory authorities of
                  Reken and/or Germany (as it may be applicable) and/or (ii) to banks and other financial institutions,
                  to its auditors/consultants, companies belonging to the group of companies the Company belongs to, the
                  Company’s Hostd companies, and/or to any other company which may be directly or indirectly controlled
                  by the Company, for the purpose of facilitating the performance of this agreement, provided that they
                  are informed and committed to the confidentiality of the information communicated. All the Host’s
                  personal data shall be processed in strict compliance with the provisions of the Data Protection
                  Legislation.</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company will handle all personal data provided
                  under this Agreement, according to the relevant laws and regulations for the protection of personal
                  data.</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company, through the involvement of another legal
                  entity, collects and processes personal data of natural person connected with the Hosts, including
                  without limitation to the data requested under paragraphs 4.3, 4.4 and 7.1 hereof, solely for the
                  purposes of this Agreement and of the requirement of applicable laws and/or regulations. The Host
                  hereby represents and warrants, and the Company hereby relies on such representations and warranties,
                  that the consent of any natural person (directors, ultimate beneficial owners, shareholders and/or
                  authorized signatories of an Host being a legal entity) of whose personal data has been submitted to
                  the Company, has been freely provided and that any such natural person is well informed and consents
                  to the disclosure provisions of paragraph 10.4 of this Agreement.</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Subject to paragraph 10.2, the Parties agree to keep
                  confidential and not to disclose to any third party any confidential information given by the other
                  Party under this Agreement including without limitation the information to be provided under
                  paragraphs 4.3, 4.4 and 7.1 of this Agreement and/or all communication, documentation or other
                  information exchanged between them, both during the term of the Agreement as well as after its
                  termination.</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Host acknowledges and accepts that it/she/he has
                  read and accepted the Privacy Policy which can be found on the Company’s website. For the purposes of
                  this paragraph, the term Client in the Privacy Policy shall be read to include the term Host.</span>
              </p>
              <p>9.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company has the right to change, add, rename or
                  leave unchanged any section, paragraphs and subparagraphs of this Agreement without prior notice to
                  the Client about such changes. In case of violation of any of the Host’s obligation in accordance with
                  this Host Agreement, as well as if the Company makes a decision on the inexpediency of continuing
                  further cooperation with the Host according to the Host Agreement, the Company has the right to
                  terminate the Host Agreement and to notify the Host immediately about it in any way without
                  compensation of losses and without making any payments, including payments for distributing
                  information about the Company.</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In some cases, upon the Company’s decision, the Company
                  can pay the Host's profit even after unilateral termination of the Host Agreement with such
                  Host.</span></p>
              <p>10.&nbsp;<span style="color: #4d6688;">Assignment</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company may at any time assign, subcontract,
                  delegate, sub-license or deal in any other manner in whole or in part the Agreement or any of its
                  rights or obligations hereunder determined.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Host shall not assign, transfer, mortgage, charge,
                  subcontract, delegate, declare a trust over or deal in any other manner with any of its rights and
                  obligations under this agreement, without the prior written consent of the Company.</span></p>
              <p>11.&nbsp;<span style="color: #4d6688;">Arbitration</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Claims for lost revenues will not be considered;</span>
              </p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Company does not compensate for moral
                  damages;</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">All claims are to be sent via&nbsp;</span><a
                  href="mailto:info" rel="noopener noreferrer" target="_blank" style="color: #4d6688;">info</a><u
                  style="color: #4d6688;">@desk-now.com</u><span style="color: #4d6688;">&nbsp;e-mail address.</span></p>
              <p>4.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Time of consideration of claims is 15 working days or
                  less;</span></p>
              <p>5.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">In case a dispute is not specified in this Agreement
                  the Company makes the decision based on relevant practice;</span></p>
              <p>6.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The Agreement and any dispute or claim (including
                  non-contractual disputes or claims) arising out of or in connection with it or its subject matter or
                  formation shall be governed by, and construed in accordance with, the laws of St. Vincent and the
                  Grenadines.</span></p>
              <p>7.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">Any dispute, controversy or claim arising out of or
                  relating to the Agreement, or the breach, termination or invalidity thereof, shall be settled by
                  arbitration in accordance with the laws of arbitration of Reken, as amended from time to time, and the
                  provisions of which are deemed to be incorporated herein by reference. The decision of St. Vincent and
                  the Grenadines arbitration shall be binding upon both parties. If the parties fail to agree on the
                  appointment of an arbitrator within 7 clear days, then the competent appointing authority of St.
                  Vincent and the Grenadines shall appoint the arbitrator.</span></p>
              <p>1.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The number of arbitrators shall be one.</span></p>
              <p>2.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The seat, or legal place,
                  of&nbsp;arbitration&nbsp;shall be the City Reken.</span></p>
              <p>3.&nbsp;&nbsp;&nbsp;<span style="color: #4d6688;">The language to be used in the arbitral proceedings
                  shall be german.</span></p>
              <p>&nbsp;</p>
            </div>

            <p class="ql-align-justify"><br></p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}