{{ define "base" }}

<section class="pt-100 pb-100 bg-light content_3">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="small text-center" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Cancellation /
          Refund
        </h2>
        <div class="mt-30 row f-18 medium color-heading text-center text-md-left blocks" data-aos-duration="600"
          data-aos="fade-down" data-aos-delay="0">
          <div class="mt-30 col-md-12 text-adaptive">

            <p class="ql-align-justify">The guest can cancel up to 14 days before the start of the booked room without
              specifying reasons and the origin of costs. The guest must declare the cancellation in writing or text
              form (by letter or e-mail) or via his user account to the host, in compliance with the cancellation
              deadline. The relevant date for the timeliness of the cancellation is the receipt of the declaration with
              the host. This shall not affect any right to cancel the guest's booking, if any, as a consumer.</p>
            <p class="ql-align-justify">In case of cancellation in accordance with clause 8.1., the host will refund the
              fees already paid to the guest in full. The booking price will be refunded within a period of fourteen
              (14) days from receipt of the cancellation notice. Unless otherwise agreed between the parties, the host
              will refund the booking price to the guest using the same means of payment that the guest used when
              booking the room.</p>
            
            <p class="ql-align-justify"><br></p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}