{{ define "base" }}

<section class="pt-100 pb-100 bg-light content_3">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <h2 class="small text-center" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">Terms and Conditions
        </h2>
        <div class="mt-30 row f-18 medium color-heading text-center text-md-left blocks" data-aos-duration="600"
          data-aos="fade-down" data-aos-delay="0">
          <div class="mt-30 col-md-12 text-adaptive">

            <p class="ql-align-justify">We are pleased that you visit our website (hereinafter referred to as "online
              marketplace") and thank you for your interest. Use of the Services requires that you agree to these Terms
              of Use. Please read them carefully before using the online marketplace. By using the online marketplace,
              you agree to be bound by these General Terms and Conditions of Use (hereinafter referred to as "T&amp;C").
              Below we inform you about the use of our online marketplace.</p>
            <p class="ql-align-justify"><br></p>
            <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General and scope</p>
            <p>1.1.&nbsp;&nbsp;&nbsp;The following General Terms and Conditions of Use (hereinafter referred to as
              "T&amp;C")&nbsp;apply to all contracts between the</p>
            <p><br></p>
            <p>DeskNow GmbH</p>
            <p>Carl-Benz-Straße 27</p>
            <p>48734 Reken</p>
            <p><br></p>
            <p>represented by the Managing Director Marius Jarzyna</p>
            <p><br></p>
            <p>Telephone: +49 (2864) 9599850</p>
            <p>E-Mail:&nbsp;<a href="mailto:info@desk-now.com" rel="noopener noreferrer"
                target="_blank">info@desk-now.com</a></p>
            <p>Internet:&nbsp;<a href="https://www.desk-now.com/" rel="noopener noreferrer"
                target="_blank">https://www.desk-now.com</a></p>
            <p><br></p>
            <p>VAT Id: DE 328273243</p>
            <p>Seat of the company:&nbsp;Reken</p>
            <p>Register Court: District Court Coesfeld</p>
            <p>Register number: HRB18625</p>
            <p>&nbsp;</p>
            <p class="ql-align-justify">(hereinafter referred to as "DeskNow")&nbsp;and Providers&nbsp;(hereinafter
              referred to as&nbsp;"hosts")&nbsp;&nbsp;of premises&nbsp;and&nbsp;equipment&nbsp;(hereinafter referred to
              as"premises")“&nbsp;and&nbsp;interested parties&nbsp;(hereinafter referred to as&nbsp;"guest",
              collectively&nbsp;with the host&nbsp;also called "users")&nbsp;ofthe online marketplace can be reached
              under the link&nbsp;„ <a href="https://www.desk-now.com/" rel="noopener noreferrer"
                target="_blank">https://www.desk-now.com.</a>&nbsp;</p>
            <p>&nbsp;</p>
            <p>1.2.&nbsp;&nbsp;&nbsp;These TOBs apply to both consumers and traders, unless a differentiation is made in
              the respective clause. Pursuant to Paragraph 13 of the German Civil Code (BGB), the consumer is any
              natural person who concludes a legal transaction for purposes which cannot be attributed primarily to his
              commercial or independent professional activity. Pursuant to Section 14 of the German Civil Code (BGB), an
              entrepreneur is a natural or legal person or a partnership with legal rights that acts in the exercise of
              its commercial or independent professional activity when concluding a legal transaction.</p>
            <p>1.3.&nbsp;&nbsp;&nbsp;Entrepreneurs within the meaning of these TOBs are also authorities, corporations,
              institutions, foundations, legal persons under public law or a special fund under public law, which act
              exclusively under private law at the time of conclusion of the contract.</p>
            <p>1.4.&nbsp;&nbsp;&nbsp;DeskNow's T&amp;Cs apply exclusively. Deviating, conflicting or supplementary
              general terms and conditions or T&amp;C of the user only become part of the contract if and to the extent
              that DeskNow has expressly agreed to their validity.</p>
            <p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subject matter</p>
            <p>2.1.&nbsp;&nbsp;&nbsp;The DeskNowwebsite is an online marketplace that allows registered hosts
              of&nbsp;premises and guests to get in touch, publish advertisements on the online
              marketplace&nbsp;(hereinafter referred to as the "advertisement")&nbsp;&nbsp;and book the premises offered
              there by the hosts and communicate with users.</p>
            <p>2.2.&nbsp;&nbsp;&nbsp;DeskNow creates, maintains and maintains the&nbsp;online marketplace,but does not
              actively act as an intermediary between users. DeskNow&nbsp;is not the owner, seller, reseller or provider
              of advertisements or&nbsp;premises&nbsp;and equipment&nbsp;and is not itself a contracting party,proxy or
              any other party to the contracts concludedbetween users.&nbsp;In addition, DeskNow nicht is active as a
              real estate&nbsp;tätigagent. For the execution of the contracts, only the legal provisions in the
              relationship between the host and the&nbsp;guest&nbsp;and, if applicable, deviating general terms and
              conditions and / or cancellation conditions of the respective users among themselves apply. If
              DeskNow&nbsp;is not also a service provider itself, DeskNow is not liable for the proper execution of any
              contracts between the users.</p>
            <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services and use of the profile</p>
            <p>3.1.&nbsp;&nbsp;&nbsp;When using the profile, the user can use various functionalities or services.
              Without&nbsp;logging in, the&nbsp;user can view advertisements&nbsp;from hosts&nbsp;and search for
              unktion&nbsp;various search criteria and filters (location, category of space usage, rating, distance,
              etc.) in the onlinemarketplace via the&nbsp;search.Marktplatz suchen.</p>
            <p>&nbsp;</p>
            <p>3.2.&nbsp;&nbsp;&nbsp;After successful registration, the user can also use further functionalities or
              services via the online marketplace:</p>
            <p>&nbsp;</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user has the possibility of free&nbsp;creation,
              editing and publication of ar search ador Profile of a room together with equipment consisting of a
              description, pictures, availability, additional services, deposit and / or conditions, etc. ,&nbsp;which
              is publicly accessible to every Internet user and can be found via searchengines.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can edit the status of his or her entry by
              placing the status of his or her entry online or offline.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can manage e-mail address(s), contact details,
              passwords, deletion of the user account,&nbsp;etc.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can also adjust the desired e-mail
              notifications function including individual settings.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The built-in messaging feature allows users to send
              messages to otherusers or receive them from other users.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can make a request for a booking to other
              usersvia the integratedcalendar.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The integrated rating function allows users as a guest
              to write a rating&nbsp;of the host and a review.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user has the possibility to make transactions and
              can initiate a payment process.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can viewthe location of the room and equipment
              via&nbsp;the map view.&nbsp;anzeigen lassen.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can&nbsp;create, edit and delete lists of
              search results (rooms and equipment).</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The user can send messages to DeskNow via the
              built-in&nbsp;chat function or the contact form on the website.&nbsp;DeskNow senden.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the user is a guest, he can verify himself in
              different levels (beginner, advanced and professional) after successful registration.</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the user is a host, the user can determine at his
              advertisements which verification level the guest must meet.</p>
            <p>&nbsp;</p>
            <p>3.3.&nbsp;&nbsp;&nbsp;The user also has the possibility to select certain additional services for a fee
              when placing an ad and can book them for this purpose against payment of a fee. In the case of booking an
              additional service, the search results also display advertisements for which the highlighted display (e.g.
              as a top ad) the respective user&nbsp;has agreed to pay an additional fee. In addition, the user can claim
              other paid services (e.g. dynamic pricing, floor plan management, etc.) by completing a membership.
              Further information on the additional services offered for a highlighted presentation and the other paid
              services can be found in the online offer of DeskNow under the link LINK https://www.desk-now.com.</p>
            <p>&nbsp;</p>
            <p>3.4.&nbsp;&nbsp;&nbsp;In principle, anyone who has a space that meets the requirements of the online
              marketplacecan become ahost.</p>
            <p>&nbsp;</p>
            <p>3.5.&nbsp;&nbsp;&nbsp;Hosts are themselves responsible for compliance with legal regulations. In this
              respect, the host is obliged to declare a trade, provided that there is a permanent economic activity. On
              the other hand, no trade is to be registered if the premises are offered for rent only occasionally and
              only for a short period of time. If, on the other hand, a host wishes to offer a permanent and/or for a
              longer period of time a business registration is required.</p>
            <p>3.6.&nbsp;&nbsp;&nbsp;Hosts are obliged to provide adequate insurance cover themselves.</p>
            <p>3.7.&nbsp;&nbsp;&nbsp;If the host entrepreneur in accordance with clause 1.2,&nbsp;the host is also
              obliged to indicate to his guests the prices to be paid, including VAT and other price components (total
              prices).</p>
            <p>3.8.&nbsp;&nbsp;&nbsp;The host is himself obliged to check the local&nbsp;laws, regulations, tax
              regulations and reporting requirements and to obtain any permits before offering a&nbsp;space via
              deskNow's&nbsp;online&nbsp;marketplace.</p>
            <p>3.9.&nbsp;&nbsp;&nbsp;The host warrants that he is entitled by any owner or main tenant to rent or offer
              the space offered via DeskNow.</p>
            <p>3.10. Hosts are themselves responsible for compliance with the legal regulations, in particular tax
              regulations, regulations on reporting laws, public law regulations with regard to the rental or transfer
              of the premises themselves.</p>
            <p>3.11. The host is responsible for the taxation of his income. Whether taxes are incurred always depends
              on the current tax situation of the respective host and must be checked by the host in individual cases.
              Pursuant to Section 21 (1) of the EStG, the host is in principle obliged to declare income from a
              short-term rental in the tax return (Annex V, investment rental and leasing).</p>
            <p>3.12. The host&nbsp;warrants that the availability information is truthful and complete. He is obligated
              to keep the availability up to date and to update the availability in his user account immediately in case
              of changes or deviations in availability. If a cancellation of a booking occurs due to an incorrect
              indication of availability, the&nbsp;host is obliged to pay compensation to the guest
              and&nbsp;DeskNow.&nbsp;The&nbsp;host is free to prove that&nbsp;DeskNow or the guest has suffered no or
              lesser damage.</p>
            <p>3.13. The specific graphic and functional design of the contractual possibilities of use, the extension
              or adaptation of the possibilities of use with additional features or services or their addition with
              additional services for consideration are at desk by DeskNow.&nbsp;DeskNow is entitled to modify and adapt
              the specific design at any time, while retaining the contractual possibilities of use.</p>
            <p>3.14. DeskNow is entitled at any time to block access to individual content or to the
              onlinemarketplace,&nbsp;e.g. if there is a suspicion that the users are in violation of applicable law,
              these TOSs or rights of third parties. The user may avert these measures if he removes the suspicion by
              presenting appropriate evidence at his own expense. There is no claim of the user to the maintenance of
              individual functionalities&nbsp;on&nbsp;them&nbsp;onlinemarketplace.</p>
            <p>3.15. The onlinemarketplace is available to the user for an unlimited period of time at least 98.5 per
              annime per year. Unavoidable, unpredictable and exceptional events thatmay lead to the unavailability of
              theonlinemarketplace,such as power outages, hacking interventions, failures of the telecommunications
              lines from the transfer point to the Internet are not counted against the minimum availability..</p>
            <p>3.16. DeskNow is entitled to engage third parties as subcontractors for the provision of the
              contractually owed services. In addition, DeskNow may transfer rights and obligations under this Agreement
              to one or more third parties (contracting). In the event of full contract acceptance, the user has the
              right to terminate the contract without notice.</p>
            <p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration, conclusion of contract and user account
            </p>
            <p>4.1.&nbsp;&nbsp;&nbsp;By completing the online registration process (hereinafter referred to as
              "registration")&nbsp;and creating a profile, a user agreement is concluded between the user and DeskNow.
            </p>
            <p>4.2.&nbsp;&nbsp;&nbsp;To register and create a profile, you must create a user account. This differs
              according to whether the user registers as a guest or host.</p>
            <p>4.2.1.&nbsp;&nbsp;Natural and legal persons can register to use the online marketplace as a guest. The
              registration of a legal entity can only be carried out by a person authorised to represent. Only guests
              who are of legal age and able to do business can register as a natural person. If the guest is a minor,
              registration may only take place with the consent of a legal representative. DeskNow is entitled to make
              the registration subject to proof of consent from a legal representative. In order to create a user
              account for the guest, the e-mail address, private person or company, name, mobile phone number and
              password (hereinafter referred to as&nbsp;"log-in data") is required. After entering the data, the guest
              receives a four-digit confirmation code via SMS, which he must enter in the input mask. After successful
              registration, the guest can verify his profile in different levels (beginner, advanced and professional).
            </p>
            <p><br></p>
            <p>4.2.2.&nbsp;&nbsp;In order to create a user account for the host, it is necessary to provide an e-mail
              address, name, mobile phone number and password (hereinafter referred to as "log-in&nbsp;data"). After
              entering the data, the guesthost receives a four-digit confirmation code via SMS, which he must enter in
              the input mask. In order to complete a successfulnregistration, the full disclosure of the host's company
              data is required.</p>
            <p>&nbsp;</p>
            <p>4.3.&nbsp;&nbsp;&nbsp;Alternatively, the user can log in to the website to create a user account or to
              register using the social plugin "Facebook Connect" or "Apple Single-Sign-On"&nbsp;or&nbsp;"LinkedIn
              Single-Sign-On" as part of the so-called single sign-on procedure, if this is via a Facebook
              profile,&nbsp;LinkedInprofileor Apple ID.&nbsp;verfügt.</p>
            <p>4.4.&nbsp;&nbsp;&nbsp;The contract with DeskNow for the use ofthe onlinemarketplacecomes from the
              completion of the online registration process and by clicking onthe checkboxes T&amp;C ("I hereby confirm
              that I have read and accept the General Terms and Conditions of Use."), Data Protection ("I have taken
              note of the privacy policy). I agree that my personal data will be collected and stored electronically for
              the purpose of registering and creating a user account. Note: You can revoke your consent at any time for
              the future by e-mail to&nbsp;<a href="mailto:info@desk-now.com" rel="noopener noreferrer"
                target="_blank">info@desk-now.com.")</a>&nbsp;achieved.</p>
            <p>4.5.&nbsp;&nbsp;&nbsp;The user can view the contract text in his user account in the online system of
              DeskNow. The contract text is stored in the online system of DeskNow and can be viewed and retrieved by
              the user using his access data in the password-protected user account.</p>
            <p>4.6.&nbsp;&nbsp;&nbsp;If the user has not made a registration by single sign-on procedure in accordance
              with clause 4.3., the user will receive a confirmation email with an activation link after the
              registration process has been completed. Upon completion of the registration process, the user will
              receive a confirmation email with an activation link. In order to complete the registration process, the
              user must verify himself by clicking on the link in the confirmation email. There is no right to conclude
              a user contract.</p>
            <p>4.7.&nbsp;&nbsp;&nbsp;The date of conclusion of the contract between the parties. for DeskNow's
              additional paid services referred to in clause 3.3. shall be made through the payment service provider
              Stripe Payments Europe Ltd., 1 Grand Canal Street Lower, Grand Canal Dock, Dublin, Ireland (hereinafter
              referred to as "Stripe").&nbsp;&nbsp;Within the framework of the payment provider Stripe,&nbsp;DeskNow
              offers different payment methods. After entering his payment details and selecting the desired payment
              method, the user also confirms a payment instruction to Stripe by clicking the butT&amp;C that completes
              the booking process. DeskNow&nbsp;prompts Stripe to initiate the payment transaction after confirming the
              payment order and accepts the user's offer in case of clicking the butT&amp;C that completes the booking
              process.</p>
            <p>4.8.&nbsp;&nbsp;&nbsp;The creation of a user account is only possible with a current e-mail address of
              the user. This e-mail address is also used to communicate with DeskNow.</p>
            <p>4.9.&nbsp;&nbsp;&nbsp;The user warrants that the data used in creating his profile ("Profile Data") is
              truthful and complete. He is obligated to keep his data up-to-date and to update his data in his user
              account in the event of changes. The use of pseudonyms is not permitted. The same applies to all
              information provided by the user when setting up employee logins.</p>
            <p>4.10. With the registration, the user creates a password for his user account. The user can change the
              password at any time in his user account. The user may not communicate or make the password available to
              third parties and must keep it carefully in order to avoid abuses. The user is also responsible for the
              confidentiality of employee logins and will instruct his employees accordingly. He is obliged to inform
              DeskNow immediately if the password has been lost or if he becomes aware that unauthorized third parties
              have become aware of the password. The user is liable for any misuse of third parties, unless he proves
              that he is not at fault for this.</p>
            <p>4.11. Each user may register for the private and business use of the DeskNow services only once at a
              time. A user account is not transferable to other users or employees.</p>
            <p>4.12. The user can correct his entries made during the online registration process at any time before
              submitting his registration via the usual keyboard and mouse functions.</p>
            <p>4.13. DeskNow stores the terms of the contract, including the T&amp;C, at the time of conclusion of the
              contract in compliance with data protection. The T&amp;C can be accessed by the user in the footer of
              deskNow's website under the link https://www.desk-now.com/content/terms-conditions.&nbsp;The booking data
              is stored in the DeskNow system and can be viewed and retrieved by the user using his access data in the
              password-protected user account, provided that the user has set up a user account before sending the
              order.</p>
            <p>4.14. The contract is concluded in German.</p>
            <p>4.15. The user must ensure that the e-mail address provided by him for registration is correct, so that
              the e-mails sent by DeskNow can be received at this address. In particular, when using SPAM filters, the
              user must ensure that all&nbsp;e-mails sent by DeskNow or by desk now or third parties commissioned with
              the order processing can be delivered.</p>
            <p>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admission and access for hosts</p>
            <p>5.1.&nbsp;&nbsp;&nbsp;Prerequisite for the activation as host is the registration of the&nbsp;host and
              the admission by&nbsp;DeskNow. There is no claim to the circuit of an advertisement.</p>
            <p>5.2.&nbsp;&nbsp;&nbsp;In order to complete the application for admission,&nbsp;the host must enter all
              necessary company information in the required fields provided in the input form and upload the required
              documents to his user account. The documents to be reloaded depend on whether the hosthas registered as an
              official ora uristicperson.&nbsp;These are, for example,&nbsp;a trade declaration for natural persons
              and&nbsp;a commercial register extract for legal persons or any otherdocument whicherrequireslegitimacy.
              liches Dokument.</p>
            <p>5.3.&nbsp;&nbsp;&nbsp;The acceptance of the application for admission will be effected after
              examination&nbsp;by&nbsp;an&nbsp;admission confirmation&nbsp;by&nbsp;e-mail. The approval concludes a
              service contract for an indefinite period between&nbsp;DeskNow and the respective user in accordance with
              these terms of use.</p>
            <p>5.4.&nbsp;&nbsp;&nbsp;Legal entities have the option of giving employees in their company their own
              access authorisation and configuring them according to their wishes in order to enable them to work
              optimally.</p>
            <p>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General obligations of users to cooperate</p>
            <p>6.1.&nbsp;&nbsp;&nbsp;The user may, without the express permission of DeskNow, use the
              onlinemarketplaceonly within the scope of the contractually stipulated private and business purposes. Any
              misuse that goes beyond this purpose limitation is prohibited by the user.</p>
            <p>6.2.&nbsp;&nbsp;&nbsp;The user may not use advertisements of content without the consent of DeskNow and
              the user (recipient) (in particular: spam messages).</p>
            <p>6.3.&nbsp;&nbsp;&nbsp;In the event that the content contains hyperlinks on third-party sites, the user
              warrants that he/she has the right to use the hyperlink and that the website to which it will refer
              ("Landingpage") is compatible with applicable law and rights of third parties.</p>
            <p>6.4.&nbsp;&nbsp;&nbsp;The user is obliged to handle the login data carefully. The user is prohibited
              without exception from providing the login data to third parties and/or to allow third parties access to
              the profile bypassing the login data.</p>
            <p>6.5.&nbsp;&nbsp;&nbsp;The user is obliged to cooperate in the investigation of attacks by third parties
              on the onlinemarketplace, insofar as this cooperation by the user is required.</p>
            <p>6.6.&nbsp;&nbsp;&nbsp;The user must refrain from any activity that isMarktplatzlikely to affect and/or
              unduly burden the operation of the online marketplaceor the technical infrastructure behind it. These
              include in particular:</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the use of software, scripts or databases in
              connection with the use of the onlinemarketplacees</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the automatic reading, blocking,
              overwriting, modification, copying of data and/or other content, insofar as this is notnecessary for the
              proper use of the onlinemarketplace.</p>
            <p>6.7.&nbsp;&nbsp;&nbsp;Furthermore, the user must ensure that his information and data transmitted via the
              onlinemarketplace are not affected by viruses, worms or Trojan horses. The user undertakes&nbsp;to
              compensate DeskNow for all damages resulting from the non-observance of these obligations for which he is
              responsible and, in addition, to&nbsp;infrees DeskNow from all claims of third parties, including legal
              fees and court costs, which they assert against DeskNow due to the user's failure to comply with these
              obligations.</p>
            <p>6.8.&nbsp;&nbsp;&nbsp;It is also not permitted to waive the anonymity of other users or to disclose
              information from other users from private messages, emails or chats that are not intended for the public.
              Users may not include or otherwise disclose information in their posts that may reveal the identity of
              another user or that the user has received from other users solely in private messages, emails or chats.
            </p>
            <p>6.9.&nbsp;&nbsp;&nbsp;In addition, the following actions of the user are prohibited and are considered to
              be misuse of the onlinemarketplace:es:</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;systematic reading of the contact data of
              other users for the purpose of disclosure to third parties</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;unreasonable harassment of other users by
              aggressive, obscene, abusive, defamatory or intrusive forum posts or messages</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensive or permanent use of the
              onlinemarketplaceforthe publication and distribution of content that does not correspond objectivelyto the
              purpose or subject area ofthe onlinemarketplaceor its blogs and forums and which may affectthe
              attractiveness of theonlinemarketplacetoother users</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the use of foreign identities for
              registration, posting, or sending messages.</p>
            <p>6.10. Should there be any disturbances during the use of the onlinemarketplaceor its functionalities, the
              user will inform the operator of this fault immediately. The same applies if the user obtains information
              about content published by third parties that manifestly violates the applicable law or rights of third
              parties.</p>
            <p>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The host's obligations to cooperate with regard to the
              posting of content</p>
            <p>7.1.&nbsp;&nbsp;&nbsp;The host undertakes not to place any illegal content infringing the laws,
              regulatory requirements or rights of third parties on the storage space provided.</p>
            <p>7.2.&nbsp;&nbsp;&nbsp;The host undertakes to the operator that any content posted in the
              onlinemarketplace does not violate applicable lawor morality either by its content or form. Furthermore,
              the host is prohibited from postponing content that infringes rights, in particular trademark, patent,
              other intellectual property rights or trade secrets of third parties. The same applies to setting external
              links.</p>
            <p>7.3.&nbsp;&nbsp;&nbsp;DeskNow may refuse the corresponding processing orders insofar as the contents
              provided by the host violate applicable law, good morality, legal or official prohibitions. In particular,
              there is an infringement in the provision of content relating to, presenting or containing the following:
            </p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verfassungsfeindlichkeit</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Racism and/or xenophobia</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discrimination</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Danger to young people and/or glorification
              of violence and extremism of any kind</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calls and incitement to commit crimes and
              violations of the law, threats against life, limb or property</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rushing against people or companies</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Infringing statements, defamation, violation
              of honour and defamation by users and third parties as well as violations of the law of fairness</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Content infringing copyright or other
              infringements of intellectual property rights</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sexual harassment of users and third parties
            </p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pornography</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;offensive, sexist, obscene, vulgar, vile or
              disgusting materials and expressions.</p>
            <p>7.4.&nbsp;&nbsp;&nbsp;Copyrighted content may only be included literally in contributions without the
              consent of the respective right holder within the scope of the applicable citation law. Quotations must be
              marked by highlighting by means of quotation function and source. Foreign language quotations must also be
              translated to German that the content is roughly visible. In particular, incorrectly quoted posts may be
              removed or corrected by the moderators. The distribution and/or public reproduction of any content on the
              onlinemarketplace without&nbsp;DeskNow's consent is prohibited.</p>
            <p>7.5.&nbsp;&nbsp;&nbsp;DeskNow reserves the right to block third-party content if it is punishable under
              applicable law or is recognizably used to prepare criminal acts.</p>
            <p>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stornierungsbedingungen</p>
            <p>8.1.&nbsp;&nbsp;&nbsp;The guest can cancel up to 14 days before the start of the booked room without
              specifying reasons and the origin of costs. The guest must&nbsp;Gast declare the cancellation in writing
              or text form (by letter or e-mail)&nbsp;or via his user account to the host, in compliance with the
              cancellation deadline. The relevant date for the timeliness of the cancellation is the receipt of the
              declaration with the&nbsp;host.&nbsp;This shall not affect any right to cancel the guest's booking, if
              any, as a consumer. Gast</p>
            <p><br></p>
            <p>8.2.&nbsp;&nbsp;&nbsp;In case of cancellation in accordance with clause 8.1., the host will refund the
              fees already paid to the guest in full. The booking price will be refunded within a period of fourteen
              (14) days from receipt of the cancellation notice. Unless otherwise agreed between the parties, the host
              will refund the booking price to the guest using the same means of payment that the guest used when
              booking the room.</p>
            <p>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support</p>
            <p>DeskNow will respond to requests from users&nbsp;about the onlinemarketplace&nbsp;within the business
              hours published on the website under the link <a href="http://www.desk-now.com/oeffnungszeiten"
                rel="noopener noreferrer" target="_blank">&nbsp;www.desk-now.com/oeffnungszeiten</a> after receipt of
              the respective question in text form (by e-mail)&nbsp;or by telephone at the hotline number tel.:&nbsp;
            </p>
            <p>+49 (0) 2864 - 33032311. beantworten. In addition, DeskNow offers the user the possibility to send
              questions to the support via chat (24/7).</p>
            <p>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees and payment terms for the host</p>
            <p>10.1. Unless otherwise agreed, the fees and prices are based on DeskNow's current price list valid at the
              time of conclusion of&nbsp;the contract under the link www.desk-now.com or www.mypam.com. The&nbsp;stated
              fees&nbsp;are deducteden in EURO and&nbsp;are&nbsp;netpricee&nbsp;plus the statutory value added tax
              applicable on the day of invoicing. A subsequent reduction in the booking amount does not
              affect&nbsp;DeskNow's fees.</p>
            <p>10.2. Payment between the host and DeskNow is made through the payment service provider Stripe Payments
              Europe Ltd., 1 Grand Canal Street Lower, Grand Canal Dock, Dublin, Ireland (hereinafter referred to as
              "Stripe").&nbsp;DeskNow uses&nbsp;Stripe Connectfor paymentprocessing. Stripe Connect are programmable
              APIs and tools that allow the host to receive payments through deskNow's website. To use Stripe Connect,
              you must register with Stripe Connect. In addition, the host needs a Stripe account for payment processing
              with DeskNow.&nbsp;Stripe Connect enables Connect platforms to assist in your use of the Services, such as
              receiving payments for goods or services. More information on Stripe is available on the Internet at <a
                href="https://stripe.com/de/connect" rel="noopener noreferrer"
                target="_blank">https://stripe.com/de/connect</a>,&nbsp;<a href="https://stripe.com/de/privacy"
                rel="noopener noreferrer" target="_blank">https://stripe.com/de/privacy</a>&nbsp;or&nbsp;<a
                href="https://stripe.com/payment-terms/legal" rel="noopener noreferrer"
                target="_blank">https://stripe.com/payment-terms/legal.</a>&nbsp;&nbsp;</p>
            <p>10.3. The user is only entitled to set-off rights if his counterclaims have been legally established or
              undisputedly linked to or recognised by DeskNow's main claim.</p>
            <p>10.4. Insofar as the user is an entrepreneur, a right of retention of the user is excluded, unless the
              counterclaim of the user originates from the same contractual relationship and is undisputed or legally
              established. A written notification to DeskNow is required to assert the right.</p>
            <p>10.5. If, after the conclusion of the contract, it becomes apparent (e.g. by requesting the opening of
              insolvency proceedings) that DeskNow's claim to remuneration is jeopardised by the user's inability to
              perform, DeskNow is entitled to refuse performance and, if necessary, to withdraw from the contract , if
              necessary after setting a deadline (Section 321 of the German Civil Code).</p>
            <p>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights</p>
            <p>11.1. The user grants DeskNow a spatially and temporally unlimited, irrevocable, non-exclusive, free
              right to use the posted content in the online offer. DeskNow is entitled to use, edit and exploit the
              content at any time. This includes, in particular, the right of reproduction, the right of distribution
              and the right of communication to the public, in particular the right to make available to the public. The
              user waives the right to name the author. This regulation does not affect the user's ability to grant
              third parties rights to posted content according to certain licensing models.</p>
            <p>11.2. All rights to the contents of the online marketplaceareheld by&nbsp;DeskNow. The user is prohibited
              from duplicating, distributing and/or publishing content that&nbsp;DeskNow, other users or third parties
              have posted in the onlinemarketplace.</p>
            <p>11.3. DeskNow is entitled to delete or deactivate the content posted by the user if they violate the
              rights of third parties or third parties assert claims due to a violation of the law, the reasons of which
              cannot be clearly excluded.</p>
            <p>11.4. If DeskNow becomes aware of a possible infringement of the rights by the user's contents, he will
              immediately notify the user of this in text form.</p>
            <p>12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Liability and indemnification</p>
            <p>12.1. With regard to the services provided by DeskNow, DeskNow, its legal representatives and its
              vicarious agents shall only be liable in the event of intent or gross negligence.</p>
            <p>12.2. In the event of a breach of essential contractual obligations, liability also exists in the event
              of simple negligence, but limited to foreseeable, contractually typical damage.</p>
            <p>12.3. Essential contractual obligations are those obligations that DeskNow's contract imposes on its
              content in order to achieve the purpose of the contract, the fulfilment of which enables the proper
              execution of the contract in the first place and on whose compliance the user may regularly rely
              (so-called cardinal obligations). Claims for damages resulting from injury to life, body or health as well
              as under the Product Liability Act remain unaffected by the above restrictions.</p>
            <p>12.4. Furthermore, DeskNow is not liable.</p>
            <p>12.5. The user indemnifies DeskNow and its employees or agentsfrom all third-party claims arising from
              this in the event of a claim for alleged or actual infringement of the law and/or infringement of
              third-party rights by actions carried out by the user in connection with the use of
              theonlinemarketplace,provided that deskNow is not responsible for the claims and liability. DeskNow is
              primarily responsible for damages that have arisen causally under this contract as a result of its rights
              of instruction. For the rest, Section 254 of the German Civil Code (BGB) applies.</p>
            <p>12.6. In addition, the user undertakes to reimburse all costs incurred by DeskNow as a result of the use
              by third parties. Eligible costs include the cost of adequate legal defence.</p>
            <p>13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal data, data protection and copyright</p>
            <p>13.1. The user hereby consents to the storage of the personal data entered by him. This also applies to
              the storage of the IP addresses that are transmitted each time the onlinemarketplaceis used. In
              particular, the user also consents to the presentation of the personal data entered by him in his profile
              presentation withinthe onlinemarketplacefor other usersofthe onlinemarketplaceand third parties who are
              not usersof theonlinemarketplace.es sind.</p>
            <p>13.2. The use of the onlinemarketplacemakes the collection, processing and use of personal data
              by&nbsp;DeskNow inevitable. DeskNow assures that all stored data will be handled with care and processed
              exclusively within the scope of the user's consent under data protection law. DeskNow only makes any
              further use of personal data if this is permitted by law or if the user has given his prior consent.</p>
            <p>13.3. The user further agrees that DeskNow uses the user's personal data for direct marketing purposes.
              This includes the advertiser's address by e-mail and post.</p>
            <p>13.4. In addition, the statutory data protection regulations, in particular the General Data Protection
              Regulation (GDPR), the Federal Data Protection Act (NEW DATA Protection Act) and the Telemedia Act (TMG)
              apply.</p>
            <p>13.5. Further details can be found in the privacy policy available on the DeskNow website under the
              link:&nbsp;.</p>
            <p>14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Force majeure</p>
            <p>14.1. DeskNow shall be exempt from the obligation to perform under this contract if and to the extent
              that the non-performance of services is due to the occurrence of circumstances of force majeure after
              conclusion of the contract.</p>
            <p>14.2. Circumstances of force majeure include, for example, war, strike, unrest, expropriation,
              higher-handed orders, pandemics, cardinal changes in the law, storms, floods and other natural disasters,
              as well as other circumstances beyond DeskNow's control, in particular water intrusions, power outages and
              interruptions or destruction of data-carrying lines.</p>
            <p>14.3. DeskNow will immediately inform the user of the occurrence of a case of force majeure in an
              appropriate form.</p>
            <p>15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract term and termination</p>
            <p>15.1. The user agreement is for an indefinite period of time.</p>
            <p>15.2. The user can&nbsp;terminate the user contract at any time without observance of a notice period and
              indication of reasons.</p>
            <p>15.3. Termination is required in the text form (by e-mail). In the event of termination, the user's
              profile will be deleted, but his posts and content published in forums or blogs will remain without
              linking to his profile.</p>
            <p>15.4. DeskNow is entitled to terminate the user agreement with a period of one (1) month in case of use
              of a free user account.</p>
            <p>15.5. The right of each Party to terminate the contract without notice for important reasons remains
              unaffected. An important reason exists if the termination part cannot be expected to continue the
              contractual relationship until the agreed termination or until the expiry of a notice period, taking into
              account all the circumstances of the individual case and taking into account the mutual interests. In
              addition to the notice of termination, DeskNow is entitled to terminate the user contract without
              observance of a time limit if there is an important reason. An important reason exists, in particular, if
              the user</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;violates its contractual obligations
              (paragraphs 6 and 7).</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;due payments despite reminder and setting of
              a grace period or violates the contractual provisions on the use of the services;</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when using the onlinemarketplaceit is
              culpably and seriously in breach of legal regulations.</p>
            <p>15.6.&nbsp;&nbsp;&nbsp;DeskNow will exercise its right to cancel and delete the user account if the user
              has not logged in for at least one (1) year and has not responded to a reminder message.</p>
            <p>16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alternative dispute resolution</p>
            <p>16.1. The following rules apply to users who are consumers. The EU Commission provides a marketplace for
              online dispute resolution on the Internet at the following link: <a
                href="https://ec.europa.eu/consumers/odr" rel="noopener noreferrer"
                target="_blank">https://ec.europa.eu/consumers/odr</a>. This marketplace serves as a point of contact
              for the out-of-court settlement of disputes arising from online purchase or service contracts in which a
              consumer is involved.</p>
            <p>16.2. DeskNow is not obliged and unwilling to participate in a dispute resolution procedure before a
              consumer arbitration board / universal arbitration body.</p>
            <p>17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modification of the T&amp;C</p>
            <p>17.1. DeskNow reserves the right to change this T&amp;C at any time without giving reasons, unless this
              is not reasonable for the user. DeskNow will notify the user of any changes to the TOB in text form in
              good time. If the user does not object to the validity of the new TOS within a period of four (4) weeks
              after notification, the amended T&amp;C shall be deemed to have been accepted by the user.
              DeskNow&nbsp;will inform the user in the notification of his right of objection and the meaning of the
              opposition period. If the user objects to the changes within the aforementioned period, the contractual
              relationship shall continue to exist on the original terms and conditions.</p>
            <p>17.2. DeskNow also reserves the right to change these T&amp;Cs,</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the extent that he is obliged to do so by
              a change in the legal situation;</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the extent that it thus complys with an
              anti-appeal court ruling or a decision by the authorities;</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the extent that it introduces additional,
              completely new services, services or service elements that require a service description in the TOS,
              unless the previous usage relationship is adversely affected by this;</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if the change is only beneficial to the
              user; Or</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if the change is purely technical or
              procedural, unless it has a significant impact on the user.</p>
            <p>17.3. The user's right of termination remains unaffected by this.</p>
            <p>18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Final provisions</p>
            <p>18.1. The law of the Federal Republic of Germany shall apply to this T&amp;C and the contractual
              relationship between the parties to the exclusion of international uniform law, in particular the UN
              Convention on Contracts for the International Sale of Goods. In the case of consumers, this choice of law
              applies only to the extent that the protection afforded is not deprived by mandatory provisions of the law
              of the country in which the consumer is habitually resident.</p>
            <p>18.2. If the user is a consumer and does not have a general place of jurisdiction in Germany or in any
              other EU Member State, the exclusive place of jurisdiction for all disputes arising from this contract is
              desk now's registered office in Reken.</p>
            <p>18.3. If the user is a merchant in the commercial code, an entrepreneur in accordance with Section 14 of
              the German Civil Code (BGB), a legal entity under public law or a special fund under public law, the
              exclusive – also international place of jurisdiction for all disputes arising directly or indirectly from
              the contractual relationship is desk office in Reken.&nbsp;DeskNow is also entitled in all cases to bring
              an action at the place of performance of the service obligation in accordance with this TOS or a priority
              individual agreement or at the general place of jurisdiction of the user. Priority legal regulations, in
              particular on exclusive competences, remain unaffected.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">As of: 27.10.2020</p>
            <p class="ql-align-justify"><br></p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}