<style>
@charset "utf-8";

/* ---------- GENERAL ---------- */

#center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ----------- CHATBOT STYLE--------- */
.chat-circle_robot {
/*     margin-left: -7%; */
    display: block;
    margin-left: 1px;
}
.chat-box-overlay_robot {
    margin-left: -3px; 
}
.chat-box-welcome_robot {
    margin-left: -10px;
}

/* ---------- GENERAL STYLE---------- */

.chat-box-welcome__company-name,
.chat-box__sign {
    font-family: 'Roboto', 'Helvetica Neue', "Arial", sans-serif;
    position: relative;
}


/*powered by deeppixel*/

.chat-box__sign {
    font-size: 9px;
    line-height: 20px;
    /*color: #a2a2a2;*/
    color: #b5b5b5;
}

.chat-input-box {
    text-align: center;
    position: relative;
}

.btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865C3;
}


/*color to change*/

#chat-circle,
.chat-box-welcome__header,
.chat-box-header,
.chat-msg.bot>.msg-avatar {
    /*red*/
    /*background-image: linear-gradient( to top right, rgba(246, 72, 72, 1), rgba(250, 65, 95, 1));*/
    /*pink-blue*/
    /*background-image: linear-gradient( to top left, rgba(252, 123, 123, 1), rgba(166, 193, 255, 1));*/
    /*pink-red*/
    background-image: linear-gradient( to bottom right, rgba(51, 91, 152, 1), rgba(4, 173, 224, 1));
}

.options-btn {
    border: 1px solid rgba(246, 72, 72, 1);
}
.spiner > *  {
    background: rgba(246, 72, 72, 1);
}

/*.options-btn:hover{
   background-image: linear-gradient( to bottom right, rgba(240, 149, 255, 1), rgba(246, 72, 72, 1));
    
    color: white;
}*/

/* ---------- chat-bot-button to open chat---------- */

#chat-circle {
    position: fixed;
    bottom: 50px;
    /*right: 50px;*/
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    padding: 15px;
    cursor: pointer;
    /*box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    box-shadow: 0px 3px 16px 0px rgba(246, 72, 72, 0.5), 0 3px 1px -2px rgba(246, 72, 72, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    /*remove display none*/
    /*display: none;*/
}


/*#chat-circle .material-icons {
    font-size: 36px;
}*/

#chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.chat-circle_robot {
    height: 50px;
}


/*chat-bot-welcome*/

.chat-box-welcome {
    /*add display none*/
    /* display: none;*/
    /*background: #efefef;*/
    background: #f8f8f8;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 3px;
    /*   box-shadow: 0px 5px 35px 9px #464a92; */
    box-shadow: 0px 5px 35px 9px #ccc;
}


.chat-box-welcome__header {
    height: 420px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: none;
}

.chat-box__header-text {
    color: white;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 13px;
}

#chat-box-welcome__ava {
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    position: absolute;
    top: 98px;
    left: 124px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    padding: 22px;
}


/*#chat-box-welcome__ava .material-icons {
    font-size: 64px;
}*/

.chat-box-welcome_robot {
    height: 75px;
    position: absolute;
    top: 12px;
}

.chat-box-welcome__welcome-text {
    color: #fff;
    text-align: center;
    width: 80%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.chat-box-welcome__welcome-text p {
    font-size: 24px;
}


/*chat-box after welcome was togled*/

#chat-box__wraper {
    display: none;
}

.chat-box {
    /*add display none*/
    display: none;
    /*background: #efefef;*/
    background: #f8f8f8;
    position: fixed;
    /* right: 30px;*/
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 3px;
    /*   box-shadow: 0px 5px 35px 9px #464a92; */
    box-shadow: 0px 5px 35px 9px #ccc;
}

.chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.chat-box-header {
    position: relative;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 13px;
}

.chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border-bottom: 1px solid rgba(181, 181, 181, 0.42);
    overflow: hidden;
}

.chat-box-body:after {
    content: "";
    background-color: #F8F8F8;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.chat-input__text {
    background: #fff;
    width: 95%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 5px;
    resize: none;
    outline: none;
    border: 1px solid #F2F0F0;
    color: #888;
    border-radius: 3px;
    overflow: hidden;
}

.chat-input-box>form {
    margin-bottom: 0;
}

.chat-input__text::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.chat-input__text::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

.chat-input__text:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

.chat-input__text:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}

.chat-submit {
    position: absolute;
    bottom: 27px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: rgba(250, 65, 95, 0.99);
    width: 35px;
    height: 35px;
}

.chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
    .chat-logs {
        height: 40vh;
    }
}

.chat-msg.bot>.msg-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    width: 15%;
    padding: 9px;
    position: relative;
}


/*.chat-msg.bot>.msg-avatar .material-icons {
    color: #fff;
    font-size: 25px;
}*/

.chat-box-overlay_robot {
    height: 35px;
    position: absolute;
    top: 5px;
}


/*.chat-msg.self>.msg-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    width: 15%;
}*/

.cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
}

.options-btn {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    width: 75%;
    margin-left: 55px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
}


.chat-msg {
    clear: both;
}

.chat-msg.self>.cm-msg-text {
    float: right;
    background: #efefef;
    /*color: white;*/
}

.cm-msg-button>ul>li {
    list-style: none;
    float: left;
    width: 50%;
}

.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}


/*loader*/


.spin-container {
       /* padding: 0px 15px 0px 15px; */
    color: #666;
    max-width: 75%;
    /* float: left; */
    bottom: 4px;
    left: 50%;
    /* margin-left: 45%; */
    position: absolute;
    /* margin-bottom: 20px; */
    display: none;
}

.spiner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -20px;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
}
.spiner > * {
  position: absolute;
  top: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
 /* background: #0074e4;*/
  opacity: 0.6;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.spiner > *:nth-child(1) {
  left: 0;
  -webkit-animation: mymove 1.3s infinite ease-in;
  animation: mymove 1.3s infinite ease-in;
}
.spiner > *:nth-child(2) {
  left: 12px;
  -webkit-animation: mymove 1.3s 0.3s infinite ease-in;
  animation: mymove 1.3s 0.3s infinite ease-in;
}
.spiner > *:nth-child(3) {
  left: 24px;
  -webkit-animation: mymove 1.3s 0.6s infinite ease-in;
  animation: mymove 1.3s 0.6s infinite ease-in;
}

@-webkit-keyframes mymove {
  0%,
  100%,
  80% {
    opacity: 0.6;
    -webkit-transform: scale(0.4);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes mymove {
  0%,
  100%,
  80% {
    opacity: 0.6;
    transform: scale(0.4);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}





input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

#chat-box {
  position: absolute;
  bottom: 20px;
}

#chat-user {
  width: 200px;
  height: 26px;
  background-color: transparent;
  border: 2px solid #cdcdcd;
  border-radius: 20px;
  color: #cdcdcd;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: border .5s ease, color .5s ease;
  transition: border .5s ease, color .5s ease;
}

#chat-user:focus,
#chat-user:hover {
  border: 2px solid #69D2E7;
  color: #000;
  outline: 0;
}

#chat-submit {
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  border-radius: 20px;
  -webkit-transition: border .5s ease, color .5s ease;
  transition: border .5s ease, color .5s ease;
}

#chat-submit:hover,
#chat-submit:focus {
  border: 2px solid #69D2E7;
  color: #69D2E7;
  outline: 0;
}

.dialogue {
  min-width: 10%;
  max-width: 70%;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  clear: both;
}

.dialogue-bot {
  background-color: #fcfcfc;
  float: left;
}

.dialogue-user {
  background-color: #69D2E7;
  float: right;
}

</style>
<div id="body">


    <!--button-->
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <!--<i class="material-icons">android</i>-->
        <img class="chat-circle_robot" src="/img/fourmi.svg">
    </div>

    <!--chat-bot-->
    <div class="chat-box">
        <div class="chat-box-body">
            <!--welcome message-->
            <div class="chat-box-welcome__header">
                <div class="chat-box__header-text">
                    <p3 class="chat-box-welcome__company-name">Hast du eine Frage? Frag Fourmi</p3>
                    <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                </div>

                <div id="chat-box-welcome__ava">
                    <!--<i class="material-icons">android</i>-->
                    <img class="chat-box-welcome_robot" src="/img/fourmi.svg">
                </div>
                <div class="chat-box-welcome__welcome-text">
                    <p>Hallo! Ich bin Fourmi. Womit kann ich Ihnen helfen?</p>
                </div>
                <!--<div id="chat">

                </div>-->
            </div>




            <!--chat-bot after welcome was toggled-->
            <div id="chat-box__wraper">
                <div class="chat-box-header">
                    ChatBot
                    <span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
                </div>



                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">
                    <form id='chat-box'>
                        <div id="history"></div>
                        <input id="message" name='chat-user'><button id="send">Send</button>
                      </form>
                      
                      

                      <div id="history"></div>
                        <input id="message" name='chat-user'><button id="send">Send</button>


                </div>
                <!--chat-log-->
            </div>

        </div>
        <div class="chat-input-box" id="chatLog">
            
            <form class="chat-input__form">
               <input type="text" class="chat-input__text" id="chat-input__text" placeholder="Senden Sie eine Nachricht ..." /> 
                <button type="submit" class="chat-submit pt-4" id="chat-submit">
                  <i class="material-icons">send</i>
              </button>
            </form>
        </div>
    </div>
</div>
<script>

var HuohuBot = {
  rules: [{name: 'ping', rule: /PING$/i, action: function(robot, msg) {
      return robot.botAlias + ': PONG';
    }},
    {name: 'echo', rule: /ECHO (.*)$/i, action: function(robot, msg) {
      return robot.botAlias + ': ' + msg;
    }},
    {name: 'time', rule: /TIME$/i, action: function(robot, msg) {
      return robot.botAlias + ': Device time is ' + new Date();
    }}],
  
  catchAll: {action: function(robot, msg) {
    return robot.botAlias + ': what do you say?';
  }},

  init: function() {
    this.myAlias = 'me';
    this.botAlias = 'bot';
    this.chatHistory = ["bot: type something to chat with me"];

    this.history = document.getElementById('history');
    this.message = document.getElementById('message');
    this.btn = document.getElementById('send');

    this.btn.addEventListener('click', this.onReceive.bind(this));
    this.message.addEventListener('keydown', this.onKeydown.bind(this));
    this.render(); 
  },
  
  onKeydown: function(e) {
    if(e.keyCode == 13) { // enter
		  this.onReceive();
    }
  },

  onReceive: function() {
    var receiveMsg = this.message.value;
    //console.log('receiveMsg:' + receiveMsg);
    this.chatHistory.push(this.myAlias + ': ' + receiveMsg);
    this.processListeners(receiveMsg);
  },
  
  processListeners: function(msg) {
    var len = this.chatHistory.length;
    this.rules.forEach((item) => {
      if (item.rule.test(msg)) {
        console.log('matched!');
        var response = item.action(this, msg);
        this.chatHistory.push(response);
      }
    });

    if (len == this.chatHistory.length) {
      console.log('wildcard');
      var response = this.catchAll.action(this, msg);
      this.chatHistory.push(response);
    }
    this.render();
  },

  render: function() {
    console.log('render!');
    this.cleanUp();
    this.chatHistory.forEach((msg) => {
      var response = document.createElement('p');
      response.textContent = msg;
      this.history.appendChild(response);
    });
    this.message.value = '';
    this.message.focus();
  },
  
  cleanUp: function() {
    while (this.history.firstChild) {
      this.history.removeChild(this.history.firstChild);
    }
  }
};

HuohuBot.init();





var form = document.getElementById('chat-box');
var submit = document.getElementById('chat-submit');
var input = document.getElementById('chat-user');
var container = document.getElementById('dialogue-container');
var keywords = [];
var reply;
var weather_trigger = 1;

form.addEventListener("submit", function(event) {
  weather_trigger++;
  event.preventDefault();
  create_bubble_user();
});

function create_bubble_user() {
  if (input.value != '') {
    keywords = input.value.toLowerCase()
      .replace(/[^\w\s]|_/g, '')
      .replace(/\s+/g, ' ').split(' ');
    var div = document.createElement('DIV');
    var para = document.createElement('SPAN');
    var txt = document.createTextNode(input.value);
    div.setAttribute('class', 'dialogue dialogue-user');
    para.appendChild(txt);
    div.appendChild(para);
    container.appendChild(div);
    input.value = '';
    count_childs();
    if (weather_trigger == 0) get_weather();
    else {
    	check_keywords();
    	setTimeout(function() {
      	create_bubble_bot(reply);
    	}, 500);
    }
  }
}

function got_weather() {
	count_childs();
  create_bubble_bot(reply);
}

function check_keywords() {
  for (var i = keywords.length - 1; i >= 0; i--) {
    switch (keywords[i]) {
      case 'name':
        reply = 'They all call me Sadie.';
        i = -1;
        break;
      case 'day':
        re_day();
        i = -1;
        break;
      case 'weather':
        reply = 'Sure, please enter a city.'
        weather_trigger = -1;
        i = -1;
        break;
      default:
        reply = "Sorry, I don't get it."
    }
  }
  keywords = [];
}

function create_bubble_bot(str) {
  var div = document.createElement('DIV');
  var para = document.createElement('SPAN');
  var txt = document.createTextNode(str);
  div.setAttribute('class', 'dialogue dialogue-bot');
  para.appendChild(txt);
  div.appendChild(para);
  container.appendChild(div);
  count_childs();
}

function get_weather() {
	var url_p1 = 'http://api.openweathermap.org/data/2.5/weather?q=';
  var url_p2 = keywords[0];
  var url_p3 = '&units=metric&APPID=49c0770f08d640ba6efb45847ca2ef9d';
  var url = url_p1 + url_p2 + url_p3;
  
  var ourRequest = new XMLHttpRequest();
  ourRequest.open('GET', url);
  ourRequest.onload = function() {
    if (ourRequest.status >= 200 && ourRequest.status < 400) {
      var data = JSON.parse(ourRequest.responseText);
      reply = data.name + ': ' + data.weather[0].main + ', ' + data.main.temp + '°C';
      got_weather();
    } else {
      console.log("Oops, something's wrong!");
    }
  };
  ourRequest.onerror = function() {
    console.log('Connection error');
  };

  ourRequest.send();
}

function re_day() {
  switch (new Date().getDay()) {
    case 0:
      reply = 'Sunday';
      break;
    case 1:
      reply = 'Monday';
      break;
    case 2:
      reply = 'Tuesday';
      break;
    case 3:
      reply = 'Wednesday';
      break;
    default:
      reply = 'Anyday';
  }
}

function count_childs() {
  var children = container.children;
  if (children.length > 6) {
    while (children.length > 6) {
      container.removeChild(container.firstChild);
    }
  }
  if (children.length > 3) {
    var transparency = 1;
    for (var i = children.length - 3; i >= 0; i--) {
      transparency -= 0.15;
      children[i].style.opacity = transparency;
    }
  }
}





var botController = (function () {
  

})();

var uiController = (function () {


})();




var controller = (function (botCntr, uiCntr) {
    var $chatCircle,
        $chatBox,
        $chatBoxClose,
        $chatBoxWelcome,
        $chatWraper,
        $submitBtn,
        $chatInput,
        $msg;

    /*toggle*/
    function hideCircle(evt) {
        evt.preventDefault();
        $chatCircle.hide('scale');
        $chatBox.show('scale');
        $chatBoxWelcome.show('scale');
    }

    function chatBoxCl(evt) {
        evt.preventDefault();
        $chatCircle.show('scale');
        $chatBox.hide('scale');
        $chatBoxWelcome.hide('scale');
        $chatWraper.hide('scale');
    }

    function chatOpenMessage(evt) {
        evt.preventDefault();
        $chatBoxWelcome.hide();
        $chatWraper.show();
    }

    //generate messages on submit click
    function submitMsg(evt) {
        evt.preventDefault();

        //1. get input message data
        msg = $chatSubmitBtn.val();

        //2.if there is no string button send shoudn't work
        if (msg.trim() == '') {
            return false;
        }
        //3. add message to bot controller
        callbot(msg);
        //4. display message to ui controller
        generate_message(msg, 'self');

    }

    function chatSbmBtn(evt) {
        if (evt.keyCode === 13 || evt.which === 13) {
            console.log("btn pushed");
        }
    }
    /* var input = uiCntr.getInput();*/
    /* $chatSubmitBtn.on("click", hideCircle);*/



    function init() {
        $chatCircle = $("#chat-circle");
        $chatBox = $(".chat-box");
        $chatBoxClose = $(".chat-box-toggle");
        $chatBoxWelcome = $(".chat-box-welcome__header");
        $chatWraper = $("#chat-box__wraper");
        $chatInput = $("#chat-input__text");
        $submitBtn = $("#chat-submit");

        //1. call toggle 
        $chatCircle.on("click", hideCircle);
        $chatBoxClose.on("click", chatBoxCl);
        $chatInput.on("click", chatOpenMessage);

        //2. call wait message from CRM-human

        $submitBtn.on("click", chatSbmBtn);
        $chatInput.on("keypress", chatSbmBtn);


        //6. get message from bot controller-back end
        //7. display bot message to ui controller
    }

    return {
        init: init
    };

})(botController, uiController);


$('.chat-input__form').on('submit', function (e) {
    e.preventDefault();
  msg = $('.chat-input__text').val();
  
  $('.chat-logs').append('<div id="cm-msg-0" class="chat-msg background-warning push-right bot"><div class="cm-msg-text">' + msg + '</div><span class="msg-avatar"><img class="chat-box-overlay_robot" src="https://www.meetsource.com//userStyles/images/user.png"></span></div>');  
  $('.chat-input__text').val('');
});


$(document).ready(controller.init);

    know = {
      "hello" : "hi",
      "how are you?" : "good",
      "ok" : ":)"
    };
    function talk() {
      var user = document.getElementById("userBox").value;
      document.getElementById("userBox").value = "";
      document.getElementById("chatLog").innerHTML += user+"<br>";
      if (user in know) {
        document.getElementById("chatLog").innerHTML += know[user]+"<br>";
      } 
      else {
        document.getElementById("chatLog").innerHTML += "I don't understand...<br>";
      }
    } 

</script>