<div class="bg-color footer-copyright py-5 text-center">
    <a href='{{.Params.Footer.HomepageLink}}' target="_blank"
        class="col copyrigth-text-link px-2">cib.de</a>
    <a href="#" id="cookiesBtn" data-backdrop="static" data-keyboard="false"
        class="col copyrigth-text-link px-2">Cookies</a>
    <a href="https://www.doxisafe.me/#/safe/retrieve/eagb" target="_blank"
        class="col copyrigth-text-link px-2">AGB</a>
    <a href='{{.Params.Footer.PrivacyLink}}' target="_blank"
        class="col copyrigth-text-link px-2">{{.Params.Footer.Datenschutz}}</a>
    <a href='{{.Params.Footer.ImprintLink}}' target="_blank"
        class="col copyrigth-text-link px-2">{{.Params.Footer.Impressum}}</a>
    <br>
    <br>
    <a class="copyrigth-text">Ⓒ CIB, 2020</a>

</div>