<div class="container">
    <div class="row">
        <h2 class="pl-3">{{.Params.header.Titel}}</h2>
    </div>
</div>

<div>{{.Params.NoShow | safeHTML }}
</div>

<div class="container">
    <div class="row">
        {{ if .Params.Filtermenu.Items }}
        <div class="links col-auto mr-auto" style="--items: {{add (len .Params.Filtermenu.Items) 1}};" id="SubMenu">
            <a class="btnlinks actives" onclick="filterJobs('')">{{.Params.Filtermenu.All}}</a>
            {{ range $item := .Params.Filtermenu.Items }}
            <a class="btnlinks" onclick="filterJobs('{{$item}}')">{{$item}}</a>
            {{ end }}
            <span class="line"></span>
        </div>
        {{ end }}
        <div class="col-auto pt-2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" id="search-input" type="text" placeholder="Search"
                    name="search"><span class="material-icons"
                    style="font-size: 22px; vertical-align: -webkit-baseline-middle; color: #96a0a5;">search</span>
            </form>
        </div>
    </div>
</div>

<div class="container section pt-0">
    <section id="search-results" class="search mx-3"></section>
</div>



<div>{{.Params.NoShowButton | safeHTML }}
    <div class="mt-5">
        <div class="row justify-content-center">
            <a class="btn btn-CTA3"
                onClick="gtag('event', 'action', {'event_category': 'Produkt-Anfrage', 'event_label': 'Anfrage','value': 'value'});"
                data-toggle="modal" data-target="#modalKontaktForm">
                {{T "jobrightsidebar_Button"}}</a>
        </div>
    </div>
</div>

</div>

<!-- IHK IMG-->

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            {{.Params.IMG | safeHTML }}
        </div>
    </div>
</div>