<!-- Nav Menu -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-menu">

    <a href="/index.html"
        onClick="gtag('event', 'action', {'event_category': 'Logo-menu', 'event_label': 'Logo','value': 'value'});">
        <picture class="btn-pointer">
            <source media="(min-width: 1200px)" srcset="/img/CIB_Logo.svg" height="38" class="btn-pointer" alt="logo">
            <source media="(max-width: 768px)" srcset="/img/CIB_Logo.svg" class="btn-pointer" alt="logo">
            <img src="/img/CIB_Logo.svg" height="38" class="btn-pointer" alt="logo">
        </picture>
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto pl-3">
            <li class="nav-item dropdown has-megamenu hr">
                <a class="nav-link pb-0" data-toggle="dropdown"
                    onClick="gtag('event', 'action', {'event_category': 'Loesungen-menu', 'event_label': 'Loesungen','value': 'value'});"
                    href="index.html#Loesungen">{{T "menu_Solutions"}}
                </a>
                <div class="dropdown-menu megamenu-dropdown-menu megamenu" role="menu">
                    <p class="megamenu-title">
                        <span class="material-icons material-icons-red"
                            style="font-size: 30px; vertical-align: sub;">emoji_objects</span>
                        {{T "menuSolutions_Title"}}
                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_IncomingMailProcessing"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_IncomingMailProcessingText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_DynamicDocumentGeneration"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DynamicDocumentGenerationText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_MobileReceiptEntry"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_MobileReceiptEntryText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_LongTermArchiving"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_LongTermArchivingText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-1 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_TextRecognition"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_TextRecognitionText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_DocumentPreparation"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentPreparationText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_PostProcessing"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_PostProcessingText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_ProcessOptimization"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_ProcessOptimizationText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_DocumentDisplay"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentDisplayText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_OmnichannelDocumentDistribution"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_OmnichannelDocumentDistributionText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_Einvoicing"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_EinvoicingText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_DocumentOptimization"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentOptimizationText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3" style="border-left: 1px solid rgba(0, 0, 0, .15);">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_ForFinancialInstitutes"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_ForFinancialInstitutesText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_ForTaxConsultants"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_ForTaxConsultantsText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuSolutions_ForPublicInstitutions"}}</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_ForPublicInstitutionsText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-4 -->
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <!-- Products -->

            <li class="nav-item dropdown has-megamenu hr">
                <a class="nav-link pb-0" data-toggle="dropdown"
                    onClick="gtag('event', 'action', {'event_category': 'Produkte-menu', 'event_label': 'Produkte','value': 'value'});"
                    href="index.html#Produkte">{{T "menu_Products"}}
                </a>
                <div class="dropdown-menu megamenu-dropdown-menu megamenu" role="menu">
                    <p class="megamenu-title">
                        <span class="material-icons material-icons-red"
                            style="font-size: 30px; vertical-align: sub;">dashboard</span>
                        {{T "menuProducts_Title"}}
                    </p>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/img/CIB_coSys.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_coSys"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_pdf_brewer.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_brewer"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href='{{"fluxi"|relLangURL}}'>
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_fluXkomprimator.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_fluxkomprimator" | safeHTML }}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href='{{"fairbrieft"|relLangURL}}'>
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_fairBrieft.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_fairBrieft" | safeHTML}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-1 -->
                        <div class="col-md-4 p-0">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_doXiview.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_doXiview" | safeHTML}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_doXigate.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_doXigate"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_doXisafe.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_doXisafe" | safeHTML }}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_doXisign.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_doXisign"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-4 p-0">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_kanzlei_app.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_kanzleiapp"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_deepER.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_deepER" | safeHTML}}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/images/product/CIB_doXicrate.svg" height="30"></p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_doXiboxCrate" | safeHTML }}</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <img src="/img/CIB_LibreOffice.svg" height="30">
                                                </p>
                                                <p class="megamenu-description">
                                                    {{T "menuProducts_LibreOffice"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <!-- Projects -->

            <li class="nav-item dropdown has-megamenu hr">
                <a class="nav-link pb-0" data-toggle="dropdown"
                    onClick="gtag('event', 'action', {'event_category': 'Projects-menu', 'event_label': 'Projects','value': 'value'});"
                    href="index.html#Projects">{{T "menu_Projects"}}
                </a>
                <div class="dropdown-menu megamenu-dropdown-menu megamenu" role="menu">
                    <p class="megamenu-title">
                        <span class="material-icons material-icons-red"
                            style="font-size: 30px; vertical-align: sub;">biotech</span>
                        {{T "menuCompanies_ProjectsTitle"}}
                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    PoP (Protect our Privacy)</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentCaptureText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    CIB crowdsource</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentCaptureText"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-1 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    HILANO</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentCaptureText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    DeepER</p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentCaptureText"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3" style="border-left: 1px solid rgba(0, 0, 0, .15);">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    CIB eLearning
                                                </p>
                                                <p class="megamenu-description">
                                                    {{T "menuSolutions_DocumentCaptureText"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-4 -->
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <!-- Service -->

            <li class="nav-item dropdown has-megamenu hr">
                <a class="nav-link pb-0" data-toggle="dropdown"
                    onClick="gtag('event', 'action', {'event_category': 'Service-menu', 'event_label': 'Service','value': 'value'});"
                    href="index.html#Service">{{T "menu_Service"}}
                </a>
                <div class="dropdown-menu megamenu-dropdown-menu megamenu" role="menu">
                    <p class="megamenu-title">
                        <span class="material-icons material-icons-red"
                            style="font-size: 30px; vertical-align: sub;">miscellaneous_services</span>
                        {{T "menuService_Title"}}
                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">supervisor_account</span>
                                                    <b> CIB Consulting</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuService_Consulting"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-1 -->
                        <div class="col-md-3" style="border-left: 1px solid rgba(0, 0, 0, .15);">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">supervisor_account</span>
                                                    <b> CIB Berater</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuService_Seminars"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3" style="border-left: 1px solid rgba(0, 0, 0, .15);">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">support_agent</span>
                                                    <b> CIB Support</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuService_Support"}}</p>
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuService_Hotline"}}</p>
                                                <p class="megamenu-Sub-title">
                                                    {{T "menuService_EMail"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-4 -->
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <!-- CIBSolutions -->

            <li class="nav-item dropdown has-megamenu hr">
                <a class="nav-link pb-0" data-toggle="dropdown"
                    onClick="gtag('event', 'action', {'event_category': 'CIBSolutions-menu', 'event_label': 'CIBSolutions','value': 'value'});"
                    href="index.html#CIBSolutions">{{T "menu_Companies"}}
                </a>
                <div class="dropdown-menu megamenu-dropdown-menu megamenu" role="menu">
                    <p class="megamenu-title">
                        <span class="material-icons material-icons-red"
                            style="font-size: 30px; vertical-align: sub;">apartment</span>
                        {{T "menuCompanies_Title"}}
                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                    <li class="megamenu-field">
                                        <a href='{{"karriere"|relLangURL}}'>
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">work_outline</span>
                                                    <b> {{T "menuCompanies_Career"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_CareerText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-1 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="https://karriere.cib.de/">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">rss_feed</span>
                                                    <b> {{T "menuCompanies_Blog"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_BlogText"}}</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3" style="border-left: 1px solid rgba(0, 0, 0, .15);">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">add_location_alt</span>
                                                    <b> {{T "menuCompanies_Contact"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_ContactAdress"}}</p>
                                                <img src="/img/kontakt-muc.gif" height="200">
                                            </div>
                                        </a>
                                    </li>


                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">person_pin</span>
                                                    <b> {{T "menuCompanies_AboutUs"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_AboutUsText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">accessibility_new</span>
                                                    <b> {{T "menuCompanies_SocialEngagement"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_SocialEngagementText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="megamenu-field">
                                        <a href="#">
                                            <div class="p-2">
                                                <p class="megamenu-Sub-title">
                                                    <span class="material-icons material-icons-red"
                                                        style="vertical-align: sub;">masks</span>
                                                    <b> {{T "menuCompanies_AntivirusProgram"}}</b></p>
                                                <p class="megamenu-description">
                                                    {{T "menuCompanies_AntivirusProgramText"}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-2 -->
                        <div class="col-md-3">
                            <div class="col-megamenu">

                                <ul class="list-unstyled">

                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div><!-- end col-4 -->
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>

            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item center">
                        <a class="btn btn-CTA1"
                            onClick="gtag('event', 'action', {'event_category': 'Bestellen-menu', 'event_label': 'Bestellen','value': 'value'});"
                            href='{{"https://my.cib.de/#!/"|absLangURL}}' target="_blank">
                            {{T "Button_CIBSolutions"}}
                        </a>
                    </li>
                </ul>
            </div>

            <li class="nav-item dropdown">
                <a class="nav-link" href="index.html" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons" style="vertical-align: middle;">language</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {{ if .IsTranslated }}
                        {{ range .Translations }}
                        <a class="nav-link nav-link-dropdown dropdown-item btn-pointer pl-2 py-1"
                            href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    <a class="nav-link nav-link-dropdown dropdown-item btn-pointer pl-2 py-1"
                        href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                    <!-- Level two dropdown-->
                    <div class="dropdown-submenu">
                        <a class="dropdown-item" tabindex="-1" href="#">{{T "menuchoose_country"}}</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="#">{{T "menu_country_germany"}}</a></li>
                            <li class="dropdown-item"><a href="#">{{T "menu_country_spain"}}</a></li>
                        </ul>
                    </div>
                    <!-- End Level two -->
        </ul>
    </div>
    </li>

    </ul>
    </div>
</nav>