<footer id="newfooter" class="footer-section">

    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-5 col-md-5 mb-30" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>{{T "Footer_Findus"}}</h4>
                            <span>DeskNow GmbH<br>
                                Carl-Benz-Straße 27
                                48734 Reken</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>{{T "Footer_Callus"}}</h4>
                            <span>+49 (0) 2864 - 33032311</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30" data-aos-duration="900" data-aos="fade-down" data-aos-delay="0">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>{{T "Footer_Mailus"}}</h4>
                            <span>info@mypam.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-3 col-lg-3 mb-50" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/img/pamlogo_white.svg" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-social-icon">
                            <span>{{T "Footer_Followus"}}</span>
                            <a href="https://twitter.com/pam_by_DeskNow"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/showcase/pam-by-desknow"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/pam_by_desknow/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/hereispam"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.pinterest.de/pam_by_DeskNow"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-20" data-aos-duration="600" data-aos="fade-down"
                    data-aos-delay="0">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>{{T "Footer_UsefulLinks"}}</h3>
                        </div>
                        <ul class="pl-0">
                            <li><a href='{{"solutions/coworking"|relLangURL}}'>{{T "menu_Coworking"}}</a></li>
                            <li><a href='{{"solutions/enterprise"|relLangURL}}'>{{T "menu_Enterprise"}}</a></li>
                            <li><a href='{{"aboutus/ourteam"|relLangURL}}'>{{T "menu_OurTeam"}}</a></li>
                            <li><a href='{{"aboutus/ourstory"|relLangURL}}'>{{T "menu_OurStory"}}</a></li>
                            <li><a href='{{"aboutus/contact"|relLangURL}}'>{{T "menu_ContactUs"}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-20" data-aos-duration="600" data-aos="fade-down"
                    data-aos-delay="0">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Join</h3>
                        </div>
                        <ul class="pl-0">
                            <li><a href="https://pam.desk-now.com/account/signup">{{T "Footer_BecomeMember"}}</a></li>
                            <li><a href="https://www.desk-now.com">{{T "Footer_ForDeskSeekers"}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 mb-30" data-aos-duration="600" data-aos="fade-down"
                    data-aos-delay="0">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>{{T "Footer_Subscribe"}}</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>{{T "Footer_SubscribeText"}}</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="/form.php?code=subscribe&reply=reply" method="post">
                                <input type="text" name="email" placeholder="Email Address">
                                <button class="action-1"><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-20" data-aos-duration="900" data-aos="fade-down"
                    data-aos-delay="0">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>{{T "Footer_Download"}}</h3>
                        </div>
                        <ul class="pl-0">
                            <!-- google play icon here -->
                            <li>
                                <a target="_blank"
                                    href='{{"https://play.google.com/store/apps/details?id=com.desknow.host"|relLangURL}}'
                                    class="">
                                    <img src="/images/google-play-store.svg" alt="Google Play Store" />
                                </a>
                            </li>

                            <!-- Apple storee icon here -->
                            <li>
                                <a target="_blank"
                                    href='{{"https://apps.apple.com/us/app/pam-by-desknow/id1529556888"|relLangURL}}'
                                    class="">
                                    <img src="/images/apple-play-store.svg" alt="Apple Play Store" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved Desknow GmbH
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href='{{"useful/terms-conditions"|relLangURL}}'>{{T "Footer_Terms"}}</a></li>
                            <li><a href='{{"useful/privacy-policy"|relLangURL}}'>{{T "Footer_Privacy"}}</a></li>
                            <li><a href='{{"useful/refund-policy"|relLangURL}}'>{{T "Footer_Refund"}}</a></li>
                            <li><a href='{{"useful/payment-policy"|relLangURL}}'>{{T "Footer_Payment"}}</a></li>
                            <li><a href='{{"useful/imprint"|relLangURL}}'>{{T "Footer_Imprint"}}</a></li>
                            <li><a href='{{"useful/faq"|relLangURL}}'>FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- forms alerts -->
    <div class="alert alert-success alert-dismissible fixed-top alert-form-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{T "Alert_Success"}}
    </div>
    <div class="alert alert-warning alert-dismissible fixed-top alert-form-check-fields" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{T "Alert_Warning"}}
    </div>
    <div class="alert alert-danger alert-dismissible fixed-top alert-form-error" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="message">{{T "Alert_Danger"}}</div>
    </div>

</footer>