<footer id="newfooter" class="d-flex-column text-center section-last">
    <!--Footer Links-->
    <div class="container text-left text-md-left">
        <div class="row">
            <!--First column-->
            <div class="col-md-2 mx-auto shfooter">
                <h5 class="my-2 footer-text-title d-none d-md-block">{{T "footer_CIBcash"}}</h5>
                <div class="d-md-none title">
                    <div class="mt-3 footer-text-title">{{T "footer_CIBcash"}}
                    </div>
                </div>
                <h5 class="my-2 footer-text-title d-none d-md-block mt-4">{{T "footer_Apps"}}</h5>
                <div class="d-md-none title" data-target="#Apps" data-toggle="collapse">
                    <div class="mt-3 footer-text-title">{{T "footer_Apps"}}
                        <div class="float-right navbar-toggler">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled collapse" id="Apps">
                    <li><a href="#" target="_blank">CIB doXisafe app</a></li>
                    <li><a href="https://kanzlei-app.cib.de/" target="_blank">CIB kanzlei app</a></li>
                </ul>
            </div>
            <!--/.First column-->
            <hr class="clearfix w-100 d-md-none mb-0">
            <!--Second column-->
            <div class="col-md-2 mx-auto shfooter">
                <h5 class="my-2 footer-text-title d-none d-md-block">{{T "footer_Websolution"}}</h5>
                <div class="d-md-none title" data-target="#Websolution" data-toggle="collapse">
                    <div class="mt-3 footer-text-title">{{T "footer_Websolution"}}
                        <div class="float-right navbar-toggler">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled collapse" id="Websolution">
                    <li><a href="https://www.doxisafe.me/" target="_blank">CIB doXisafe</a></li>
                    <li><a href="https://doxigate.cib.de/" target="_blank">CIB doXigate</a></li>
                    <li><a href="https://doxiview.cib.de/showcase/" target="_blank">CIB doXiview</a></li>
                    <li><a href="https://doxisign.cib.de/" target="_blank">CIB doXisign</a></li>
                </ul>
                <hr class="clearfix w-100 d-md-none mb-0">
                <h5 class="my-2 footer-text-title d-none d-md-block mt-4">{{T "footer_MoreSolution"}}</h5>
                <div class="d-md-none title" data-target="#MoreSolution" data-toggle="collapse">
                    <div class="mt-3 footer-text-title">{{T "footer_MoreSolution"}}
                        <div class="float-right navbar-toggler">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled collapse" id="MoreSolution">
                    <li><a href="https://pdfbrewer.cib.de/" target="_blank">CIB pdf brewer</a></li>
                    <li><a href="https://kanzlei-app.cib.de/" target="_blank">CIB kanzlei app</a></li>
                    <li><a href="https://fluxkomprimator.cib.de" target="_blank">CIB fluXkomprimator</a></li>
                    <!-- <li><a href="https://pdftoolbox.cib.de/test">CIB pdf toolbox</a></li> -->
                    <li><a href="https://deeper-cib.de/" target="_blank">CIB deepER</a></li>
                    <li><a href="https://markup.cib.de/" target="_blank">CIB markUp</a></li>
                    <li><a href="https://www.cib.de/de/produkte/cib-invoice.html" target="_blank">CIB invoicE</a></li>
                    <li><a href="index.html" target="_blank">CIB fairBrieft</a></li>
                    <li><a href="https://www.cib.de/de/produkte/cib-zugferd-sdk.html" target="_blank">CIB ZUGFeRD
                            SDK</a></li>
                    <li><a href="https://libreoffice.cib.de/" target="_blank">LibreOffice powered by CIB</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="clearfix w-100 d-md-none mb-0">
            <!--Third column-->
            <div class="col-md-2 mx-auto shfooter">
                <h5 class="my-2 footer-text-title d-none d-md-block">{{T "footer_Expertise"}}</h5>
                <div class="d-md-none title" data-target="#Expert" data-toggle="collapse">
                    <div class="mt-3 footer-text-title">{{T "footer_Expertise"}}
                        <div class="float-right navbar-toggler">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled collapse" id="Expert">
                    <li><a href="#" target="_blank">{{T "footer_Consulting"}}</a></li>
                    <li><a href="#" target="_blank">{{T "footer_Adviser"}}</a></li>
                </ul>
                <hr class="clearfix w-100 d-md-none mb-0">
                <h5 class="my-2 footer-text-title d-none d-md-block mt-4">{{T "footer_Companies"}}</h5>
                <div class="d-md-none title" data-target="#Companies" data-toggle="collapse">
                    <div class="mt-3 footer-text-title">{{T "footer_Companies"}}
                        <div class="float-right navbar-toggler">
                            <i class="fas fa-angle-down"></i>
                            <i class="fas fa-angle-up"></i>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled collapse" id="Companies">
                    <li><a href="https://www.cib.de/de/startseite.html" target="_blank">{{T "footer_AboutUs"}}</a></li>
                    <li><a href="https://karriere.cib.de" target="_blank">{{T "footer_Karrier"}}</a></li>
                    <li><a href="https://blog.cib.de/" target="_blank">CIB blog</a></li>
                    <li><a href="https://ciblabs.es" target="_blank">{{T "footer_CIBInSpain"}}</a></li>
                    <li><a href="#" target="_blank">{{T "footer_FE"}}</a></li>
                    <li><a href="https://corona.cib.de/" target="_blank">{{T "footer_AntivirusProgram"}}</a></li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="clearfix w-100 d-md-none mb-0">
            <!--Fourth column-->
            <div class="col-md-2 mx-auto shfooter">
                <p class="megamenu-Sub-title">
                    <span class="material-icons material-icons-red"
                        style="vertical-align: sub;">how_to_reg</span>
                    {{T "footer_Contact"}}</p>
                <label class="sr-only"
                    for="input1-signin-01">{{T "menuContact_Name"}}</label>
                <input class="form-control my-3 bg-light" id="input1-signin-01"
                    type="name" placeholder='{{T "menuContact_Name"}}'>
                <label class="sr-only"
                    for="input2-signin-01">{{T "menuContact_EMail"}}</label>
                <input class="form-control my-3 bg-light" id="input2-signin-01"
                    type="email" placeholder='{{T "menuContact_EMail"}}'>
                <label class="sr-only"
                    for="input2-signin-01">{{T "menuContact_YourMessage"}}</label>
                <input class="form-control my-3 bg-light" id="input2-signin-01"
                    type="text" placeholder='{{T "menuContact_YourMessage"}}'>
                <a class="btn btn-CTA1"
                    onClick="gtag('event', 'action', {'event_category': 'BlogAnmeldung-menu', 'event_label': 'BlogAnmeldung','value': 'value'});"
                    href='{{"#"|absLangURL}}' target="_blank">
                    {{T "menuContact_Send"}}
                </a>
                <p class="pt-1 megamenu-description"
                    style="font-size: 10px!important;">
                    {{T "menuContact_SendSubText"}}</p>
                <!--Social buttons-->
                <div class="text-center">
                    <img src="/images/CIB_Logo.svg" height="50px" width="auto" class="img-fluid footer-icon-cib"
                        alt="logo">
                    <ul class="list-unstyled list-inline mt-4">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/CIBsoftwareGmbH" class="sbtn btn-large mx-1" title="Twitter"
                                target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/user/CIBSoftwareGmbH" class="sbtn btn-large mx-1"
                                title="YouTube" target="_blank"><i class="fab fa-youtube fa-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/company/cib/" class="sbtn btn-large mx-1" title="LinkedIn"
                                target="_blank">
                                <i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.xing.com/companies/cibunternehmensgruppe" class="sbtn btn-large mx-1"
                                title="Xing" target="_blank"><i class="fab fa-xing fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
                <!--/.Social buttons-->
            </div>
            <!--/.Fourth column-->
            <!--Fifth column
            <div class="col-md-2 mx-auto shfooter">
                
                <div class="text-center">
                    <img src="/images/CIB_Logo.svg" height="50px" width="auto" class="img-fluid footer-icon-cib"
                        alt="logo">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/CIBsoftwareGmbH" class="sbtn btn-large mx-1" title="Twitter"
                                target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/user/CIBSoftwareGmbH" class="sbtn btn-large mx-1"
                                title="YouTube" target="_blank"><i class="fab fa-youtube fa-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/company/cib/" class="sbtn btn-large mx-1" title="LinkedIn"
                                target="_blank">
                                <i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.xing.com/companies/cibunternehmensgruppe" class="sbtn btn-large mx-1"
                                title="Xing" target="_blank"><i class="fab fa-xing fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
             
            </div>
            /.Fifth column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <hr class="mb-0">
    <!--Copyright-->
    <div class="bg-color footer-copyright py-5 text-center copyrigth-text">
        <a href='{{.Params.Footer.HomepageLink}}' target="_blank" class="col copyrigth-text-link px-2">cib.de</a> |
        <a href="#" id="cookiesBtn" data-backdrop="static" data-keyboard="false"
            class="col copyrigth-text-link px-2">Cookies</a> |
        <a href="https://www.doxisafe.me/#/safe/retrieve/eagb" target="_blank"
            class="col copyrigth-text-link px-2">{{T "footer_AGB"}}</a> |
        <a href='{{T "footer_PrivacyLink"}}' target="_blank"
            class="col copyrigth-text-link px-2">{{T "footer_Datenschutz"}}</a> |
        <a href='{{T "footer_ImprintLink"}}' target="_blank"
            class="col copyrigth-text-link px-2">{{T "footer_Impressum"}}</a>
        <br> <br>
        Ⓒ CIB
        <script>
            document.write(new Date().getFullYear())
        </script>
    </div>
    <!--/.Copyright-->
</footer>