{{ define "base" }}

<!-- Header -->
<section style="position: relative; height: 900px; background-color: #fff; z-index: 1;">
  <div class="bg-video-wrap">
    <div class="container top px-xl-0 color-white">
      <div class="row justify-content-left">
        <div class="col-xl-10">
          <div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
            <div class="col-lg-8 col-md-9">
              <h1 class="mb-20 big" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">The free software to manage your coworking space!</h1>
              <div class="f-22 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                pam is your top-notch coworking / flex office software solution. Manage your bookings, enhance your community, connect your tenants!</div>
              <p class="f-22 text-adaptive pt-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                All in one place and running in <a href="https://apps.apple.com/us/app/pam-by-desknow/id1529556888"
                  class="TextLink one" target="_blank">app</a>.
              </p>
              <div class="f-22 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                Be the first to discover the apps and earn a chance to win VIP access worth 100 €</div>
            </div>
          </div>
          <a href="https://pam.desk-now.com/account/login" class="mt-5 btn action-2" data-aos-duration="600"
            data-aos="fade-down" data-aos-delay="300">Try Right Now</a>
        </div>
      </div>
    </div>
    <video src="/video/Header-Coworking.mp4" loop muted autoplay>
    </video>
    <div class="overlay">
    </div>
  </div>
</section>

<!-- section business-->

<section class="feature_44 book_demo_sec_wrap bg_grey text-center text-md-left">
	<div class="container px-xl-0">
		<div class="mt-75 mb-75 row justify-content-center justify-content-md-between align-items-end align-items-lg-start flex-row-reverse row2">
			<div class="col-xl-1"></div>
			<div class="col-lg-5 col-md-6 pb-60 pb-lg-0 inner2" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<h2 class="mt-55 mb-30 small">Book your guided demo with us!</h2>
				<div class="f-22 color-heading text-adaptive">
					Book your guided demo with us! Learn directly from our passionate team, how quick you can start using PAM.
                </div>
                <button href="https://pam.desk-now.com/content/contact-us?selectedSubject=5f7ad66f02f48e868ded9dd1" class="mt-30 btn action-1">Schedule A Demo</button>
			</div>
			<div class="col-md-1"></div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<img srcset="i/feature_44_img_2@2x.png 2x" src="/img/book_demo.png" class="img-fluid img" alt="" />			
			</div>
			
		</div>
	</div>
</section>

<!-- Feature 34 -->
<section class="pt-100 pb-120 bg-light feature_34">
    <div class="container px-xl-0">
        <div class="row align-items-center text-center text-sm-left">
            <div class="col-xl-1">
            </div>
            <div class="col-lg-5 col-sm-6">
                <h2 class="mb-20">Everything in One Place</h2>
                <div class="mb-40 mb-sm-0 f-22 color-heading text-adaptive">Get real-time updates on new bookings, reviews, guest requests and availability.
                </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
                <img src="/img/pamdashboard.png" srcset="i/feature_34_img@2x.png 2x" alt="" class="img" />
            </div>
        </div>
        <div class="mt-95 row justify-content-center text-center blocks">
            <div class="mb-50 mb-md-0 col-md-3 col-sm-8">
                <img srcset="/images/overview.svg 2x" src="/images/overview.svg" alt="" />
                <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">Full Overview In One Place</div>
                <div class="color-heading text-adaptive">PAM offers you a full and detailed view on your performance indicators: No matter if you want to analyze all locations at ...
                </div>
            </div>
            <div class="mb-50 mb-md-0 col-md-3 col-sm-8">
                <img srcset="/images/real_time.svg 2x" src="/images/real_time.svg" alt="" />
                <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">Real Time Booking Management</div>
                <div class="color-heading text-adaptive">With PAM you can manage your on-going bookings, approve, or deny any new booking request, allow instant booking ...
                </div>
            </div>
            <div class="mb-50 mb-md-0 col-md-3 col-sm-8">
                <img srcset="/images/book_multiple.svg 2x" src="/images/book_multiple.svg" alt="" />
                <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">Book Multiple Desks At Once</div>
                <div class="color-heading text-adaptive">PAM is giving you the freedom to allow your members of your venue to also book more than one desk at a time with...
                </div>
            </div>
            <div class="mb-50 mb-md-0 col-md-3 col-sm-8">
                <img srcset="/images/full_asset.svg 2x" src="/images/full_asset.svg" alt="" />
                <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">Full Asset Management</div>
                <div class="color-heading text-adaptive">PAM is giving you the freedom to allow your members of your venue to also book more than one desk at a time with...
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Partners -->

<style>
  #ecommerce_30_block_1 .bg {
    background-image: url(i/ecommerce_30_bg_1.jpg);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    #ecommerce_30_block_1 .bg {
      background-image: url(i/ecommerce_30_bg_1@2x.jpg);
    }
  }

  #ecommerce_30_block_2 .bg {
    background-image: url(i/ecommerce_30_bg_2.jpg);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    #ecommerce_30_block_2 .bg {
      background-image: url(i/ecommerce_30_bg_2@2x.jpg);
    }
  }
</style>

<section class="content_31 bg-dark pt-100 pb-70 text-center color-white">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <h2 class="small col-lg-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Our Great Clients</h2>
      <div class="col-lg-8 mt-25 mb-55 f-18 medium op-7 text-adaptive">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/appstore.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/googleplay.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/cloudy.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="450">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/intercom-vector-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/NFon.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="750">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/passbook.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/slack.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1050">
        <div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/stirpe.svg" width="auto" height="500" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing Table 4 -->

<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
              <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
              <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Section Price -->

<section class="Upgrade_sec_wrapper bg_blue">
    <div class="container">
        <h3 class="sec-title text-white text-center pt-5">
            Choose your pricing plan
        </h3>

        <div class="container py-5">

            <div class="row text-center">
                <!-- Pricing Table-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="hoverefect p-5 rounded-lg shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-4">SMB</h1>
                        <h2 class="h1 font-weight-bold">89 €<span class="text-small font-weight-normal ml-2">/
                                month</span></h2>
                        <p class="desc">Accelerate Your Coworking Space Business</p>

                        <hr>

                        <tbody class="list-unstyled my-5 text-small text-left font-weight-normal">
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Manage Unlimited Properties and Spaces</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Keep Track of Bookings and Clients</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">See Detailed Space and Property Performance</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Reputation Management</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Invoicing & Billing Payment</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Publish Spaces on DeskNow for more outreach</p>
                                </td>
                            </tr>
                        </tbody>
                        <label for="card2" class="button return" aria-hidden="true">
                            Let`s start
                        </label>
                    </div>
                </div>
                <!-- END -->

                <!-- Pricing Table-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="hoverefect p-5 rounded-lg shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-4">SME</h1>
                        <h2 class="h1 font-weight-bold">189 €<span class="text-small font-weight-normal ml-2">/
                                month</span></h2>
                        <p class="desc">Keep full controll of your Companies Workspaces</p>

                        <hr>

                        <tbody class="list-unstyled my-5 text-small text-left font-weight-normal">
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Manage Unlimited Buildings and Workspaces</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Import Employees and let them Reserve workspaces</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Get Detailed Workspace Usage Reports</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Full Privacy and Workhour Tracking protection</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Floorplanning and Seating Arrangement</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Enable Unused Spaces for external Bookings on DeskNow</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Check-in/ -out QR Space System</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Floor wise Space distribution</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Setup done for you</p>
                                </td>
                            </tr>
                        </tbody>
                        <label for="card2" class="button return" aria-hidden="true">
                            Let`s start
                        </label>
                    </div>
                </div>
                <!-- END -->

                <!-- Pricing Table-->
                <div class="col-lg-4">
                    <div class="hoverefect p-5 rounded-lg shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-4">Enterprise</h1>
                        <h2 class="h1 font-weight-bold">498 €<span class="text-small font-weight-normal ml-2">/
                                month</span></h2>
                        <p class="desc">Keep full controll of your Companies Workspaces</p>

                        <hr>

                        <tbody class="list-unstyled my-5 text-small text-left font-weight-normal">
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">All our Standard features to manage Workspaces</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Import up to 10.000 Employees</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Add unlimited Workspaces</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Add up to 10 Properties</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Add unlimited Partners</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Add unlimited Co-Managers</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Full Employee Management</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Detailed Space usage Reports</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">In-Depth Analytical Data</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Access to let Spaces to external coworkers</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Employee Privacy (No Workhour tracking)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Complete Setup and 1 to 1 Trainings</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Check-in / -out Space usage QR System</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">Floor wise Space distribution</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pr-2 align-top mb-3" id="tick-mark"></div>
                                </td>
                                <td>
                                    <p class="mb-3">High priority Support</p>
                                </td>
                            </tr>
                        </tbody>

                        <label for="card2" class="button return" aria-hidden="true">
                            Let`s start
                        </label>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
</section>

<!-- Section Price End -->  

<section class="pricing_table_4 pt-105 pb-100 color-white">
    <div class="container px-xl-0">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                <h2 class="small">Choose your pricing plan</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-70 mb-lg-0 col-lg-4 col-md-7 col-sm-8">
                <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                    <div class="f-22 title" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Starter
                    </div>
                    <div class="mt-30 mb-40 f-58 d-flex align-items-start price" data-aos-duration="600"
                        data-aos="fade-down" data-aos-delay="0">
                        <b>9.99</b>
                        <div class="mt-1 ml-5 f-16">$</div>
                    </div>
                    <ul class="px-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                        <li class="mb-10">2 GB of space</li>
                        <li class="mb-10">14 days of backups</li>
                        <li class="mb-10">Social integrations</li>
                        <li class="mb-10">Client billing</li>
                        <li class="mb-10 op-7 disabled">Remote access</li>
                        <li class="mb-10 op-7 disabled">Custom domain</li>
                        <li class="mb-10 op-7 disabled">24 hours support</li>
                        <li class="mb-10 op-7 disabled">Admin tools</li>
                        <li class="mb-10 op-7 disabled">Collaboration tools</li>
                        <li class="mb-10 op-7 disabled">User management</li>
                    </ul>
                    <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                        <a href="#" class="mt-15 btn lg border-transparent-white">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="mb-70 mb-lg-0 col-lg-4 col-md-7 col-sm-8">
                <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                    <div class="f-22 title" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
                        Professional</div>
                    <div class="mt-30 mb-40 f-58 d-flex align-items-start price" data-aos-duration="600"
                        data-aos="fade-down" data-aos-delay="150">
                        <b>19.99</b>
                        <div class="mt-1 ml-5 f-16">$</div>
                    </div>
                    <ul class="px-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
                        <li class="mb-10">2 GB of space</li>
                        <li class="mb-10">14 days of backups</li>
                        <li class="mb-10">Social integrations</li>
                        <li class="mb-10">Client billing</li>
                        <li class="mb-10">Remote access</li>
                        <li class="mb-10">Custom domain</li>
                        <li class="mb-10">24 hours support</li>
                        <li class="mb-10 op-7 disabled">Admin tools</li>
                        <li class="mb-10 op-7 disabled">Collaboration tools</li>
                        <li class="mb-10 op-7 disabled">User management</li>
                    </ul>
                    <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
                        <a href="#" class="mt-15 btn lg action-3">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                    <div class="f-22 title" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">Team
                    </div>
                    <div class="mt-30 mb-40 f-58 d-flex align-items-start price" data-aos-duration="600"
                        data-aos="fade-down" data-aos-delay="300">
                        <b>49.99</b>
                        <div class="mt-1 ml-5 f-16">$</div>
                    </div>
                    <ul class="px-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                        <li class="mb-10">2 GB of space</li>
                        <li class="mb-10">14 days of backups</li>
                        <li class="mb-10">Social integrations</li>
                        <li class="mb-10">Client billing</li>
                        <li class="mb-10">Remote access</li>
                        <li class="mb-10">Custom domain</li>
                        <li class="mb-10">24 hours support</li>
                        <li class="mb-10">Admin tools</li>
                        <li class="mb-10">Collaboration tools</li>
                        <li class="mb-10">User management</li>
                    </ul>
                    <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                        <a href="#" class="mt-15 btn lg border-transparent-white">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}
