{{ define "base" }}

<!-- Header -->
<section style="position: relative; height: 900px; background-color: #fff; z-index: 1;">
  <div class="bg-video-wrap">
    <div class="container top px-xl-0 color-white">
      <div class="row justify-content-left">
        <div class="col-xl-10">
          <div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
            <div class="col-lg-8 col-md-9">
              <h1 class="mb-20" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                {{.Params.header.Title | safeHTML }}</h1>
              <div class="f-22 pt-30 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                {{.Params.header.Text1 | safeHTML }}</div>
              <p class="f-22 text-adaptive pt-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                {{.Params.header.Text2 | safeHTML }} <a href="https://apps.apple.com/us/app/pam-by-desknow/id1529556888"
                  class="TextLink one" target="_blank">app</a>.
              </p>

              <a href="https://pam.desk-now.com/account/signup" class="mt-5 btn action-2" data-aos-duration="600"
                data-aos="fade-down" data-aos-delay="300">{{T "button_CTA"}}</a>
            </div>
            <div class="col-lg-1 col-md-1" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200"></div>
            <div class="col-lg-3 col-md-2 d-flex align-items-top mobilehidden" data-aos-duration="600"
              data-aos="fade-down" data-aos-delay="1200">
              <!-- Chat -->
              <ul>
                <li class="msg-receive list" style="--animation-order: 1;">
                  <p class="mb-0">{{.Params.chat.bubble1 | safeHTML }}</p>
                  <p class="mb-0"><img class="foto" alt="" src="/img/ana.jpg" /> Anna- Client</p>
                </li>

                <li class="msg-reply ml-30 list" style="--animation-order: 2;">
                  <p class="mb-0">{{.Params.chat.bubble2 | safeHTML }}</p>
                  <p class="mb-0" style="text-align: end;">Philip-host <img class="foto" alt="" src="/img/phil.jpg" />
                  </p>
                </li>

                <li class="msg-receive list" style="--animation-order: 3;">
                  <p class="mb-0">{{.Params.chat.bubble3 | safeHTML }}</p>
                  <p class="mb-0"><img class="foto" alt="" src="/img/ana.jpg" /> Anna- Client</p>
                </li>

                <li class="msg-reply ml-30 list" style="--animation-order: 4;">
                  <p class="mb-0">{{.Params.chat.bubble4 | safeHTML }}</p>
                  <p class="mb-0" style="text-align: end;">Philip-host <img class="foto" alt="" src="/img/phil.jpg" />
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <video src="/video/Header-Coworking.mp4" loop muted autoplay>
    </video>
    <div class="overlay">
    </div>
  </div>

</section>

<!-- section business-->

<!--Left Side Buttons Start

<div id="sidebar" class="sidebar ecommerce_18">

  <div class="py-1 px-15 link_holder"><a href="#down" class="link color-white">Book your Demo</a></div>
  <div class="py-1 px-15 link_holder"><a href="#OnePlace" class="link color-white">One Place</a></div>
  <div class="py-1 px-15 link_holder"><a href="#Fees" class="link color-white">Fees</a></div>
  <div class="py-1 px-15 link_holder"><a href='{{"https://pam.desk-now.com/account/signup"|relLangURL}}' class="link color-white">Get Started</a></div>

</div>-->

<!--Left Side Buttons End-->

<section class="feature_44 book_demo_sec_wrap bg_grey text-center text-md-left" id="down">
  <div class="container px-xl-0">
    <div
      class="mt-75 mb-75 row justify-content-center justify-content-md-between align-items-end align-items-lg-start flex-row-reverse row2">
      <div class="col-xl-1"></div>
      <div class="col-lg-5 col-md-6 pb-60 pb-lg-0 inner2" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="0">
        <h2 class="mt-55 mb-30 small">{{.Params.sectionBusiness.Title | safeHTML }}</h2>
        <div class="f-22 color-heading text-adaptive">
          {{.Params.sectionBusiness.Text1 | safeHTML }}
        </div>
        <a href='{{"aboutus/contact"|relLangURL}}' class="mt-30 btn action-1">{{T "button_CTA4"}}</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-8" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="300">
        <img srcset="i/feature_44_img_2@2x.png 2x" src="/img/book_demo.png" class="img-fluid img" alt="" />
      </div>

    </div>
  </div>
</section>

<!-- Feature 34 -->
<section class="pt-100 pb-120 bg-light feature_34">
  <div class="container px-xl-0">
    <div class="row align-items-center text-center text-sm-left">

      <div class="col-lg-6 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <h2 class="mb-20">{{.Params.sectionFeature.Title | safeHTML }}</h2>
        <div class="mb-40 mb-sm-0 f-22 color-heading text-adaptive">{{.Params.sectionFeature.Text1 | safeHTML }}
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <img src="/img/pamdashboard.png" srcset="i/feature_34_img@2x.png 2x" alt="" class="img" />
      </div>
    </div>
    <div class="mt-95 row justify-content-center text-center blocks">
      <div class="mb-50 mb-md-0 col-md-3 col-sm-8" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <img srcset="/images/overview.svg 2x" src="/images/overview.svg" alt="" />

        <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">
          {{.Params.sectionFeature.FeatureTitle1 | safeHTML }}</div>

        <section class="content_18 bg-light">
          <div class="container px-xl-0">
            <div class="row">
              <div class="col-lg-12" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">

                <a class="pb-25 tab_opener color-heading text-adaptive" data-toggle="modal"
                  data-target="#sectionFeature1">
                  {{.Params.sectionFeature.FeatureText1 | safeHTML }}<i class="fas fa-angle-right ml-10"></i>
                </a>

              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="mb-50 mb-md-0 col-md-3 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0" id="OnePlace">
        <img srcset="/images/real_time.svg 2x" src="/images/real_time.svg" alt="" />
        <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">
          {{.Params.sectionFeature.FeatureTitle2 | safeHTML }}</div>
        <section class="content_18 bg-light">
          <div class="container px-xl-0">
            <div class="row">
              <div class="col-lg-12" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">

                <a class="pb-25 tab_opener color-heading text-adaptive" data-toggle="modal"
                  data-target="#sectionFeature2">
                  {{.Params.sectionFeature.FeatureText2 | safeHTML }}
                  <i class="fas fa-angle-right ml-10"></i>
                </a>

              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="mb-50 mb-md-0 col-md-3 col-sm-8" data-aos-duration="900" data-aos="fade-down" data-aos-delay="0">
        <img srcset="/images/book_multiple.svg 2x" src="/images/book_multiple.svg" alt="" />
        <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">
          {{.Params.sectionFeature.FeatureTitle3 | safeHTML }}</div>
        <section class="content_18 bg-light">
          <div class="container px-xl-0">
            <div class="row">
              <div class="col-lg-12" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">

                <div class="pb-25 tab_opener color-heading text-adaptive" data-toggle="modal"
                  data-target="#sectionFeature3">
                  {{.Params.sectionFeature.FeatureText3 | safeHTML }}<i class="fas fa-angle-right ml-10"></i>
                </div>

              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="mb-50 mb-md-0 col-md-3 col-sm-8" data-aos-duration="1200" data-aos="fade-down" data-aos-delay="0">
        <img srcset="/images/full_asset.svg 2x" src="/images/full_asset.svg" alt="" />
        <div class="mt-20 mb-20 f-14 semibold text-uppercase sp-20 title">
          {{.Params.sectionFeature.FeatureTitle4 | safeHTML }}<br><br></div>
        <section class="content_18 bg-light">
          <div class="container px-xl-0">
            <div class="row">
              <div class="col-lg-12" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">

                <div class="pb-25 tab_opener color-heading text-adaptive" data-toggle="modal"
                  data-target="#sectionFeature4">
                  {{.Params.sectionFeature.FeatureText4 | safeHTML }}
                  <i class="fas fa-angle-right ml-10"></i>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- Modal 1 -->
<div class="modal fade" id="sectionFeature1" tabindex="-1" role="dialog" aria-labelledby="sectionFeature"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionFeature1">{{.Params.sectionFeature.FeatureTitle1 | safeHTML }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        {{.Params.sectionFeature.FeatureSubText1 | safeHTML }}
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="sectionFeature2" tabindex="-1" role="dialog" aria-labelledby="sectionFeature"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionFeature2">{{.Params.sectionFeature.FeatureTitle2 | safeHTML }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        {{.Params.sectionFeature.FeatureSubText2 | safeHTML }}
      </div>
    </div>
  </div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="sectionFeature3" tabindex="-1" role="dialog" aria-labelledby="sectionFeature"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionFeature3">{{.Params.sectionFeature.FeatureTitle3 | safeHTML }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        {{.Params.sectionFeature.FeatureSubText3 | safeHTML }}
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="sectionFeature4" tabindex="-1" role="dialog" aria-labelledby="sectionFeature"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectionFeature4">{{.Params.sectionFeature.FeatureTitle4 | safeHTML }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        {{.Params.sectionFeature.FeatureSubText4 | safeHTML }}
      </div>
    </div>
  </div>
</div>

<!-- Fees Table -->

<section class="pricing_table_8 bg_grey pt-105 pb-100 text-center" id="Fees">
  <div class="container px-xl-0">
    <h2 class="mb-10 small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
      {{.Params.sectionFees.Title | safeHTML }}</h2>
    <div class="f-22 mb-40 color-heading text-adaptive">
      {{.Params.sectionFees.SubTitle | safeHTML }}
    </div>
    <div class="table-responsive-shadow">
      <div class="overflow">
        <div class="w-1170 inner">
          <div class="row no-gutters table_row"
            style="border-left: 2px solid #ecf0f9; border-bottom: 2px solid #ecf0f9;">
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="0">
              <div class="pt-25 pb-25 px-25 w-full block">
                <img srcset="/images/full_asset.svg 2x" src="/images/web_logos/DeskNow-logo.svg" alt="" />
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="300">
              <div class="pt-25 pb-25 px-25 w-full block"
                style="border-bottom: 2px solid #fff; color: #fff; background-color: #3d82ab;">
                <div class="f-18 medium title">{{.Params.sectionFees.HeaderTab1 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="600">
              <div class="pt-25 pb-25 px-25 w-full block" style="border-bottom: 2px solid #fff;">
                <div class="f-18 medium title">{{.Params.sectionFees.HeaderTab2 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-25 pb-25 px-25 w-full block" style="border-bottom: 2px solid #fff;">
                <div class="f-18 medium title">{{.Params.sectionFees.HeaderTab3 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-25 pb-25 px-25 w-full block" style="border-bottom: 2px solid #fff;">
                <div class="f-18 medium title">{{.Params.sectionFees.HeaderTab1 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-25 pb-25 px-25 w-full block noborder_right" style="border-bottom: 2px solid #fff;">
                <div class="f-18 medium title">{{.Params.sectionFees.HeaderTab4 | safeHTML }}</div>
              </div>
            </div>
          </div>
          <div class="row no-gutters table_row" style="border-left: 2px solid #ecf0f9;">
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="0">
              <div class="pt-20 pb-20 px-20 w-full block">
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="300">
              <div class="pt-20 pb-20 px-25 w-full block" style="color: #fff; background-color: #3d82ab;">
                <div class="d-inline-block f-36 relative price">
                  <span class="absolute f-18"></span>
                  <b>1</b>
                  <div class="f-16 medium title">{{.Params.sectionFees.location | safeHTML }}</div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="600">
              <div class="pt-20 pb-20 px-25 w-full block">
                <div class="d-inline-block f-36 relative price">
                  <b>≤ 4</b>
                  <div class="f-16 medium title">{{.Params.sectionFees.location | safeHTML }}</div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-20 pb-20 px-25 w-full block">
                <div class="d-inline-block f-36 relative price">
                  <b>≤ 40</b>
                  <div class="f-16 medium title">{{.Params.sectionFees.location | safeHTML }}</div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-20 pb-20 px-25 w-full block">
                <div class="d-inline-block f-36 relative price">
                  <b>≤ 80</b>
                  <div class="f-16 medium title">{{.Params.sectionFees.location | safeHTML }}</div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-20 pb-20 px-25 w-full block noborder_right">
                <div class="d-inline-block f-36 relative price">
                  <b>≥ 81</b>
                  <div class="f-16 medium title">{{.Params.sectionFees.location | safeHTML }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters table_row">
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="0">
              <div class="pt-20 pb-15 px-25 w-full block">
                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">
                  {{.Params.sectionFees.row1 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="300">
              <div class="pt-15 pb-15 px-25 w-full block" style="color: #fff; background-color: #3d82ab;">
                20%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="600">
              <div class="pt-15 pb-15 px-25 w-full block">
                17%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                15%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                14%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                12%
              </div>
            </div>
          </div>
          <div class="row no-gutters table_row">
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="0">
              <div class="pt-20 pb-15 px-25 w-full block">
                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">
                  {{.Params.sectionFees.row2 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="300">
              <div class="pt-15 pb-15 px-25 w-full block" style="color: #fff; background-color: #3d82ab;">
                19%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="600">
              <div class="pt-15 pb-15 px-25 w-full block">
                16%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                14%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                13%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                11%
              </div>
            </div>
          </div>
          <div class="row no-gutters table_row">
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="0">
              <div class="pt-20 pb-15 px-25 w-full block">
                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">
                  {{.Params.sectionFees.row3 | safeHTML }}</div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="300">
              <div class="pt-15 pb-15 px-25 w-full block" style="color: #fff; background-color: #3d82ab;">
                17%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="600">
              <div class="pt-15 pb-15 px-25 w-full block">
                14%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                12%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block">
                11%
              </div>
            </div>
            <div class="col-2 d-flex align-items-stretch" data-aos-duration="600" data-aos="fade-down"
              data-aos-delay="900">
              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                9%
              </div>
            </div>
          </div>
          <a href='{{"https://pam.desk-now.com/account/signup"|relLangURL}}'
            class="mt-30 btn action-1">{{T "button_CTA5"}}</a>
        </div>
      </div>
    </div>
    <!-- Content 18 Add-Ons

    <section class="content_18 bg_grey pt-75 pb-80">
      <div class="container px-xl-0">
        <div class="row">
          <div class="col-lg-12" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
            <div class="opening_tabs">
              <h2 class=" small sp-20 tab_opener" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                {{.Params.sectionAddOns.Title | safeHTML }}<i class="fas fa-angle-right ml-10"></i></h2>
              <div class="color-heading tab_text">

                <section class="pricing_table_3 bg_grey pb-100 text-center">
                  <div class="container px-xl-0">
                    <div class="table-responsive-shadow">
                      <div class="overflow">
                        <div class="w-1170 inner">
                          <div class="row no-gutters radius10 noradius_bottom table_head">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-25 pb-25 px-25 w-full block">

                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-25 pb-25 px-25 w-full block">
                                <div class="f-18 medium title">{{.Params.sectionAddOns.HeaderTitle1 | safeHTML }}</div>
                                <div class="mt-2 text-adaptive">
                                  {{.Params.sectionAddOns.HeaderSubTitle1 | safeHTML }}
                                </div>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-25 pb-25 px-25 w-full block noborder_right">
                                <div class="f-18 medium title">{{.Params.sectionAddOns.HeaderTitle2 | safeHTML }}</div>
                                <div class="mt-2 text-adaptive">
                                  {{.Params.sectionAddOns.HeaderSubTitle2 | safeHTML }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-30 pb-20 px-25 w-full d-flex align-items-center justify-content-end block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-right">{{.Params.sectionAddOns.row1 | safeHTML }}</div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-20 px-25 w-full block">
                                <div class="d-inline-block f-38 relative price">
                                  <span class="absolute f-16">€</span>
                                  <b>190</b>
                                </div>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-20 px-25 w-full block noborder_right">
                                <div class="d-inline-block f-38 relative price">
                                  <span class="absolute f-16">€</span>
                                  <b>350</b>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row2 | safeHTML }}</div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row3 | safeHTML }}</div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row4 | safeHTML }}</div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row5 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row6 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row7 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row8 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row9 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row10 | safeHTML }}
                                </div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">
                                <div class="color-heading f-14 semibold text-uppercase sp-20 text-left">{{.Params.sectionAddOns.row11 | safeHTML }}</div>
                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" disabled />
                                <label></label>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-15 pb-15 px-25 w-full block noborder_right">
                                <input type="checkbox" name="pseudo_checkbox"
                                  class="d-none border-gray bg-gray focus-action-1" checked disabled />
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="row no-gutters table_row">
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-20 pb-15 px-25 w-full block">

                              </div>
                            </div>

                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-40 pb-40 px-10 w-full block">
                                <a href='{{"https://pam.desk-now.com/account/signup"|relLangURL}}'
                                  class="btn border-gray color-main">{{T "button_CTA5"}}</a>
                              </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                              <div class="pt-40 pb-40 px-10 w-full block noborder_right">
                                <a href='{{"https://pam.desk-now.com/account/signup"|relLangURL}}'
                                  class="btn action-1">{{T "button_CTA5"}}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
</section>

</div>

<script>
  var sidebar = document.getElementById('sidebar');
  Stickyfill.add(sidebar);
</script>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


{{ end }}