{{ define "base" }}

<!-- Header -->
<section style="position: relative; height: 900px; background-color: #fff; z-index: 1;">
  <div class="bg-video-wrap">
    <div class="container top px-xl-0 color-white">
      <div class="row justify-content-left">
        <div class="col-xl-10">
          <div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
            <div class="col-lg-8 col-md-9">
              <h1 class="mb-20 " data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">The software to
                manage
                your workspaces</h1>
              <div class="f-22 pt-30 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                pam is the software solution to manage your workspaces, optimize office costs, create new revenue
                utilizing your unused space, and give clients or employees tools to book workplaces which inspire them
                the most.</div>
              <p class="f-22 text-adaptive pt-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                All in one place and running on web and <a
                  href="https://apps.apple.com/us/app/pam-by-desknow/id1529556888" class="TextLink one"
                  target="_blank">app</a>.
              </p>

            </div>
          </div>
          <a href="https://pam.desk-now.com/account/login" class="mt-5 btn action-2" data-aos-duration="600"
            data-aos="fade-down" data-aos-delay="300">Sign Up for free</a>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <a href="#down" class="f-22 pt-30 link-down btn" data-aos-duration="600" data-aos="fade-down"
            data-aos-delay="300"><span style="font-size: 40px;" class="material-icons">
              expand_more
            </span></a>
        </div>
      </div>
    </div>
    <video src="/video/Header.mp4" loop muted autoplay>
    </video>
    <div class="overlay">
    </div>

  </div>
</section>

<!-- Pricing Slider -->
<section class="pricing_table_3 pt-105 pb-100 text-center" id="down">
  <div class="container px-xl-0">
    <h2 class="mb-65 small mb-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">pam Enterprise
      Solutions
    </h2>
    <div class="f-26 pb-5 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
      Tailored workspace management Solutions
      to optimize company ressources
    </div>
    <div class="range-holder" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
      <div id="pr-slider" class="dragdealer">
        <div class="stripe">
          <div id="green-highlight"></div>
          <div id="orange-highlight"></div>
          <div id="blue-highlight"></div>
          <div class="handle">
            <div class="infobox">
              <div class="titlebar"><span id="plan-holder"></span> <span id="device-holder"></span></div>
              <div class="innerbox">
                <div class="info-price"></div>
                <div class="info-price2"></div>
                <div class="annual-label"><span id="setup-fee"></span></div>
                <div class="annual-price"></div>
              </div>
            </div>
            <div class="square">
              <span class="value"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="f-20 pb-5 color-heading text-adaptive" data-aos-duration="900" data-aos="fade-down"
        data-aos-delay="0">
        Select Company Size for a custom offer
      </div>
    </div>
  </div>
</section>

<!-- Pricing Slider-->
<script src="/js/priceSlider.js"></script>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
<script src="/js/jquery.maskedinput.min.js"></script>
<!-- MYPAM JS (Custom js for all blocks) -->
<script src="/js/script.js"></script>

{{ end }}