{{ define "base" }}

<!-- Header -->
<section style="position: relative; height: 900px; background-color: #fff; z-index: 1;">
  <div class="bg-video-wrap">
    <div class="container top px-xl-0 color-white">
      <div class="row justify-content-left">
        <div class="col-xl-10">
          <div class="row flex-column-reverse flex-md-row align-items-stretch text-center text-md-left">
            <div class="col-lg-8 col-md-9">
              <h1 class="mb-20 " data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">The software to
                manage
                your workspaces</h1>
              <div class="f-22 pt-30 text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                pam is your solution to manage your workspaces, optimize your office costs, create new revenue with your
                unused space, and give your people tool to book workplaces which inspire them the most.</div>
              <p class="f-22 text-adaptive pt-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                All in one place and running on web and <a
                  href="https://apps.apple.com/us/app/pam-by-desknow/id1529556888" class="TextLink one"
                  target="_blank">app</a>.
              </p>

            </div>
          </div>
          <a href="https://pam.desk-now.com/account/login" class="mt-5 btn action-2" data-aos-duration="600"
            data-aos="fade-down" data-aos-delay="300">Sign Up for free</a>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <a href="#down" class="f-22 pt-30 link-down btn" data-aos-duration="600" data-aos="fade-down"
            data-aos-delay="300"><span style="font-size: 40px;" class="material-icons">
              expand_more
            </span></a>
        </div>
      </div>
    </div>
    <video src="/video/Header.mp4" loop muted autoplay>
    </video>
    <div class="overlay">
    </div>

  </div>
</section>

<!-- section business-->

<section class="feature_37 bg-light pt-100 pb-65" id="down">
  <div class="container px-xl-0">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-6 mb-50 mb-md-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <h2 class="mb-20 small">
          What can pam do for your business?
        </h2>
        <div class="mb-25 f-18 medium color-heading op-7 text-adaptive">
          pam  offers a full and detailed view on your performance indicators, no matter if you want to analyze all
          locations at once, a number of selected properties, a particular desk usage, or all your profits.
        </div>
        <div class="mb-25 f-18 medium color-heading op-7 text-adaptive">
          All your figures are viewable as graphs or full analytics within your full customized dashboard.
        </div>
        <div class="mb-25 f-18 medium color-heading op-7 text-adaptive">
          … with pam you get all of it with just a click.
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <div class="mb-55 d-flex align-items-center advantage">
          <img class="" src="/images/middle_sec_banner.png" width="auto" height="500" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- full IMG section -->

<style>
  .content_6 {
    background-image: url(/img/office.jpg);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    .content_6 {
      background-image: url(/img/office.jpg);
    }
  }
</style>

<section class="content_6 pt-125 pb-105">
  <div class="container px-xl-0 text-center color-white">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <h2 style="text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">Take full control of your business</h2>
      </div>
      <div class="mt-35 col-xl-7 col-lg-8 col-md-10 f-26 text-adaptive"
        style="text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);" data-aos-duration="600" data-aos="fade-down"
        data-aos-delay="300">
        Get real-time updates on new bookings, reviews, guest requests and availability.</div>
    </div>
  </div>
</section>

<!-- Our Partners -->

<style>
  #ecommerce_30_block_1 .bg {
    background-image: url(i/ecommerce_30_bg_1.jpg);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    #ecommerce_30_block_1 .bg {
      background-image: url(i/ecommerce_30_bg_1@2x.jpg);
    }
  }

  #ecommerce_30_block_2 .bg {
    background-image: url(i/ecommerce_30_bg_2.jpg);
  }

  @media(-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    #ecommerce_30_block_2 .bg {
      background-image: url(i/ecommerce_30_bg_2@2x.jpg);
    }
  }
</style>

<section class="content_31 bg-light pt-100 pb-70 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <h2 class="small col-lg-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Our Partners</h2>
      <div class="col-lg-8 mt-25 mb-55 f-18 medium op-7 text-adaptive">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/stripe-logo.svg" width="auto" height="auto" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/gcf-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/slack-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="450">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/intercom-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/bvcs-logo-member.jpg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="750">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/bvds-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/passbase-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1050">
        <div class="mx-auto mb-30 mw-270 h-110 d-flex justify-content-center align-items-center radius6 block">
          <img class="" src="/images/web_logos/Digi-Hub-DWNRW-logo.svg" width="auto" height="500" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CARDS -->

<section class="feature_37 bg-light pt-100 pb-65">
  <div class="row justify-content-center text-center">
    <h2 class="small col-lg-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Which of these branches
      better explain your business?</h2>
    <div class="col-lg-8 mt-25 mb-55 f-18 medium op-7 text-adaptive">
    </div>
  </div>
  <div class="content">
    <a class="cardd" href='{{"/solutions/coworking"|relLangURL}}' data-aos-duration="300" data-aos="fade-down"
      data-aos-delay="0">
      <div class="front" style="background-image: url('/img/coworking-center.jpg')">
        <p style="text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">COWORKING</p>
      </div>
      <div class="back">
        <div class="text-left">
          <table class="custom-list-header">
            <tbody>
              <div class="f-18 medium text-adaptive">
                Coworking
              </div>
              <div class="f-16 medium text-adaptive">
                Accelerate Your Coworking Space Business
              </div>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Manage Unlimited Properties and Spaces</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Keep Track of Bookings and Clients</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> See Detailed Space and Property Performance</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Reputation Management</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Invoicing & Billing Payment</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Publish Spaces on DeskNow for more outreach</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button href='{{"/solutions/coworking"|relLangURL}}' class="mt-3 btn action-1">Let's start</button>
          </div>
        </div>
      </div>
    </a>
    <a class="cardd" href='{{"/solutions/enterprise"|relLangURL}}' data-aos-duration="600" data-aos="fade-down"
      data-aos-delay="0">
      <div class="front" style="background-image: url('/img/office.jpg')">
        <p style="text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">SMB & ENTERPRISE</p>
      </div>
      <div class="back">
        <div class="text-left">
          <table class="custom-list-header">
            <tbody>
              <div class="f-18 medium text-adaptive">
                SMB &amp; Enterprise
              </div>
              <div class="f-16 medium text-adaptive">
                Keep full controll of your Companies Workspaces
              </div>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Manage Unlimited Buildings and Workspaces</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Import Employees and let them Reserve workspaces</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Get Detailed Workspace Usage Reports</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Full Privacy and Workhour Tracking protection</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Floorplanning and Seating Arrangement</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Enable Unused Spaces for external Bookings on DeskNow</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button href='{{"/solutions/enterprise"|relLangURL}}' class="mt-3 btn action-1">Let's start</button>
          </div>
        </div>
      </div>
    </a>
    <!-- <a class="cardd" href='{{"/solutions/hotel"|relLangURL}}' data-aos-duration="900" data-aos="fade-down"
      data-aos-delay="0">
      <div class="front" style="background-image: url('/img/woman-working-hotel.jpg')">
        <p style="text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">HOTEL</p>
      </div>
      <div class="back">
        <div class="text-left">
          <table class="custom-list-header">
            <tbody>
              <div class="f-18 medium text-adaptive">
                Hotel
              </div>
              <div class="f-16 medium text-adaptive">
                Enjoy the management of Business Workspaces
              </div>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Manage Unlimited Buildings and Workspaces</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Import Clients and let them Reserve workspaces</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Get Detailed Workspace Usage Reports</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Full Privacy and Workhour Tracking protection</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Floorplanning and Seating Arrangement</td>
              </tr>
              <tr>
                <td class=" pr-2 align-items-center"><span class="material-icons align-text-bottom">done</span></td>
                <td class="f-14 medium text-adaptive"> Enable Unused Spaces for external Bookings on DeskNow</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button href='{{"/solutions/hotel"|relLangURL}}' class="mt-3 btn action-1">Let's start</button>
          </div>
        </div>
      </div>
    </a> -->
  </div>
</section>

<!-- Content 18 -->

<section class="content_18 bg-light pt-75 pb-80">
  <div class="container px-xl-0">
    <div class="row">

      <div class="col-lg-7" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
        <div class="opening_tabs">
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">What’s DeskNow doing about COVID-19?<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              Get the latest info on our COVID-19 response and resources for guests, including policy updates, travel
              restrictions, flexible travel options, and more.</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">So, what is host exactly?<i
              class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              Hosts are what make DeskNow unique. Behind every stay is a real person who can give you the details you
              need to check in and good at your workspace</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">What info do I need to provide when I
            book?<i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              Before booking on DeskNow, we ask everyone who uses DeskNow for a few pieces of information, such as your
              full name, email address, phone number, and payment details</div>
          </div>
          <h3 class="pt-25 pb-25 f-14 semibold text-uppercase sp-20 tab_opener">Help! What if I need to cancel?
            <i class="fas fa-angle-right ml-10"></i></h3>
          <div class="color-heading tab_text">
            <div class="pb-35">
              If you must cancel because of an unexpected circumstance that’s out of your control, we may be able to
              give you a refund or waive the cancellation penalties.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
        <div class="w-200 mt-30 ml-100 block_right">

          <div class="mt-10 f-32 medium text-adaptive">
            <div>All your Questions Answered by Professionals</div>
            <a href="#" class="mt-15 btn sm action-2 f-16">Get Help</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap 4.3.1 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- AOS 2.3.1 jQuery plugin JS (Animations) -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

{{ end }}