{{ define "base" }}
<!-- Job börse side with header, filter, contact separate-->

<head>
    <title>{{.Title}}</title>
    <meta name="description"
        content="Karriere bei CIB: unsere Angebote für Schüler, Studenten, Absolventen, Berufserfahrene, Quereinsteiger und Initiativbewerber in der IT-Branche.">
    <meta name="keywords" content="Jobs, Ausbildung, Karriere">
</head>

<!-- slideshow -->
{{ partial "slideshow.html" . }}

<div class="container">
    <div class="row">
        <h2 class="pl-3">{{.Params.header.Titel}}</h2>
    </div>
</div>

<div class="container section pt-0">
    <h4 class="mb-5 mt-5">{{.Params.Content.TextLine1 | safeHTML }}</h4>
    <h4 class="mb-5 mt-5">{{.Params.Content.TextLine2 | safeHTML }}</h4>
    <p class="card-text">{{.Params.Content.TextLine3 | safeHTML }}</p>
    <p class="card-text">{{.Params.Content.TextLine4 | safeHTML }}</p>

    <div>{{.Params.NoShowButton | safeHTML }}
        <div class="mt-5">
            <div class="row justify-content-center">
                <a class="btn btn-CTA3"
                    onClick="gtag('event', 'action', {'event_category': 'Produkt-Anfrage', 'event_label': 'Anfrage','value': 'value'});"
                    data-toggle="modal" data-target="#modalKontaktForm">
                    {{T "jobrightsidebar_Button"}}</a>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->
{{ partial "jobcontact.html" . }}

{{ end }}