{{ define "base" }}
<!-- Job börse side with header, filter, contact separate-->

<head>
    <title>{{.Title}}</title>
    <meta name="description"
        content="Karriere bei CIB: unsere Angebote für Schüler, Studenten, Absolventen, Berufserfahrene, Quereinsteiger und Initiativbewerber in der IT-Branche.">
    <meta name="keywords" content="Jobs, Ausbildung, Karriere">
</head>

<!-- slideshow -->
{{ partial "slideshow.html" . }}

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("SubMenu");
    var btns = header.getElementsByClassName("btnlink");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript">

    //...
    // define globale variables
    var idx, searchInput, searchResults = null
    var documents = []

    function renderSearchResults(results) {

        if (results.length > 0) {

            // show max 10 results
            if (results.length > 9) {
                results = results.slice(0, 10)
            }

            // reset search results
            //searchResults.innerHTML = '<div class="row"></div>'

            var div = document.createElement('div')
            div.setAttribute('class', 'row')

            // append results
            results.forEach(result => {

                // create result item
                var article = document.createElement('div')
                article.setAttribute('class', 'col-sm-4')
                article.innerHTML = `
                
                    <div>
                        <div class="card-deck mt-4">
                            <div class="card jobcard card-text">
                                <a class="card-text-hover" href='${result.ref}'>
                                    <div class="card-body">
                                        <p class="" style="border-bottom: 1px solid #e1e7ec;">` + {{T "jobcontact_JobOffer"}} +
                                        `</p>
                                        <p class="">${documents[result.ref].title}
                                        </p>
                                        <p class="pb-5 mb-5" style="font-size: 12px;">Standort: ${documents[result.ref].tags}
                                        </p>
                                        <!-- <p><a href="${result.ref}">${result.ref}</a></p> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                
                `
                div.appendChild(article)
            })

            searchResults.innerHTML = '';
            searchResults.appendChild(div)


            // if results are empty
        } else {
            searchResults.innerHTML = '<div class="card-deck mt-4"><div class="card" style="background-color: #e5eef3;"><div class="card-body text-center"><p><span class="material-icons align-text-bottom">search_off</span> <b>Leider kein treffer!</b> <br>Versuchen Sie am besten gleich noch einmal oder kontaktieren Sie uns direkt unter <a class=\"link-text16\" href=\"mailto:cibsupport@cib.de\">cibsupport@cib.de</a></p></div ></div > '
        }
    }
    //...

    function filterJobs(cat) {
        // run fuzzy search
        var results = idx.search('categoriesStudent:' + cat + '*')

        // render results
        renderSearchResults(results)
    }

    //...
    function registerSearchHandler() {

        // register on input event
        searchInput.oninput = function (event) {

            // remove search results if the user empties the search input field
            if (searchInput.value == '') {

                searchResults.innerHTML = ''
            } else {

                // get input value
                var query = event.target.value

                // run fuzzy search
                var results = idx.search(query + '*')

                // render results
                renderSearchResults(results)
            }
        }

        // set focus on search input and remove loading placeholder
        searchInput.focus()
        searchInput.placeholder = ''
    }
    //...

    //...
    window.onload = function () {

        // get dom elements
        searchInput = document.getElementById('search-input')
        searchResults = document.getElementById('search-results')

        // request and index documents
        fetch('/karriere/index.json', {
            method: 'get'
        }).then(
            res => res.json()
        ).then(
            res => {

                // index document
                idx = lunr(function () {
                    this.ref('url')
                    this.field('title')
                    this.field('categoriesStudent')
                    this.field('tags')
                    this.field('content')

                    res.forEach(function (doc) {
                        this.add(doc)
                        documents[doc.url] = {
                            'title': doc.title,
                            'tags': doc.tags,
                            'categoriesStudent': doc.categoriesStudent,
                            'content': doc.content,
                        }
                    }, this)
                })

                // data is loaded, next register handler
                registerSearchHandler()

                // show all results
                filterJobs('');
            }
        ).catch(
            err => {
                searchResults.innerHTML = `<p>${err}</p>`
            }
        )
    }
//...

</script>

<!-- Filter -->
{{ partial "filter.html" . }}

<!-- CTA -->
{{ partial "jobcontact.html" . }}

{{ end }}