<h1>Contact Form</h1>

<p>Name: {{name}}</p>
<p>Name: {{subject}}</p>
<p>Name: {{phone}}</p>
<p>Name: {{company}}</p>
<p>Name: {{message}}</p>
<p>Email: {{eMail}}</p>

<h2>Content</h2>
<p>{{content}}</p>