<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>
    <title>NPO-Anfrage</title>
    <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #bec8d2;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dee3e8;
}
</style>
</head>

<body>
<div style='max-width: 560px; padding: 20px; background: #ffffff; border-radius: 5px; margin: 40px auto; font-family: Open Sans,Helvetica,Arial; font-size: 15px; color: #666;'>
<div style='color: #444444; font-weight: normal;'>
    <div style='padding: 30px 0; font-size: 24px; color: #555; text-align: left; line-height: 30px;'>
    Bewerbungsformular</div>
</div>
<div style='padding: 0 10px 10px 10px; border-bottom: 3px solid #eeeeee;'>
<div style='color: #999; padding: 20px 30px; text-align: center;'>

    <table>
    <tr>
      <td>Jobtitle</td>
      <td>{{title}}</td>
    </tr>
    <tr>
      <td>Vorname</td>
      <td>{{vorname}}</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>{{nachname}}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{eMail}}</td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td>{{telefon}}</td>
    </tr>
    {{#files}}
    <tr>
      <td>Attached file</td>
      <td>{{.}}</td>
    </tr>
    {{/files}}
    <tr>
      <td>Wie k&#246;nnen wir Ihnen noch behilflich sein?</td>
      <td>{{hinweis}}</td>
    </tr>
  </table></br>

</div>
</body>

</html>