<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml'
    xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Bewerbungsschreiben</title>
    <style>
        p {
            margin: 10px 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        body,
        #bodyTable,
        #bodyCell {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        p,
        a,
        td {
            mso-line-height-rule: exactly;
        }

        p,
        a,
        td,
        body,
        table {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 10px;
        }

        .templateContainer {
            max-width: 600px !important;
        }

        a.Button {
            display: block;
        }

        .buttonFront:hover {
            background-color: #C60006;
            border-radius: 3px;
        }

        .linkback:hover {
            color: #C60006 !important;
        }

        .TextContent {
            word-break: break-word;
        }

        .DividerBlock {
            table-layout: fixed !important;
        }

        body,
        #bodyTable {
            background-color: #eff1f4;
        }

        #bodyCell {
            border-top: 0;
        }

        .templateContainer {
            border: 0;
        }

        #templatePreheader {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 0px;
            padding-left: 40px;
            padding-right: 40px;
        }

        #templatePreheader .TextContent {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 150%;
            text-align: left;
        }

        #templateHeader {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-top: 0;
            border-bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #templateHeader .TextContent {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
        }

        #templateBody {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-top: 0;
            border-bottom: 2px solid #EAEAEA;
            padding-top: 0;
            padding-bottom: 9px;
        }

        #templateBody .TextContent,
        #templateBody .TextContent p {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
        }

        #templateBody .TextContent a,
        #templateBody .TextContent p a {
            color: #e11e19;
            font-weight: normal;
            text-decoration: none;
        }

        @media only screen and (min-width:768px) {
            .templateContainer {
                width: 600px !important;
            }
        }

        @media only screen and (max-width: 480px) {

            body,
            table,
            td,
            p,
            a {
                -webkit-text-size-adjust: none !important;
            }
        }

        @media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @media only screen and (max-width: 480px) {
            #bodyCell {
                padding-top: 10px !important;
            }
        }

        @media only screen and (max-width: 480px) {
            .TextContentContainer {
                max-width: 100% !important;
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 480px) {
            .TextContent {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            #templatePreheader {
                display: block !important;
            }
        }

        @media only screen and (max-width: 480px) {
            #templatePreheader .TextContent {
                font-size: 14px !important;
                line-height: 150% !important;
            }
        }
    </style>
</head>

<body>
    <table id='bodyTable'>
        <tr>
            <td id='bodyCell'>
                <table class='templateContainer'>
                    <tr>
                        <td id='templateBody'>
                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width:100%; min-width:100%;' class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding: 0px 40px 0px; font-size: 16px;'>
                                                            <span style='color:#282d30; font-size:14px'>
                                                                <br><br>Hallo {{vorname}} ,<br><br>
                                                                wir haben deine Bewerbungsunterlagen erhalten und freuen uns &#252;ber dein Interesse an einer Mitarbeit in unserem Unternehmen.
Gerne pr&#252;fen wir eine Einsatzm&#246;glichkeit in unserem Hause. Dies wird jedoch erfahrungsgem&#228;&#223; einige Zeit in Anspruch nehmen.<br><br>
Wir werden uns so bald wie m&#246;glich wieder mit dir in Verbindung setzen und dich &#252;ber das Ergebnis unserer Pr&#252;fung informieren.<br>
Wir bitten dich daher um etwas Geduld.<br><br>
Deine Bewerbungsunterlagen wurden elektronisch erfasst und werden von uns entsprechend der datenschutzrechtlichen Vorgaben behandelt.
N&#228;here Informationen kannst du unserer Datenschutzinformation f&#252;r Bewerber entnehmen.
<br><br>
Beste Gr&#252;&#223;e<br>
Miroslava Tumova
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width='100%' class='DividerBlock'
                                style='min-width:100%;'>
                                <tbody class='DividerBlockOuter'>
                                    <tr>
                                        <td class='DividerBlockInner' style='min-width: 100%; padding: 18px 18px 0px;'>
                                            <table class='DividerContent'
                                                width='100%' style='min-width: 100%;border-top: 1px solid #EAEAEA;'>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width:100%; min-width:100%;' class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:40px;'>
                                                            <span style='color:#282d30; font-size:10px'>
                                                                Dies ist eine automatisch
                                                                generierte Nachricht. Bitte
                                                                antworten Sie nicht
                                                                auf diese Nachricht.
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width: 100%; min-width: 100%;'
                                                class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding: 0px 40px 9px; line-height: 150%;'>
                                                            <span style='color:#282d30; font-size: 12px'>
                                                                CIB software GmbH<br>
                                                                Elektrastra&#223;e 6a<br>
                                                                81925 M&#252;nchen
                                                                Deutschland
                                                            </span>
                                                            <p>
                                                                <a href='https://www.cib.de/de/startseite.html'
                                                                    target='_blank' title='cib.de' class='linkback'
                                                                    style='color: #e11e19; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; text-decoration: underline;'>cib.de
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style='max-width: 100%; min-width: 100%;' class='TextContentContainer'>
                                <tbody>
                                    <tr>
                                        <td class='TextContent'
                                            style='padding: 0px 40px 40px; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; line-height: 150%; text-align:left;'>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    T: +49 89 143 60 - 0
                                                </span>
                                                <span>&nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                </span>
                                                <span
                                                    style='font-size:12px; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    F: +49 89 143 60 - 100
                                                </span>
                                                <span>&nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                </span>
                                                <span
                                                    style='font-size:12px; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    E-Mail:
                                                </span>
                                                <a href='mailto:info@cib.de' target='_blank'
                                                    style='color: #e11e19; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; text-decoration: underline;'>
                                                    info@cib.de
                                                </a>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Gesch&#228;ftsf&#252;hrer: Dipl. Ing. Ulrich Brandner
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Umsatzsteuer-Identifikationsnummer gem&#228;&#223; 27
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Umsatzsteuergesetz: DE 201 280 686
                                                    Registergericht M&#252;nchen
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    HRB 123286 D-U-N-S &#169;
                                                    Nummer: 315792585
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>