<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml'
    xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Bewerbungsschreiben</title>
    <style>
        p {
            margin: 10px 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        body,
        #bodyTable,
        #bodyCell {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        p,
        a,
        td {
            mso-line-height-rule: exactly;
        }

        p,
        a,
        td,
        body,
        table {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 10px;
        }

        .templateContainer {
            max-width: 600px !important;
        }

        a.Button {
            display: block;
        }

        .buttonFront:hover {
            background-color: #C60006;
            border-radius: 3px;
        }

        .linkback:hover {
            color: #C60006 !important;
        }

        .TextContent {
            word-break: break-word;
        }

        .DividerBlock {
            table-layout: fixed !important;
        }

        body,
        #bodyTable {
            background-color: #eff1f4;
        }

        #bodyCell {
            border-top: 0;
        }

        .templateContainer {
            border: 0;
        }

        #templatePreheader {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 0px;
            padding-left: 40px;
            padding-right: 40px;
        }

        #templatePreheader .TextContent {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 150%;
            text-align: left;
        }

        #templateHeader {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-top: 0;
            border-bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #templateHeader .TextContent {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
        }

        #templateBody {
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-top: 0;
            border-bottom: 2px solid #EAEAEA;
            padding-top: 0;
            padding-bottom: 9px;
        }

        #templateBody .TextContent,
        #templateBody .TextContent p {
            color: #282D30;
            font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
        }

        #templateBody .TextContent a,
        #templateBody .TextContent p a {
            color: #4d6688;
            font-weight: normal;
            text-decoration: none;
        }

        @media only screen and (min-width:768px) {
            .templateContainer {
                width: 600px !important;
            }
        }

        @media only screen and (max-width: 480px) {

            body,
            table,
            td,
            p,
            a {
                -webkit-text-size-adjust: none !important;
            }
        }

        @media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @media only screen and (max-width: 480px) {
            #bodyCell {
                padding-top: 10px !important;
            }
        }

        @media only screen and (max-width: 480px) {
            .TextContentContainer {
                max-width: 100% !important;
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 480px) {
            .TextContent {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }

        }

        @media only screen and (max-width: 480px) {
            #templatePreheader {
                display: block !important;
            }
        }

        @media only screen and (max-width: 480px) {
            #templatePreheader .TextContent {
                font-size: 14px !important;
                line-height: 150% !important;
            }
        }
    </style>
</head>

<body>
    <table id='bodyTable'>
        <tr>
            <td id='bodyCell'>
                <table class='templateContainer'>
                    <tr>
                        <td id='templateBody'>
                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width:100%; min-width:100%;' class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding: 0px 40px 0px; font-size: 16px;'>
                                                            <span style='color:#282d30; font-size:14px'>
                                                                <br><br>Hallo {{name}} ,<br><br>
                                                                Thanks so much for reaching out! This auto-reply is just to let you know… 
                                                                <br><br>

We received your email and will get back to you with a (human) response as soon as possible.
<br><br>
If you have any additional information that you think will help us to assist you, please feel free to reply to this email.
<br><br>
We look forward to chatting soon!
<br><br>
Cheers,
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width='100%' class='DividerBlock'
                                style='min-width:100%;'>
                                <tbody class='DividerBlockOuter'>
                                    <tr>
                                        <td class='DividerBlockInner' style='min-width: 100%; padding: 18px 18px 0px;'>
                                            <table class='DividerContent'
                                                width='100%' style='min-width: 100%;border-top: 1px solid #EAEAEA;'>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width:100%; min-width:100%;' class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:40px;'>
                                                            <span style='color:#282d30; font-size:10px'>
                                                                This is an automatically generated message. Please do not reply to this message.
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class='TextBlock' style='min-width:100%;'>
                                <tbody class='TextBlockOuter'>
                                    <tr>
                                        <td class='TextBlockInner' style='padding-top:9px;'>
                                            <table style='max-width: 100%; min-width: 100%;'
                                                class='TextContentContainer'>
                                                <tbody>
                                                    <tr>
                                                        <td class='TextContent'
                                                            style='padding: 0px 40px 9px; line-height: 150%;'>
                                                            <span style='color:#282d30; font-size: 12px'>
                                                                DeskNow GmbH<br>
                                                                Carl-Benz-Stra&#223;e 27<br> 
                                                                48734 Reken
                                                                
                                                            </span>
                                                            <p>
                                                                <a href='https://mypam.com'
                                                                    target='_blank' title='mypam.com' class='linkback'
                                                                    style='color: #4d6688; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; text-decoration: underline;'>mypam.com
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style='max-width: 100%; min-width: 100%;' class='TextContentContainer'>
                                <tbody>
                                    <tr>
                                        <td class='TextContent'
                                            style='padding: 0px 40px 40px; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; line-height: 150%; text-align:left;'>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    T: +49 (0) 2864 - 33032311
                                                </span>
                                                <span>&nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                </span>
                                                <span>&nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                </span>
                                                <span
                                                    style='font-size:12px; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    E-Mail:
                                                </span>
                                                <a href='mailto:info@mypam.com' target='_blank'
                                                    style='color: #4d6688; font-family: Segoe UI, helvetica neue, helvetica, arial, sans-serif; font-size: 12px; text-decoration: underline;'>
                                                    info@mypam.com
                                                </a>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Gesch&#228;ftsf&#252;hrer: Marius Jarzyna
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Umsatzsteuer-Identifikationsnummer gem&#228;&#223; 27
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    Umsatzsteuergesetz: DE328273243
                                                    Amtsgericht Coesfeld
                                                </span>
                                            </p>
                                            <p style="margin: 0;">
                                                <span
                                                    style='font-size:12px; text-align:left; font-family: Segoe UI, Arial, Helvetica, sans-serif;'>
                                                    HRB18625
                                                    Nummer: 30 2019 225 240
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>